<style>
    .modal-fit .modal-content {
        height: auto !important;
        overflow: unset !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
    }

    .modal-content {
        height: auto !important;
        overflow: auto !important;
    }

    label {
        font-size: 13px;
        font-weight: bold;
    }


    /*--------------------------------------------------*/
    /*.input-group-addon {
        padding: 4px 12px !important;
    }

    input[type=date]::-webkit-inner-spin-button,
    input[type=date]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    .btn-default, .btn-dark-blue {
        border-color: #314559;
        color: #000;
        background-color: white;
    }

        .btn-default.active, .btn-dark-blue.active, .open .dropdown-toggle.btn-default, .open .dropdown-toggle.btn-dark-blue {
            border-color: #2c3e50;
            color: #fff;
            background-color: #2f4254;
        }

    button > span.active {
        color: #ffffff !important;
    }

    .text-info {
        color: #ffffff;
    }*/



    /*--------------------------------------------------*/



    .pay_bck_btn, .pay_bck_btn:hover, .pay_bck_btn:focus, .pay_bck_btn:active {
        margin-bottom: 20px !important;
        width: 120px !important;
        height: 31px !important;
        border-radius: 20px !important;
        font-size: 16px !important;
        font-weight: 600 !important;
        color: #fff !important;
        /* font-family: itallic; */
        background-color: #63aacf !important;
        padding: 4px !important;
        outline: none !important;
        float: right !important;
        margin-right: 15px !important;
    }

    .spacer {
        height: 50px !important;
    }

    .padRow {
        padding: 5px;
    }


    .font_bold {
        font-weight: bold;
    }
</style>
<script>
    //$("#datepicker1").datepicker({
    //    format: 'dd-mm-yyyy',
    //    autoclose: true,
    //    todayHighlight: true,
    //    showAnim: "slideDown",
    //    beforeShowDay: function (date) {
    //        var dmy = date.getDate();
    //        if (date.getDate() < 10)
    //            dmy = "0" + dmy;
    //        dmy += "-";
    //        if (date.getMonth() + 1 < 10)
    //            dmy += "0";
    //        dmy += (date.getMonth() + 1) + "-" + date.getFullYear();

    //        if ($.inArray(dmy, availableDates) != -1) {
    //            return true;
    //        } else {
    //            return false;
    //        }
    //    }

    //});
    //$("#datepicker2").datepicker({
    //    format: 'dd-mm-yyyy',
    //    autoclose: true,
    //    todayHighlight: true,
    //    showAnim: "slideDown",
    //    beforeShowDay: function (date) {
    //        var dmy = date.getDate();
    //        if (date.getDate() < 10)
    //            dmy = "0" + dmy;
    //        dmy += "-";
    //        if (date.getMonth() + 1 < 10)
    //            dmy += "0";
    //        dmy += (date.getMonth() + 1) + "-" + date.getFullYear();

    //        if ($.inArray(dmy, availableDates) != -1) {
    //            return true;
    //        } else {
    //            return false;
    //        }
    //    }

    //});

    //$("#datepicker3").datepicker({
    //    format: 'dd-mm-yyyy',
    //    autoclose: true,
    //    todayHighlight: true,
    //    showAnim: "slideDown",
    //    beforeShowDay: function (date) {
    //        var dmy = date.getDate();
    //        if (date.getDate() < 10)
    //            dmy = "0" + dmy;
    //        dmy += "-";
    //        if (date.getMonth() + 1 < 10)
    //            dmy += "0";
    //        dmy += (date.getMonth() + 1) + "-" + date.getFullYear();

    //        if ($.inArray(dmy, availableDates) != -1) {
    //            return true;
    //        } else {
    //            return false;
    //        }
    //    }

    //});

    //$("#datepicker1").datepicker({
    //    format: 'dd-mm-yyyy',
    //    autoclose: true,
    //    todayHighlight: true
    //});
    //$("#datepicker2").datepicker({
    //    format: 'dd-mm-yyyy',
    //    autoclose: true,
    //    todayHighlight: true
    //});
    //$("#datepicker3").datepicker({
    //    format: 'dd-mm-yyyy',
    //    autoclose: true,
    //    todayHighlight: true
    //});
</script>
<!--<div class="modal-header ">

</div>-->
<div class="modal-body">
    <div class="col-md-12 ">
        <div class="cl-details">
            <h2> Student Attendance Details</h2>
        </div>
    </div>
    <div class="col-md-12 ">
        <div class="card">
            <div class="col-md-12">
                <table class="table table-bordered  table-striped table-rounded">
                    <thead>
                        <tr class="cb-1">
                            <th>S.No</th>
                            <th>Pin</th>
                            <th>Date</th>
                            <th>Status</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in StudentDetails" ng-class="{'text-success': data.Approved =='1','text-warning': data.Approved =='0','text-danger': data.Approved =='2'}">
                            <td ><b>{{$index+1}}</b></td>
                            <td><b>{{data.Pin}}</b></td>
                            <td><b>{{data.Date}}</b></td>
                            <td><b>{{data.Status}}</b></td>
                            
                        </tr>
                    </tbody>
                </table>
                <div class="row padRow" ng-repeat="data in RemarksData">
                    <div class="col-md-2 font_bold">Remarks</div>
                    <div class="col-md-10" ng-class="{'text-success': data.Approved =='1','text-warning': data.Approved =='0','text-danger': data.Approved =='2'}">: {{data.remarks}}</div>
                </div>
                
               

            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-danger" style="margin-top:21px" ng-click="closeModal()">Close</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success pull-right" ng-show="UserTypeId == 1015 && StudentDetails[0].Approved==0" style="margin-top:21px" ng-click="Verify(StudentDetails[0].AttendeeId, StudentDetails[0].Pin)"> Verify & Submit </button>
                    <!--<button class="btn btn-success pull-right" ng-show="UserTypeId == 2 || UserTypeId == 3" style="margin-top:21px" ng-click="Verify(StudentDetails.Religion,StudentDetails.Caste,StudentDetails.admittedDate,StudentDetails.LeftDate,StudentDetails.CollegeDuesPaid,StudentDetails.Promoted,StudentDetails.Conduct,StudentDetails.LeftClass,StudentDetails.StudentRemarks)"> Verify & Submit </button>-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>

