<div ng-controller="SubjectsFacultyController">
    <div class="breadcrumb-header ng-scope">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <!--<h5 class="ng-binding">Branch Name: MECHANICAL ENGINEERING</h5>-->
                <ol class="breadcrumb">
                    <li><a href="#!/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#!/Dashboard/Academic">Academic</a></li>
                    <li><a href="#!/Dashboard/Academic/Electives">Subject List</a></li>
                </ol>
            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <div class="container">

            <div class="col-md-12">
                <div class="cl-details">
                    <h2>Faculty Subject List</h2>
                </div>               
            </div>
            <div class="col-md-12">
              
                <div id="attendanceReport" class="table-responsive table-custom-tables-tb  ng-scope" >
                    <table class="table table-bordered  table-striped table-rounded">
                        <thead>
                            <tr class="cb-1">                             
                                <th style="width: 2%;">S.No</th>                             
                                <th class="text-center" style="width: 10%" ng-click="sort('Branch')">Faculty Name</th>
                                <th class="text-center" style="width: 10%" ng-click="sort('Branch')">Subject Teaching</th>
                                <!--<th class="text-center" style="width: 10%" ng-click="sort('On Roll')">On Roll</th>
                                <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">Need ToRecommend</th>-->                          
                            </tr>
                        </thead>
                        <tbody>                     
                            <tr style="background-color:#fff!important;" ng-repeat="x in FacultysubjectList" class="ng-scope">                           
                                <td class="text-center ng-binding">{{$index+1}}</td>                 
                                <td class="text-center ng-binding">{{x.Name}}</td>
                                <td class="text-center ng-binding">{{x.SubjectName}}</td>
                                <!--<td class="text-center ng-binding">43</td>
                                <td class="text-center"><a ng-click="CondonationList(x)" class="ng-binding">0</a></td>-->                           
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
   
</div>