<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Users">
    <title>Eligibility Certificate</title>
</head>
<body>
    <div ng-controller="EligibilityCertificateListController">
        <div class="panel-group">
            <div class="panel">
                <div class="panel-heading header_background"><span class="fa fa-book heading_icon"></span><b>Eligibility Certificate</b></div>
                <div class="panel-body form_border">
                    <form action="#">
                        <div class="panel panel-info" style="margin-bottom:12px;">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="email">Eligibility Certificate Seeking Admission Into :</label>
                                    <div class="form-group">
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio" ng-change="ChackChange()" id="YearEligibility" checked ng-model="EligibilityCertificateList.YearEligibility" value="F">First Year
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio" ng-change="ChackChange()" id="YearEligibility" ng-model="EligibilityCertificateList.YearEligibility" value="S">Second Year
                                        </label>

                                    </div>
                                    <div class="col-md-6">
										<div class="form-group">
											<!--<label for="sel1">Enter SSC Hall Ticket :</label>-->
											<label for="sel1">Enter Acknowledgment Number:</label>
											<input class="form-control" type="number" ng-model="FormNo" input-Number-Only />
											<!--<input class="form-control" type="number" ng-model="SSCHallTicket" value={{EligibilityCertificateList.SSCHallTicket}} />-->
											<!--<input class="form-control" type="number" ng-model="SSCHallTicket" input-Number-Only />-->
										</div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <button type="button" ng-click="Show()" class="btn form_btn_align save_btn">Show<span class="fa fa-save heading_icon btn_icons"></span></button>
                                </div>
                                <!--<div class="form-group">
                                    <label for="sel1">Select Stream :</label>
                                    <select class="form-control" id="CourseID" ng-model="CourseID" ng-change="FillCoursePart(CourseID)">
                                        <option ng-selected="CourseID == option.CourseID" ng-repeat="option in CourseList" value="{{option.CourseID}}">{{option.CourseName}}</option>
                                    </select>
                                </div>-->
                            </div>
                            <!--<div class="col-md-6">
                                <div class="form-group">
                                    <label for="sel1">Select Exam :</label>
                                    <select class="form-control" id="ExamID" ng-model="ExamID">
                                        <option ng-selected="ExamID == option.ExamID" ng-repeat="option in ExamList" value="{{option.ExamID}}">{{option.ExmName}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="sel1">Select Branch :</label>
                                    <select class="form-control" id="BranchID" ng-model="BranchID">
                                        <option ng-selected="BranchID == option.BranchID" ng-repeat="option in BranchList" value="{{option.BranchID}}">{{option.BranchName}}</option>
                                    </select>
                                </div>
                            </div>-->
                         
                          

                        </div>
                    </form>
                </div>
            </div>
            <div class="box-content">
                <div id="EligibilityCertificates" ej-grid e-recorddoubleclick="doubleclick" e-allowgrouping="true" e-allowsorting="true" e-allowresizing="true"
                     e-datasource="EligibilityCertificatedata"></div>
            </div>
        </div>
    </div>
</body>
</html>

