
    #page-wrapper{
        margin-top:50px !important;
        padding: 0 30px !important;
        min-height: 90vh !important;
        border-left: 1px solid #2c3e50;
        border: none !important;
    }
    @media (min-width: 768px){

        #page-wrapper 
        {
            margin: 0px !important;
            padding: 0 30px !important;
            min-height: 90vh !important;
            border-left: 1px solid #2c3e50 !important;
        }
    }
    .page-content{
       /* margin-top: 50px !important;*/
    }
    .second_logo_style{
        float: right !important;
    }
    .title_dashboard{
        font-size: 20px !important; 
        color: #ffffff !important;
        padding-left: 50px !important;
        padding-top: 5px !important;
    }
    .welcome_title{
        margin-top: 15px !important; 
        text-align: right !important;
    }
    #page-wrapper{
        border-left: none !important;
    }