.b{
    border: 1px solid red;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    /*background-image: url(../img/gray-texture.png);*/
}
.top_margin{
    margin-top: 30px;
}
.header_background{
    /*background: linear-gradient(40deg,#45cafc,#303f9f);*/
    background: #0497FF;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.heading_icon{
    padding-right:  10px;
}
.form_border{
    border: 1px solid #0497FF;
    /*border-color: linear-gradient(40deg,#45cafc,#303f9f);*/
    border-top: none;
}
.form_btn_align{
    text-align: center !important;
}
/*------------------------------Form buttons------------------------------------*/
.save_btn{
    background: #4285F4;
    color: #ffffff; 
    margin: 6px;
}

.delete_btn{
    background: #FF3547;
    color: #ffffff; 
    margin: 6px;
}
.cancel_btn{
    background: #FF8800;
    color: #ffffff; 
    margin: 6px;
}
.btn_icons{
    padding: 7px; 
    font-size: 15px;
}

.header_main_menu{
    color: #ffffff;
    font-size: 15px;
   
    font-weight: 500;

}
.main_header_main_menu{
    color: #ffffff !important;
    font-size: 18px;
   
    font-weight: 500;
}
.user_icon{
    padding: 5px;
}
.table_heading{
    font-size: 20px !important;
    color: #4285F4;
   

}
.table_top_border{
    border-top: 2px solid #ccc !important;
    margin-top: 20px; 
    padding-top: 20px;
}
.view_btn{
    background: #4285F4 !important;
    color: #ffffff; 
    /*margin: 6px;*/
}

.top_heading {
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
    border: none!important;
    
    color: rgb(32, 44, 45)!important;
    color: #982F1A !important;
    text-align: center!important;
    -o-text-overflow: clip!important;
    text-overflow: clip!important;
    text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) !important;
}

.logo_title{text-align:center; 
    font-size:16px; 
    text-align:center; 
    margin-top: 1px;
}
.header_section{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 3px !important;
    background: #fff !important;
}
.heading_section_row{
    background: #fff;
    margin-left: 0px;
    margin-right: 0px;
}
.center_align_text{
    margin-top: 20px;
}
.second_image{
    width: 100px; float: right;
}
.footer_section{
    color: #fff;
    padding-top: 15px;
    background: #3D7EAA;
    background: -webkit-linear-gradient(to right,  #0497FF,#68C0FF);
    background: linear-gradient(to right,  #0497FF,#68C0FF);
}
.main_heading2{
            color: #982F1A !important;
            padding-left: 50px !important;
            padding-top: 15px !important;
            font-size: 20px;
        }
        .my_top_li_border{
            border-top: 1px solid #0497FF !important;
            margin-top: 10px !important;
        }
        .form_top_spacing{
             padding-top: 23px;
        }

        .top_navbar_icons_padding{
            padding-right: 10px;   
        }


        .tab_custom_width{
            /*width: 25% !important;*/
            padding: 0 !important;
            margin: 0 !important;
        }
        .nav_pills_background{
             border: 2px solid #ccc;
             background: #eee;
        }
        .continue_btn_section{
             float: right;
             text-align: right;
        }
        .btn_fa_icon{
             float: right;
             padding: 3px !important;
        }
        .btn_margin_top{
             margin-top: 7px;
        }
        .manage_overflow{
             overflow-x: auto;
        }
        .table_heading_background{
            background-color: #16A085 !important; 
            color: white;
        }
        .view_btn_align{
             text-align: center;
        }
        <style type="text/css">
         @media only screen and (min-width : 320px) and (max-width : 768px) {
        .top_heading{
            font-size: 14px !important;
            margin-top: 0px !important;
        }
    }
    @media only screen and (min-width : 320px) and (max-width : 480px) {
        .center_align_text{
            margin-top: 0px !important;
        }
        .logo_title{text-align:center; 
            font-size:13px !important; 
            text-align:center; 
        }

            .login .content {
                padding: 3px;
                width: 100%;
            }
            .login .copyright{ text-align:center; }
        }

        @media only screen and (min-width : 480px) and (max-width : 743px) {
            .center_align_text{
                margin-top: 10px !important;
            }
            .logo_title{text-align:center; 
                    font-size:13px !important; 
                    text-align:center; 
                    color: #982f1a; margin-top: 1px;
                }

                .login .content {
                    padding: 3px;
                    width: 100%;
                }
                .login .copyright{ text-align:center; }
                }
                @media only screen and (min-width : 744px) and (max-width : 991px) {

                    .logo_title{
                        text-align:center; 
                        text-align:center;
                        color: #982f1a;
                    }
                    .login .content {
                        padding: 3px;
                        width: 100%;
                    }
                    .login .copyright{ text-align:center; }
                    .center_align_text{
                        margin-top: 20px !important;
                    }
                }
                @media only screen and (min-width : 992px) and (max-width : 1366px) {

                    .logo_title{
                        text-align:center; 
                        font-size:23px !important; 
                        text-align:center; 
                        color: #982f1a;
                    }
                    .login .content {
                        padding: 3px;
                        width: 100%;
                    }
                    .login .copyright{ text-align:center; }
                    .center_align_text{
                        margin-top: 10px !important;
                    }
                }
                @media only screen and (min-width : 991px) and (max-width : 1029px) {

                    .logo_title{
                        text-align:center; 
                        font-size:23px !important; 
                        text-align:center; 
                        color: #982f1a;
                    }
                    .login .content {
                        padding: 3px;
                        width: 100%;
                    }
                    .login .copyright{ text-align:center; }
                    .center_align_text{
                        margin-top: 5px !important;
                    }
                }
