################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoftwareSuite
/SoftwareSuite/bin/publish
/SoftwareSuite/bin/publish.7z
/SoftwareSuite/Properties/PublishProfiles
