################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoftwareSuite
/SoftwareSuite/Properties/PublishProfiles
/SoftwareSuite/obj
