################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoftwareSuite
/SoftwareSuite/bin/publish
/SoftwareSuite/bin/publish.7z
/SoftwareSuite/Properties/PublishProfiles
/SoftwareSuite/bin/app.publish
/SoftwareSuite/Connectionlogfilepath 29Jan2025.txt
/SoftwareSuite/SoftwareSuite.csproj.user
/SoftwareSuite/Connectionlogfilepath 30Jan2025.txt
/SoftwareSuite/Connectionlogfilepath 31Jan2025.txt
/SoftwareSuite/obj/Debug
/SoftwareSuite/bin
/SoftwareSuite/obj/Release/Package/PackageTmp/bin
/SoftwareSuite/Connectionlogfilepath 07Feb2025.txt
/SoftwareSuite/Connectionlogfilepath 08Feb2025.txt
/SoftwareSuite/TokenStore.txt
/packages/BCrypt.Net-Next.4.0.3
/SoftwareSuite/Connectionlogfilepath 10Feb2025.txt
/packages
/SoftwareSuite/Connectionlogfilepath 15Feb2025.txt
/SoftwareSuite/Connectionlogfilepath 17Feb2025.txt
/SoftwareSuite/Connectionlogfilepath 18Feb2025.txt
/SoftwareSuite/obj/Release/Package/PackageTmp/contents/Errors
/.vs
/SoftwareSuite/Areas/HelpPage/App_Start
/SoftwareSuite/Areas/HelpPage/Views
/SoftwareSuite/obj/Production
/SoftwareSuite/Connectionlogfilepath 20Feb2025.txt
/SoftwareSuite/Areas/HelpPage/SampleGeneration
/SoftwareSuite/Areas/HelpPage/ModelDescriptions
/SoftwareSuite/Areas/HelpPage/Models
/SoftwareSuite/Areas/HelpPage
/SoftwareSuite/Downloads
/SoftwareSuite/obj/Release/Package/PackageTmp/Areas/HelpPage
/SoftwareSuite/Reports
/SoftwareSuite/Connectionlogfilepath 21Feb2025.txt
/SoftwareSuite/Connectionlogfilepath 23Feb2025.txt
/SoftwareSuite/Connectionlogfilepath 27Feb2025.txt
