* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: auto;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	background: #fff;
}

.header {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	background: #fff;
	float: left;
}

.top-header {
	background: #0075b3;
	width: 100%;
	min-height: 40px;
	border-bottom: 1px solid rgba(225, 255, 255, 0.5);
}

.bread {
	width: 100%;
	background: #fff;
	border-bottom: 1px solid rgba(120, 130, 140, .13);
	float: left;
	padding: 10px;
}

.bread .breadcrumb {
	margin: 0px;
	background: #fff;
	padding: 0px;
	width: 100%;
	float: left;
	font-size: 13px;
}

.time {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	float: left;
}

.time p {
	color: #fff;
	line-height: 40px;
	margin-bottom: 0px;
	font-size: 13px;
}

.menus {
	width: 100%;
	margin: 0 auto;
}

.menus .mega-nav.navbar-default {
	border: none;
}

.mega-nav {
	background: #2a8fcf;
	border-radius: 0;
	margin-bottom: 0;
}

.mega-nav.navbar-default .navbar-nav>li>a {
	color: #fff;
	transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background: #0075b3;
}

.mega-nav.navbar-default .navbar-nav>li>a:hover {
	background: #0075b3;
	color: #fff;
}

.mega-nav.navbar-default .navbar-nav>li.dropdown>a:hover,
.mega-nav.navbar-default .navbar-nav>li.dropdown>a:focus,
.mega-nav.navbar-default .navbar-nav>li.dropdown>a:active {
	color: #fff !important;
}

#MainMenu {
	padding-left: 0;
}

#MainMenu .menu-list li {
	transition: all 200ms ease-out;
	-webkit-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
}

#MainMenu .menu-list li+li {
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.mega-nav.navbar-default .navbar-nav>li.menu-list .list-category a {
	color: #333;
}

.main {
	width: 100%;
	margin: 4em 0em 2em 0em;
	float: left;
}

.card {
	background: #fff;
	min-height: 50px;
	box-shadow: 0 0 0 1px #dce3ec, 0 8px 16px 0 #dce3ec;
	position: relative;
	margin-bottom: 20px;
	transition: .5s;
	border-radius: 0;
	display: inline-block;
	width: 100%;
}

.card .body {
	font-size: 14px;
	color: #444;
	padding: 15px;
	font-weight: 400;
}

.offer-custom-style h2 {
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	position: absolute;
	top: -39px;
	background: #2a8fcf;
	padding: 7px 15px;
	border: 1px solid #e8e8e8;
	left: 25px;
	line-height: 25px;
}

.custom-forms {
	width: 100%;
	margin: 1em 0em 1em 0em;
	float: left;
}

.custom-forms label {
	color: #222;
	font-size: 14px;
	font-weight: normal;
	margin: 10px 0px 10px 0px;
}

.custom-forms .form-control {
	border-radius: 0px;
	box-shadow: none;
	font-size: 13px;
	color: #788598;
        -moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}

.mtp-50 {
	margin-top: 15px;
}

.submit-btn {
	width: 100%;
	float: right;
	margin-bottom: 50px;
}

.submit-btn button {
	background: #7cb82f;
	padding:5px 20px;
	color: #fff;
	float: right;
	border: none;
	font-size: 14px;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
	border-radius: 2px;
}

.custom-forms .form-control :focus {
	outline: none;
	box-shadow: none;
}

.rdo-grp {
	position: absolute;
	top: calc(50% - 10px);
	top: 40px;
}

.rdo-grp label {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	/*padding: 6px 8px;*/
	border-radius: 20px;
	float: left;
	transition: all 0.2s ease;
	font-size: 14px;
	color: #788598;
}


/*.rdo-grp label:hover {
  background: rgba(125,100,247,0.06);
}*/

.rdo-grp label:not(:last-child) {
	margin-right: 16px;
}

.rdo-grp label span {
	vertical-align: middle;
}

.rdo-grp label :first-child {
	margin-right: 16px;
}

.rdo-grp label span:first-child {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: #e8eaed;
	border-radius: 50%;
	transition: all 0.2s ease;
	margin-right: 8px;
	padding: 0px;
}

.rdo-grp label span:first-child:after {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	margin: 2px;
	background: #fff;
	border-radius: 50%;
	transition: all 0.2s ease;
}

.rdo-grp label:hover span:first-child {
	background: #2a8fcf;
}

.rdo-grp input {
	display: none;
}

.rdo-grp input:checked+label span:first-child {
	background: #2a8fcf;
}

.rdo-grp input:checked+label span:first-child:after {
	transform: scale(0.5);
}

#datepicker>span:hover {
	cursor: pointer;
}

#datepicker input {
	background: #fff;
	border-radius: 0px;
}

#datepicker .input-group-addon {
	border-radius: 0px;
}


/* The customcheck */

.customcheck {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Hide the browser's default checkbox */

.customcheck input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 5px;
}


/* On mouse-over, add a grey background color */

.customcheck:hover input~.checkmark {
	background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.customcheck input:checked~.checkmark {
	background-color: #2a8fcf;
	border-radius: 5px;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}


/* Show the checkmark when checked */

.customcheck input:checked~.checkmark:after {
	display: block;
}


/* Style the checkmark/indicator */

.customcheck .checkmark:after {
	left: 11px;
	top: 6px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.custom-img img {
	width: 150px;
	height: 120px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

.custom-check-boxes label {
	font-size: 14px;
	color: #333;
}

.custom-sign-img img {
	width: 250px;
	height: 120px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

.footer {
	background: #fff;
	padding: 10px;
	color: #455a64;
	border-top: 1px solid rgba(120, 130, 140, .13);
	text-align: right;
	width: 100%;
	position: fixed;
	z-index: 9;
	bottom: 0;
	left: 0;
	transition: .2s ease-out;
}

.copy {
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

.copy p {
	font-size: 13px;
	color: #333;
	margin: 0px;
}

.copy a {
	font-size: 13px;
	color: #036961;
	text-decoration: underline;
}

.scroll-top-wrapper {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	text-align: center;
	z-index: 99999999;
	font-size: 12px;
	color: #fff;
	width: 30px;
	background-color: #2a8fcf !important;
	height: 30px;
	line-height: 30px;
	right: 70px !important;
	bottom: 20px;
	background: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper.show {
	visibility: visible;
	cursor: pointer;
	font-size: 16px;
	opacity: 1.0;
}

.scroll-top-wrapper i.fa {
	line-height: inherit;
}

.custom-table {
	width: 100%;
	margin: 2em 0em 1em 0em;
	float: left;
}

.custom-table table tr th {
	background-color: #e2f4ff !important;
	color: #000 !important;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px;
}

.custom-table table tr td {
	color: #000;
	padding: 10px;
	font-size: 13px;
}

.custom-table table tr td span {
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}

.custom-modal-header{
    width:100%;
    margin:0 auto;
    float:left;}

.custom-modal-header h5{
    color:#333;
    font-size:18px;
}

.custom-modal-header h5 {
    color: #333;
    font-size: 18px;
    float:left;
    font-weight: 600;
}

.custom-modal-header .close {
    background: #e04a39;
    opacity: inherit;
    padding: 10px;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 5px;
    color: #fff;
}
.custom-modal-header .close:hover{
    border:1px solid #e04a39;
    background:#fff;
    color:#e04a39;
}

.custom-mtp {
    width: 100%;
    margin: 3em 0em 0em 0em;
    float: left;

}


.popup-btn {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 2em;
}

.popup-btn button {
    background: #7cb82f;
    padding: 5px 20px;
    color: #fff;
    border: none;
    font-size: 14px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}
.popup-btn button.reject-btn{
    background:#e04a39;
}



.cancel-but {
       box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 2px;
    border: 1px #B0BEC5 solid !important;
    color: #86898c!important;
    padding: 7px 15px !important;
    background: none !important;
    font-size: 13px !important;
    text-transform:uppercase;
}
.c-1 h2{
    background:#607d8b !important;
}

.c-2 h2{
    background:#8cc152 !important;
}

.c-3 h2{
    background:#e456a7 !important;
}


.c-4 h2{
    background:#ffa600 !important;
}

.c-5 h2{
    background:#ac92ec !important;
}

.c-6 h2{
    background:#7b68e4 !important;
}



.custom-main-card .card {
    margin-bottom: 4em;
    width: 100%;
    float: left;
}

.details{
    width:100%;
    margin:20px 0px 0px 0px;

    float:left;
    min-height:100px;
}

.details p{
    color:#788598;
    font-size:14px;
    line-height:2em;
    float:left;
    margin:0px;
}

.download input{
    background:#fff !important;
}

.download .input-group-addon{
    background:#0075b3;
    border-radius:0px;
    color:#fff;
}

.type-test{
      width: 100%;
    margin: 3em 0em 0em 0em;
    padding: 20px;
    float: left;
    background: #f8f8f8;
    min-height: 300px;
    border: 1px solid #20aae3;
    border-radius: 3px;



}

.type-test-1 textarea{
          width: 100%;
    margin: 3em 0em 0em 0em;
    padding: 20px;
    float: left;
    background: #f8f8f8;
    min-height: 330px;
    border: 1px solid #20aae3;
    border-radius: 3px;
}

.type-test-1 textarea:focus{
    border:none;
    box-shadow:none;

}
.type-test img{
    margin-bottom:10px;
    float:left;
}

.exam-btn {
	width: 100%;
	float: right;
	margin-bottom:20px;
}

.exam-btn button {
	background: #20aae3;
	padding: 5px 20px;
	color: #fff;
	float: right;
	border: none;
	font-size: 14px;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
	border-radius: 2px;
}
.content-card{
    padding:20px;
}



.type-test-q{
      width: 100%;
    margin: 3em 0em 0em 0em;
    padding: 20px;
    float: left;
    background: #f8f8f8;
    min-height: 150px;
    border: 1px solid #20aae3;
    border-radius: 3px;



}

.typing-q{
    width:100%;
    margin:0 auto;
    padding:0px;
    float:left;
}

.typing-q h2{
    margin:0 auto;
    padding:0px;
    float:left;
    color:#333;
    font-size:16px;
    line-height:2em;
}

.popup-btn button.add {
    background: #2a8fcf;
}

.popup-btn button.reset {
    background: #2a8fcf;
}
.terms{
    width:100%;
    margin:2em 0em 0em 0em;
    float:left;
}

.terms ul{
    margin:0em 0em 2em 0em;
    padding:0px;
    width:100%;
    float:left;
}

.terms ul li{
    list-style-type:none;
    display:inline-block;
    font-size:13px;
    line-height:35px;
    color:#788598;
}
.terms-label label{
    font-size:13px;
color:#788598;
padding: 5px 0px 0px 35px;
font-weight:500;
   
}

.terms ul li:before {
    font-family: FontAwesome;
    content: "\f101";
    font-size: 14px;
    color: #788598;
    padding-right: 5px;
}
/*------------------Application Form --------------------------*/

.rdo-grp {
    position: absolute;
    top: calc(50% - 10px);
    top: 0px;
}
.submit-btn.sub_btn {
    margin-top: 42px;
    float: left;
    width: auto;
}
.required:before {
        content: "*";
        color: red;
        font-weight: bold;
    }
.custom-forms label {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0px 10px 0px;
    font-weight: 600;
}
.pre-text{
    padding:10px;
}
p {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
i.fa.fa-arrow-right {
    color: #2a8fcf;
}
.back-btn button {
    background: #30a8c3;
    padding: 5px 20px;
    color: #fff;
    
    border: none;
    font-size: 14px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}
/* ------------------------------Login Page-------------------------- */
.loginCard{
	padding: 15px;
}
.login_card{
	box-shadow: 1px 1px 8px 2px #cadff1
}

.text-center.login_head{
	font-weight: bold;
	color: #ffffff;
	border: 1px solid #2a8fcf;
	margin: 0px;
	padding: 10px;
	background-color: #2a8fcf;
	font-size: 20px;
}
.login_row{
	padding: 20px;
	padding: 30px 20px;
}
button.btn.login_btn {
    background-color: #2a8fcf;
    color: #fff;
    font-weight: bold;
    width: 100%;
}
.spacer{
	height: 100px;
}
/* ---------------------Nav Bar---------------------- */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li.active a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 3px;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 3px;
}
nav.stroke ul li.text-decorate a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 0px;
}
nav.stroke ul li a.active:after{
  width: 100%;
}
nav.stroke ul li a:hover:after {
  width: 90%;

}

nav.stroke ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav.stroke ul li a:hover {
  /*color: #555;*/
}
.text_decorate{
    text-decoration:none!important;
}
.navbar-inverse .navbar-nav > .active > a:after{
     position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fff;
  height: 3px;
 
}

.navbar-inverse .navbar-nav > .active > a:after {
    width:100%;
    
}
navbar-inverse .navbar-nav > .active > a:after{
  transition: all .5s;
}
nav.stroke.navbar.navbar-default.mega-nav {
    min-height: 55px;
}
/*-------------*-----------------Payment Response--------------*-------------- */

