<!--<div class="form-group">
    <label for="{{objectname}}" class="control-label" ng-show="{{objecttext!==''}}">
        {{objecttext}}
        <span ng-show="{{compulsory}}" class="require">*</span>
    </label>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-{{icontype}}"></i>
        </span>
        <textarea type="text"
               name="{{objectname}}"
               id="{{objectname}}"
               placeholder="{{objecttext}}"
               class="form-control input"
               ng-model="object"
               ng-disabled="isdisabled"
               ng-required="{{compulsory}}"
               ng-trim="true"
               maxlength="{{length}}" />
    </div>
</div>-->
<div class="form-group">
    <label for="{{objectname}}" class="control-label" ng-show="{{objecttext!==''}}">
        {{objecttext}}
    </label>
    <textarea type="text"
              name="{{objectname}}"
              id="{{objectname}}"
              placeholder="{{objecttext}}"
              class="form-control input-sm"
              ng-model="object"
              ng-disabled="isdisabled"
              ng-required="{{compulsory}}"
              ng-trim="true"
              maxlength="{{length}}" />
</div>