@media (max-width: 768px) {
    .login100-form {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        padding: 65px 65px 40px 65px;
    }
    .login100-more {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }
    .logoarea-footer{
        margin-bottom: 36px;
    }
    .copyrights {
        position: relative;
        color: #fff;
        right:0;
        top: 10px;
        text-align:center;
    }
    .logoarea {
        padding: 92px 20px 46px;
        top: 0px;
        position: relative;
    }
    .card-part1-logoPart, .logInarea {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
        position: relative;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px){
    .logoarea {
        padding: 92px 20px 46px;
        top: 0px;
        position: relative;
    }
}
