<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add key="dbservername" value="10.10.151.38" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="databasename" value="SS_PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      
    <add key="TwshDBServerName" value="10.10.151.38" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TwshDBServerName" value="TWSHCBT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="TwshDBServerName" value="10.10.151.38" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TwshDatabaseName" value="TWSH_PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="ccicdbservername" value="10.10.151.38" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ccicdatabasename" value="CCIC_PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      
    <add key="IvcDBServerName" value="10.10.151.38" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IvcDatabaseName" value="LEPCET" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      
    <add key="mail_Service_Username" value="sbtet-helpdesk@telangana.gov.in" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="mail_Service_Password" value="Sbtet@2019" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="SMS_ENV" value="PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- TWSH Exam -->
    <add key="TwshExamApi" value="https://sbtet.telangana.gov.in/TwshCbt/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--QBGD DataSharing key-->
    <add key="QBGDDataSharingApiKey" value="Qbgdkmfgribdest"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--Epass DataSharing key-->
    <add key="TsEpassDataSharingApiKey" value="Epass_Grib_leas_hokdo"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--OSDES DataSharing key-->
    <add key="osdesFacultyDataSharingApiKey" value="osdespcfvhkdrizstkrhtvbuzoi" />
    <add key="OsdesNrUrl" value="https://osdes.sbtet.telangana.gov.in/att/api/nrdata/update"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--Twsh Odc Photos Path-->
    <add key="TwshOdcStudentPhotos" value="C:\SB-TET\Publish\TwshOdcStudentPhotos"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TwshStudentPhotos" value="C:\SB-TET\Publish\TwshStudentPhotos"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AttendanceSharingApiKey" value="SBTET@2019" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AttendanceFile" value="C:\SB-TET\Attendancedata\attendancelog" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ExceptionLogFile" value="C:\SB-TET\API\log.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BillDeskResFile" value="C:\SB-TET\API\log.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BillDeskS2SFile" value="C:\\SBTET_Logs\\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BillDeskQueryApiFile" value="C:\SB-TET\API\log.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Query_Api" value="https://www.billdesk.com/pgidsk/PGIQueryController" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="PaymentRouteRedirectLatefee" value="https://sbtet.telangana.gov.in/index.html#!/Dashboard/PaymentResponse"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PaymentGateRouteRedirect" value="https://sbtet.telangana.gov.in/index.html#!/PaymentGatewayResponse"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CertificateFeePaymentGateRouteRedirect" value="https://sbtet.telangana.gov.in/index.html#!/CertificateFeePaymentGatewayResponse" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PaymentRouteRedirectTwsh" value="https://sbtet.telangana.gov.in/index.html#!/Twsh/PaymentResponse"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PaymentRouteRedirectCcic" value="https://sbtet.telangana.gov.in/index.html#!/DashboardPaymentResponse"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TwshCertificateFeePaymentRouteRedirect" value="https://sbtet.telangana.gov.in/index.html#!/TwshCertificateFeePaymentRouteRedirect"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CcicPaymentGateRouteRedirect" value="https://sbtet.telangana.gov.in/index.html#!/CcicPaymentGatewayResponse" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="StudentPhotosFolder" value="C:\SB-TET\Publish\StudentPhotos\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DownloadsFolderPath" value="C:\SB-TET\Publish\downloads\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="certFolderPath" value="C:\SB-TET\Publish\downloads\Cert\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="circularPath" value="C:\SB-TET\Publish\downloads\Circular\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TenderPath" value="C:\SB-TET\Publish\downloads\Circular\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="StaffPath" value="C:\SB-TET\Publish\downloads\Circular\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoeSignPath" value="C:\SB-TET\Publish\contents\img\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DownloadsFolderPathTR" value="C:\SB-TET\Publish\Reports\TR\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Environment" value="PRODUCTION" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AUA_ENV" value="PRODUCTION" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SLK" value="LGCRA-EISYO-ZUERW-FRDFM"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WadhStr" value="E0jzJ/P8UopUHAieZn8CKqS4WPMi5ZSYXgfnlfkWjrc="  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AUTHURL" value="https://prodauatsts.telangana.gov.in/auakua25/api/auakuaclientgateway/auth"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="KYCURL" value="https://prodauatsts.telangana.gov.in/auakua25/api/auakuaclientgateway/kyc"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="OTPURL" value="https://prodauatsts.telangana.gov.in/auakua25/api/auakuaclientgateway/otp"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DEMOURL" value="https://prodauatsts.telangana.gov.in/auakua25/api/auakuaclientgateway/demo"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PreprodPublickey" value="C:\SB-TET\Publish\uidai_auth_encrypt_preprod.cer"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ProdPublicKey" value="C:\SB-TET\Publish\uidai_auth_prod.cer"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="BMA_API_Key" value="cd521429-145e-423a-a0f3-0ba3763cd732"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BMA_API_ROOT" value="https://attendance.telangana.gov.in/attendeesapi/api/attendee/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BMA_API_Register" value="https://attendance.telangana.gov.in/attendeesapi/api/attendee/register"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BMA_API_Update" value="https://attendance.telangana.gov.in/attendeesapi/api/attendee/update"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BMA_API_Transfer" value="https://attendance.telangana.gov.in/attendeesapi/api/attendee/transfer"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BMA_API_Delete" value="https://attendance.telangana.gov.in/attendeesapi/api/attendee/delete "  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <!--affiliation-->
    <add key="AFF_YR" value="2023-2024"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AFF_CollegesList" value="https://affln.sbtet.telangana.gov.in/affiliation/rest/collegeService/colleges-list"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AFF_College_Branch_Info" value="https://affln.sbtet.telangana.gov.in/affiliation/rest/collegeService/get-college-info"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AFF_College_TecH_Staff_Info" value="https://affln.sbtet.telangana.gov.in/affiliation/rest/collegeService/get-college-teaching-staff"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AFF_Polycet_Exam_Centers" value="https://affln.sbtet.telangana.gov.in/affiliation/rest/collegeService/getExamCenterslatlngs"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>