<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Users">
    <title>Non Functional College Exam Forms</title>
</head>
<body>
    <div ng-controller="ExamFormsDioListController">
        <div class="container">
            <!-- New Style Start-->
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>Non Functional College Exam Forms</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>Home</li>
                        <li>Examination</li>
                        <li>Non Functional College Exam Forms</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">

                <div class="col-md-12">
                    <div class="showhide">
                        <!--<div class="row" ng-hide="{{ForBoardDisable}}">
                            <div class="col-md-2 col-md-offset-2">
                                <div class="form-group">
                                    <label for="sel1">District :</label>
                                    <select class="form-control input-sm" id="DistrictID" ng-model="ExamFormsDioList.DistrictID" ng-change="FillMandal(ExamFormsDioList.DistrictID)">
                                        <option ng-selected="ExamFormsDioList.DistrictID == option.DistrictID" ng-repeat="option in DistrictList" value="{{option.DistrictID}}">{{option.DistName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1">Mandal :</label>
                                    <select class="form-control input-sm" id="MandalID" ng-model="ExamFormsDioList.MandalID" ng-change="FillCollege(ExamFormsDioList.MandalID)" ng-disabled="MandalDisable">
                                        <option ng-selected="ExamFormsDioList.MandalID == option.MandalID" ng-repeat="option in MandalList" value="{{option.MandalID}}">{{option.MandalName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="sel1">College :</label>
                                    <select class="form-control input-sm" id="CollegeID" ng-model="ExamFormsDioList.CollegeID" ng-change="FillCollData(ExamFormsDioList.CollegeID)" ng-disabled="CollegeDisable">
                                        <option ng-selected="ExamFormsDioList.CollegeID == option.CollegeID" ng-repeat="option in CollegeList" value="{{option.CollegeID}}">{{option.ColName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-md-2 col-md-offset-2">
                                <div class="form-group">
                                    <label for="sel1">Stream :</label>
                                    <select class="form-control" ng-model="ExamFormsDioList.CourseID" id="CourseID" ng-change="FillCoursePart(ExamFormsDioList.CourseID)">
                                        <option ng-selected="ExamFormsDioList.CourseID == option.CourseID" ng-repeat="option in CourseList" value="{{option.CourseID}}">{{option.CourseName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1">Branch :</label>
                                    <select class="form-control" ng-model="ExamFormsDioList.BranchID" id="BranchID">
                                        <option value="" selected>All</option>
                                        <option ng-selected="ExamFormsDioList.BranchID == option.BranchID" ng-repeat="option in BranchList" value="{{option.BranchID}}">{{option.BranchName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="sel1">Year :</label>
                                    <select class="form-control" ng-model="ExamFormsDioList.ExamID" id="ExamID">
                                        <option ng-selected="ExamFormsDioList.ExamID == option.ExamID" ng-repeat="option in ExamList" value="{{option.ExamID}}">{{option.ExmName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div style="margin-top:24px;" class="col-md-1">
                                <button type="button" ng-click="Show()" class="btn btn-sm btn-detail">Submit</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12"><hr></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="sel1" style="color:red;"> To Add Condidate please Click <b><mark>+</mark></b> Button</label>
                                <div id="GridExamFormsDio"
                                     ej-grid
                                     e-recorddoubleclick="doubleclick"
                                     e-allowgrouping="true"
                                     e-allowsorting="true"
                                     e-allowresizing="true"
                                     e-datasource="ExamFormsDioListData">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><hr></div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- New Style End-->
            <!--  <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li>You are in </li>
                            <li>Home</li>
                            <li>Examination</li>
                            <li>Exam Forms</li>
                        </ol>
                    </div>
                </div>
                <div class="row ctitle">
                    <div class="col-md-4">
                        <span><strong>Exam Forms</strong></span>
                    </div>
                </div>
                <div class="row frow">
                    <div class="row" ng-hide="{{ForBoardDisable}}">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="sel1">District :</label>
                                <select class="form-control input-sm" id="DistrictID" ng-model="ExamFormsDioList.DistrictID" ng-change="FillMandal(ExamFormsDioList.DistrictID)">
                                    <option ng-selected="ExamFormsDioList.DistrictID == option.DistrictID" ng-repeat="option in DistrictList" value="{{option.DistrictID}}">{{option.DistName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="sel1">Mandal :</label>
                                <select class="form-control input-sm" id="MandalID" ng-model="ExamFormsDioList.MandalID" ng-change="FillCollege(ExamFormsDioList.MandalID)" ng-disabled="MandalDisable">
                                    <option ng-selected="ExamFormsDioList.MandalID == option.MandalID" ng-repeat="option in MandalList" value="{{option.MandalID}}">{{option.MandalName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="sel1">College :</label>
                                <select class="form-control input-sm" id="CollegeID" ng-model="ExamFormsDioList.CollegeID" ng-change="FillCollData(ExamFormsDioList.CollegeID)" ng-disabled="CollegeDisable">
                                    <option ng-selected="ExamFormsDioList.CollegeID == option.CollegeID" ng-repeat="option in CollegeList" value="{{option.CollegeID}}">{{option.ColName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-2 col-md-offset-1">
                <div class="form-group">
                    <label for="sel1">Academic Instance :</label>
                    <select class="form-control" ng-model="ExamFormsDioList.AcdYrID" id="AcdYrID">
                        <option ng-selected="ExamFormsDioList.AcdYrID == option.AcdYrID" ng-repeat="option in AcdYearList" value="{{option.AcdYrID}}">{{option.AcdYrName}}</option>
                    </select>
                </div>
            </div>-->
            <!-- <div class="col-md-2">
                    <div class="form-group">
                        <label for="sel1">Stream :</label>
                        <select class="form-control" ng-model="ExamFormsDioList.CourseID" id="CourseID" ng-change="FillCoursePart(ExamFormsDioList.CourseID)">
                            <option ng-selected="ExamFormsDioList.CourseID == option.CourseID" ng-repeat="option in CourseList" value="{{option.CourseID}}">{{option.CourseName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="sel1">Branch :</label>
                        <select class="form-control" ng-model="ExamFormsDioList.BranchID" id="BranchID">
                            <option ng-selected="ExamFormsDioList.BranchID == option.BranchID" ng-repeat="option in BranchList" value="{{option.BranchID}}">{{option.BranchName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="sel1">Exam :</label>
                        <select class="form-control" ng-model="ExamFormsDioList.ExamID" id="ExamID">
                            <option ng-selected="ExamFormsDioList.ExamID == option.ExamID" ng-repeat="option in ExamList" value="{{option.ExamID}}">{{option.ExmName}}</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-2">
                    <label for="sel1"></label><br />
                    <div class="form-group">
                        <button type="button" ng-click="Show()" class="btn btn-sm btn-detail">View</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="GridExamFormsDio"
                         ej-grid
                         e-recorddoubleclick="doubleclick"
                         e-allowgrouping="true"
                         e-allowsorting="true"
                         e-allowresizing="true"
                         e-datasource="ExamFormsDioListData">
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</body>
</html>



