<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Users">
    <title>Exam Forms Improvement (Category 2)</title>
</head>
<body>
    <div ng-controller="ExamFormsImprovementListController">
        <div class="container">
            <!-- New Style Start-->
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>Exam Forms Improvement (Category 2)</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>Home</li>
                        <li>Examination</li>
                        <li>Exam Forms Improvement (Category 2)</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">

                <div class="col-md-12">
                    <div class="showhide">
                        <!--<div class="row" ng-hide="{{ForBoardDisable}}">
                            <div class="col-md-2 col-md-offset-2">
                                <div class="form-group">
                                    <label for="sel1">District :</label>
                                    <select class="form-control input-sm" id="DistrictID" ng-model="ExamFormsImprovementList.DistrictID" ng-change="FillMandal(ExamFormsImprovementList.DistrictID)">
                                        <option ng-selected="ExamFormsImprovementList.DistrictID == option.DistrictID" ng-repeat="option in DistrictList" value="{{option.DistrictID}}">{{option.DistName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1">Mandal :</label>
                                    <select class="form-control input-sm" id="MandalID" ng-model="ExamFormsImprovementList.MandalID" ng-change="FillCollege(ExamFormsImprovementList.MandalID)" ng-disabled="MandalDisable">
                                        <option ng-selected="ExamFormsImprovementList.MandalID == option.MandalID" ng-repeat="option in MandalList" value="{{option.MandalID}}">{{option.MandalName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="sel1">College :</label>
                                    <select class="form-control input-sm" id="CollegeID" ng-model="ExamFormsImprovementList.CollegeID" ng-change="FillCollData(ExamFormsImprovementList.CollegeID)" ng-disabled="CollegeDisable">
                                        <option ng-selected="ExamFormsImprovementList.CollegeID == option.CollegeID" ng-repeat="option in CollegeList" value="{{option.CollegeID}}">{{option.ColName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-md-2 col-md-offset-2">
                                <div class="form-group">
                                    <label for="sel1">Stream :</label>
                                    <select class="form-control" ng-model="ExamFormsImprovementList.CourseID" id="CourseID" ng-change="FillCoursePart(ExamFormsImprovementList.CourseID)">
                                        <option ng-selected="ExamFormsImprovementList.CourseID == option.CourseID" ng-repeat="option in CourseList" value="{{option.CourseID}}">{{option.CourseName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1">Branch :</label>
                                    <select class="form-control" ng-model="ExamFormsImprovementList.BranchID" id="BranchID">
                                        <option value="" selected>All</option>
                                        <option ng-selected="ExamFormsImprovementList.BranchID == option.BranchID" ng-repeat="option in BranchList" value="{{option.BranchID}}">{{option.BranchName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="sel1">Year :</label>
                                    <select class="form-control" ng-model="ExamFormsImprovementList.ExamID" id="ExamID">
                                        <option ng-selected="ExamFormsImprovementList.ExamID == option.ExamID" ng-repeat="option in ExamList" value="{{option.ExamID}}">{{option.ExmName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div style="margin-top:24px;" class="col-md-1">
                                <button type="button" ng-click="Show()" class="btn btn-sm btn-detail">Submit</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12"><hr></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="sel1" style="color:red;"> To Add Condidate please Click <b><mark>+</mark></b> Button</label>
                                <div id="GridExamFormsImprovment"
                                     ej-grid
                                     e-recorddoubleclick="doubleclick"
                                     e-allowgrouping="true"
                                     e-allowsorting="true"
                                     e-allowresizing="true"
                                     e-datasource="ExamFormsImprovementListData">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><hr></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



