<div class="form-group" >
    <label for="{{objectname}}" class="control-label" ng-if="objecttext">
        {{objecttext}}        
        <span ng-show="{{compulsory}}" class="require">*</span>
    </label>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </span>
        <input type="text"
               date-range-picker            
               name="{{objectname}}"
               id="{{objectname}}"
               placeholder="{{objecttext}}"
               class="form-control date-picker"
               ng-model="object"                          
               ng-required="{{compulsory}}" 
               options="opts"             
               />
    </div>  
</div>