<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Station">
    <title>STATE BOARD OF TECHNICAL EDUCATION AND TRAINING TELANGANA</title>

</head>
<body>
    <!-- New login page open -->
    <div ng-controller="loginController">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 bg-shadow">
                    <form class="login100-form validate-form">
                        <div class="card-part1-logInpart">
                            <div class="logInarea">
                                <div class="LogIn">
                                    <img src="../../contents/img/lock.png" />
                                    <h3>Board / College <br />Request Failed!</h3>
                                </div>
                                <div class="cont">
                                    <h3>Sorry!</h3>
                                    <h5><span style="color:red">System failed to process your request, Please try again or Contact SBTET. </span></h5>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="login100-more">
                        <div class="card-part1-logoPart">
                            <div class="logoarea">
                                <div class="logo-new">
                                    <img src="../../contents/img/big-logo.png" />
                                    <h3>STATE BOARD OF TECHNICAL <br />EDUCATION AND TRAINING TELANGANA</h3>
                                </div>
                                <div class="bssheadline text-center">
                                    <h2>Software Suite</h2>
                                </div>
                            </div>
                            <div class="logoarea-footer clear-both">
                                <p>Any queries - Connect with us. <br />In all working days : 10:30AM to 05:00PM</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> 040-23222192</a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> sbtet-helpdesk@telangana.gov.in</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyrights">
                    <p>2019 © State Board of Technical Education and Training, Telangana</p>
                </div>
            </div>
        </div>
    </div>

    <!-- New login page close -->





</body>
</html>
