<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Station">
    <title>STATE BOARD OF TECHNICAL EDUCATION AND TRAINING TELANGANA</title>

</head>
<body>
    <!-- New login page open -->
    <div ng-controller="ForgetPasswordController">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 bg-shadow">
                    <form class="login100-form validate-form" >
                        <div class="card-part1-logInpart">
                            <div class="logInarea">
                                <div class="LogIn">
                                    <img src="../../contents/img/lock.png" />
                                    <h3>Board / College <br />Login</h3>
                                </div>
                                <div class="cont">
                                    <div class="form sign-in">
                                        <label>
                                            <input id="username" type="text" class="form-control sm" name="username" ng-keypress="keyLogin($event)" ng-keydown="ClearErrorText($event)" auto-focus ng-model="ForgetPassword.LoginName" placeholder="User Name" required maxlength="30" />
                                        </label>
                                        <label>
                                            <input id="Mobile" type="text" class="form-control sm" maxlength="10" name="mobile" ng-keypress="keyLogin($event)" ng-keydown="ClearErrorText($event)" ng-model="ForgetPassword.CellNo" placeholder="Registered Mobile Number" required maxlength="25" />
                                        </label>
                                        <div class="forgotbtn">
                                            <button class="btn btn-info submit forgot-btns" ng-disabled="Smsbtndisable" ng-click="SavePreDetails()">Send</button>
                                            <button type="reset" class="btn btn-warning submit forgot-btns" ng-click="Exit()">Cancel</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form class="login100-form validate-form" hidden>
                        <div class="card-part1-logInpart">
                            <div class="logInarea">
                                <div class="LogIn">
                                    <img src="../../contents/img/lock.png" />
                                    <h3>Board / College <br />Login</h3>
                                </div>
                                <div class="cont" >
                                    <div class="form sign-in">
                                        <label>
                                            <input id="username" type="text" class="form-control sm" name="otp" ng-keypress="keyLogin($event)" ng-keydown="ClearErrorText($event)" auto-focus ng-model="ForgetPassword.otp" placeholder="OTP" required maxlength="30" />
                                        </label>
                                        <label>
                                            <input id="Mobile" type="text" class="form-control sm" maxlength="10" name="NewPassword" ng-keypress="keyLogin($event)" ng-keydown="ClearErrorText($event)" ng-model="ForgetPassword.NewPassword" placeholder="New Password" required />
                                        </label>
                                        <label>
                                            <input id="Mobile" type="text" class="form-control sm" maxlength="10" name="ConfirmPassword" ng-keypress="keyLogin($event)" ng-keydown="ClearErrorText($event)" ng-model="ForgetPassword.NewPassword" placeholder="Confirm Password" required />
                                        </label>
                                        <div class="forgotbtn">
                                            <button class="btn btn-info submit forgot-btns" ng-disabled="Smsbtndisable" ng-click="SavePreDetails()">Save</button>
                                            <button type="reset" class="btn btn-warning submit forgot-btns" ng-click="Exit()">Cancel</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="login100-more">
                        <div class="card-part1-logoPart">
                            <div class="logoarea">
                                <div class="logo-new">
                                    <img src="../../contents/img/big-logo.png" />
                                    <h3>STATE BOARD OF TECHNICAL <br />EDUCATION AND TRAINING TELANGANA</h3>
                                </div>
                                <div class="bssheadline text-center">
                                    <h2>Business Software Suite</h2>
                                </div>
                            </div>
                            <div class="logoarea-footer clear-both">
                                <p>Any queries - Connect with us. <br />In all working days : 10:30AM to 05:00PM</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> 040-23222192</a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> sbtet-helpdesk[at]telangana[dot]gov[dot]in</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyrights">
                    <p>2019 © State Board of Technical Education and Training, Telangana</p>
                </div>
            </div>
        </div>
    </div>

    <!-- New login page close -->





</body>
</html>
