<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Users">
    <title>Govt. Colleges Enrollment Form</title>
</head>
<body>
    <div ng-controller="GovtColEnrollListController">
        <!-- New Style Start-->
        <header>
            <div class="row topbar_row_section">
                <div class="container-fluid">
                    <div style="background-color: #dbece4;" class="row">
                        <img src="../../contents/img/updated_header.jpg" class="img img-responsive" alt="header_banner" style="width: 100%;position: relative;">
                    </div>
                </div>
            </div>

            <div class="row navbar_section">
                    <nav class="navbar navbar-inverse navbar_inverse_section">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#"></a>
                            </div>
                            <div class="container navbar_container_section">
                                <div class="row">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown">
                                            <!--<a style="color:#fff" href="#" class="mylinks"><span>New Enrollment</span></a>-->
                                            <a style="color:#fff" href="#" ng-click="NewEnrollment()"><span>New Enrollment</span></a>
                                        </li>
                                        <li class="dropdown">
                                            <a style="color:#fff" href="#" ng-click="ExistingEnrollment()"><span>Existing Enrollment</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
    

        </header>
        <div class="container">
                <div class="row ctitle">
                        <div class="col-md-5">
                            <span><strong>Govt. Colleges Enrollment Form</strong></span>
                        </div>
                        <div class="col-md-7 text-right">
                                <ol class="breadcrumb">
                                        <li>You are in </li>
                                        <li>Govt. Colleges Enrollment Form</li>
                                    </ol>
                        </div>
                    </div>
           
            <div class="row frow">
                <div class="col-md-5 col-md-offset-4">
                    <div class="form-group">
                        <center>
                            <span style="font-size:14px; margin-top:9px;" class="rspan">Report Type:</span>
                            <div class="maxl">
                                <form>
                                    <label class="radio inline">
                                        <input type="radio" name="optradio" id="EnrollExist" ng-model="GovtColEnrollList.EnrollExist" value="N">
                                        <span>New Enrollment </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="optradio" id="EnrollExist" checked ng-model="GovtColEnrollList.EnrollExist" checked value="Y" checked>
                                        <span> Existing Enrollment </span>
                                    </label>

                                </form>
                            </div>
                        </center>
                        <hr>
                        <div>
                            <center>
                                <button type="button" ng-click="Show()" class="btn btn-detail btn-sm">Submit</button>
                                <!--<button type="reset" ng-click="" class="btn btn-reset btn-sm">Cancel</button>-->
                                <button class="btn btn-reset btn-sm" onclick="window.location='http://bie.telangana.gov.in/';">Cancel</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

