<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Station">
    <title>STATE BOARD OF TECHNICAL EDUCATION AND TRAINING TELANGANA</title>

</head>
<body>
    <div ng-controller="loginController">
        <header>
            <div class="top-header hidden">
                <div class="container">
                    <div class="row">
                       <div class="col-md-6 col-sm-12 col-xs-12">
                           <div class="office-timings">
                               <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 9:30 AM to 5:30 PM on All Working Days Only</h2>
                           </div>
                       </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="o-info">
                                <ul>
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> helpdesk-ie@telangana.gov.in</a></li>
                                    <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i>040-24600110 </a></li>
                                </ul>
                            </div>
                        </div>



                        <div class="col-md-10 col-sm-12 col-xs-12 hidden">
                            <div class="mobile_nos">
                                <h2>For any Queries please mail to <b>helpdesk-ie@telangana.gov.in Contact : 040-24600110 (Timings 9:30 AM to 5:30 PM on All Working Days Only)</b> </h2>

                            </div>
                        </div>
                  
                 
                    </div>
                </div>
            </div>

            <div class="header" ng-include="'app/views/SBPHeaderBeforeLogin.html'">
                
            </div>
            <!--header-2 style-->
            <div class="header hidden">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="login-header">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="logo">
                                            <img src="../../contents/img/tsbie_1.png" class="img-responsive">
                                        </div>
                                    </div>
                            
                                    <div class="col-md-10">
                                        <div class="logo-text">
                                            <h2>STATE BOARD OF TECHNICAL EDUCATION AND TRAINING TELANGANA</h2>

                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="logo-2">
                                            <img src="../../contents/img/telangana-logo-png.png" class="img-responsive">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--header-2 style-->

            <div class="row topbar_row_section hidden">
                <div class="t-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="head"></div>
                            </div>
                            <!--<img src="../../contents/img/updated_header.jpg" class="img img-responsive" alt="header_banner" style="width: 100%;position: relative;">-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row navbar_section">
                <nav class="navbar navbar-inverse navbar_inverse_section">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="container navbar_container_section">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </nav>
            </div>

        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 main " >
                    <div class="panel-group login_form">
                        <div class="panel">
                            <div class="panel-body">
                                <span class="login-txt">Board / College Login</span>
                                <form action="#" class="form-horizontal">

                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                <label for="username" class="col-sm-12 control-label">Username</label>
                                                <div class="col-sm-12">
                                                    <div class="input-group">

                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                        <input id="username" type="text" class="form-control sm" name="username" ng-keypress="keyLogin($event)" ng-keydown="ClearErrorText($event)" auto-focus ng-model="login.userName" placeholder="Enter  Username" required maxlength="30">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="username" class="col-sm-12 control-label">Password</label>
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                        <input id="password" type="password" class="form-control sm" name="password" ng-keypress="keyLogin($event)" ng-keydown="ClearErrorText($event)" ng-model="login.password" placeholder="Enter Password" required maxlength="25">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 hidden">
                                            <span class="fp">
                                                <!--<a ng-click="ForgetPasswordChange()">Forgot Username/Password</a>-->
                                                <a>Forgot Username/Password</a>
                                            </span>
                                          
                                        </div>
                                    </div>

                                        <!--<div class="remember checkbox">
            <input type="checkbox"> Remember me
        </div>-->
                                  
                                        <div class="form-group">
                                            <!-- Button -->

                                            <div class="col-lg-12">

                                                <button type="button" class="btn btn-sm btn-primary login-button" ng-click="login()">Login<span class="fa fa-sign-in heading_icon btn_icons"></span></button>

                                            </div>
                                        </div>

                                        <!--<div class="col-md-12">
            <center>
                <span><a ng-click="GovtColEnrollOpen()">Govt. Colleges Enrollment Form</a></span>
            </center>
        </div>-->
                                        <div class="col-md-12 hidden">
                                            <center>
                                                <span><a href="#" ng-click="StudentRequests()">Student Requests</a></span>
                                            </center>
                                        </div>
                                        <div class="col-md-12 hidden">
                                            <center>
                                                <span><a href="#" ng-click="HallTicket()">Hall Ticket</a></span>
                                            </center>
                                        </div>
                                        <center>
                                        </center>
</form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:100%;text-align:center;">
            <img src="../../../contents/img/loading2.gif" ng-show="LoadImg" width="100" />
        </div>
    </div>

    <div class="col-md-12 footer_section" ng-include="'app/views/SBPFooter.html'">
       
    </div>

</body>
</html>
