<style>
    .modal-fit .modal-content {
        height: auto !important;
        overflow: unset !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height:auto;
    }
    .modal-content {
    height: auto !important;
    overflow: auto !important;
}
    label{
        font-size:13px;
        font-weight:bold;
    }
</style>

<div class="modal-header ">
    <h4 class="modal-title text-center" >
        <b>Verify the Payment Details before you Proceed</b>
        <!--<button type="button" class="btn btn-circle btn-close btn-modal-close" ng-click="closeModal()">&times;</button>-->
    </h4>
</div>
<div class="modal-body">
    <div >
        <div class="row">
            <div class="form-group">
                <div class="col-md-4"><label for="stdSem">College Name </label></div>
                <div class="col-md-8">: {{CollegeName}}</div>
                
               
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4"><label for="stdSem">Branch Code </label></div>
                <div class="col-md-8">: {{BranchCode}}</div>
               

            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4"><label for="stdSem">Scheme </label></div>
                <div class="col-md-8">: {{payscheme}}</div>


            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4"><label for="stdSem">Semester </label></div>
                <div class="col-md-8">: {{paysem}}</div>


            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4"><label for="stdSem">Examination </label></div>
                <div class="col-md-8">:{{Examtype}}</div>


            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4"><label for="stdSem">Reference No </label></div>
                <div class="col-md-8">: {{TransactionNo}}</div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-4"><label for="stdSem">Amount </label></div>
                <div class="col-md-8">: {{fineamount}}</div>
              

            </div>
        </div>
       
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success pull-right" ng-click="Proceedtopayfine()">Proceed</button>
    <button type="button" class="btn btn-default pull-left" ng-click="closeModal()">Cancel</button>
</div>