
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Station">
    <title>Header</title>
    <link href="../../contents/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
   <script type="text/javascript">
       setInterval(function () {
           var date = new Date();
           var format = "DD-MMM-YYYY DDD";
           dateConvert(date, format)
       }, 1);

       function dateConvert(dateobj, format) {
           var year = dateobj.getFullYear();
           var month = ("0" + (dateobj.getMonth() + 1)).slice(-2);
           var date = ("0" + dateobj.getDate()).slice(-2);
           var hours = ("0" + dateobj.getHours()).slice(-2);
           var minutes = ("0" + dateobj.getMinutes()).slice(-2);
           var seconds = ("0" + dateobj.getSeconds()).slice(-2);
           var day = dateobj.getDay();
           var months = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"];
           var converted_date = "";

           switch (format) {
               case "DD-MMM-YYYY DDD":
                   converted_date = date + "-" + month + "-" + year + " " + hours + ":" + minutes + ":" + seconds;;
                   break;
               case "YYYY-MM-DD":
                   converted_date = year + "-" + month + "-" + date;
                   break;
               case "YYYY-MMM-DD DDD":
                   converted_date = year + "-" + months[parseInt(month) - 1] + "-" + date
                   + " " + hours + ":" + minutes + ":" + seconds;
                   break;
           }
           //return converted_date;
           // to show it I used innerHTMl in a <p> tag
           if (document.getElementById("example") != null) {
               document.getElementById("example").innerHTML = "Today's Date is :  " + converted_date + "  GMT+0530 (India Standard Time)";
           }
       }
   </script>
</head>


<body>
    <div class="tp-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="time">
                      <p id="example"></p> 
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="site-changes" style="display:none;">
                        <p>
                            Click the button for Font Resize or Color Change ->
                        </p>
                     
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="logo-img">
                        <img src="../../contents/img/big-logo.png" class="img-responsive" />
                        <h2>STATE BOARD OF TECHNICAL EDUCATION AND TRAINING <br/>TELANGANA</h2>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="o-info">
                        <ul>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> 040-23222192</a></li>
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> sbtet-helpdesk@telangana.gov.in</a></li>
                            <li class="googlePlay"><a href="https://play.google.com/store/apps/details?id=com.sbtet.centerlocator" target="_blank"><img src="../../contents/img/chrome.png" width="15" height="15" /> Download Mobile App</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="login-header hidden">
                    <div class="row">
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <div class="logo">
                                <img src="../../contents/img/tsbie_1.png" class="img-responsive">
                                <div class="logo-text">
                                    <h2>STATE BOARD OF TECHNICAL EDUCATION AND TRAINING TELANGANA</h2>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="office-timings">
                                <h2><i class="fa fa-clock-o" aria-hidden="true"></i> 9:30 AM to 5:30 PM on All Working Days Only</h2>
                            </div>
                            <div class="o-info">
                                <ul>
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> helpdesk-ie@telangana.gov.in</a></li>
                                    <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i>040-24600110 </a></li>
                                </ul>
                            </div>
                            <div class="logo-2">

                                <img src="../../contents/img/telangana-logo-png.png" class="img-responsive">
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>