<style>
    .highlight {
        text-transform: uppercase;
        font-weight: bold;
    }
.photo_border {
    padding: 10px;
    border: 1px solid #000;
}

    @media print {

        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            float: left;
        }

        .col-md-12 {
            width: 100%;
        }

        .col-md-11 {
            width: 91.66666666666666%;
        }

        .col-md-10 {
            width: 83.333333%;
        }

        .col-md-9 {
            width: 75%;
        }

        .col-md-8 {
            width: 66.66666666666666%;
        }

        .col-md-7 {
            width: 58.333333333333336%;
        }

        .col-md-6 {
            width: 50%;
        }

        .col-md-5 {
            width: 41.66666666666667%;
        }

        .col-md-4 {
            width: 33.33333333333333%;
        }

        .col-md-3 {
            width: 25%;
        }

        .col-md-2 {
            width: 16.666666666666664%;
        }

        .col-md-1 {
            width: 8.333333333333332%;
        }
         .header-top-section {
            display: none;
        }
          .footer_section {
            display: none;
        }
        .para {
            text-indent: 50px;
            padding-left: 10px;
            text-align: justify;
            line-height: 2;
        }

        table.table {
            clear: both;
            margin-bottom: 6px !important;
            max-width: none !important;
            border: 1px solid #000;
            /* height: 1000px!important; */
            margin: 0px 50px;
            width: auto;
        }

        th {
            border: 1px solid #000;
            text-align: left;
            padding: 8px;
        }

        .table > tbody > tr > td {
            padding: 5px;
            line-height: 1.42857143;
            vertical-align: top;
            border-left: 1px solid #000 !important;
            border-top: 0px !important;
        }

            .table > tbody > tr > td.total_border {
                border: 1px solid #000 !important;
            }

            .table > tbody > tr > td.bord_top {
                border-top: 1px solid #000 !important;
                border-left: 0px #fff !important;
            }
            .photo_border {
    padding: 10px;
    border: 1px solid #000;
}
        .qr_css{
     height:70px;
     margin-right:30px;
     margin-bottom:55px;
 }
      .top_spacer{
     height:225px;
     width: 100%;
 }
      .top_spacer1{
     height:190px;
     width: 100%;
 }
               .fsize{
     font-size:12px;
 }
               .spacer{
                   display:none;
               }
               .print_btn{
                   display:none;
               }
    }

    th {
        border: 1px solid #000;
        text-align: left;
        padding: 8px;
    }

    .para {
        text-indent: 50px;
        padding-left: 10px;
        text-align: justify;
        line-height: 2;
    }

    .table > tbody > tr > td {
        padding: 6px;
        line-height: 1.42857143;
        vertical-align: top;
        border-left: 1px solid #000 !important;
        border-top: 0px !important;
    }

    table.table {
        clear: both;
        margin-bottom: 6px !important;
        max-width: none !important;
        border: 1px solid #000;
        /* height: 1000px!important; */
        margin: 0px 50px;
        width: auto;
    }

    .table > tbody > tr > td.total_border {
        border: 1px solid #000 !important;
    }

    .table > tbody > tr > td.bord_top {
        border-top: 1px solid #000 !important;
        border-left: 0px #fff !important;
    }
     .qr_css{
     height:90px;
     margin-right:30px;
      margin-bottom:55px;
 }
 .top_spacer1{
     height:190px;
     width: 100%;
 }
    .top_spacer{
     height:225px;
     width: 100%;
 }
 .fsize{
     font-size:12px;
 }
</style>

<div ng-controller="ProvisionalCertificateController">
    <div class="container">
        <div  ng-if="topSpace">
           
            <div class="row">
                <img class="top_spacer" src="../../../contents/img/od_logo.jpeg" />
            </div>
            </div>
        <div  ng-if="topSpace1">
            <div class="row">
                <img class="top_spacer1" src="../../../contents/img/od_logo.jpeg" />
            </div>
        </div>
        <div class="row">
            ODC : <b>18041423597</b>
        </div>
        <div class="row">
            <div class="card" style="border:1px solid #000;">
                <p class="para">
                    This is to certify that <span class="highlight">{{Name}}</span> Son/Daughter of <span class="highlight">{{father}}</span> having completed the precribed
                    <span class="highlight">{{year}}</span> Course of study approved by the Board at <span class="highlight">{{College}}</span> and fulfill all the requirements
                    is awarded this Diploma in
                    <span class="highlight">{{branch}}</span> He/She has completed the pass requirements for the award of Diploma at the examination hld in
                    <span class="highlight"> {{year}} </span>
                    His/Her permanent Identificati0on is <span class="highlight">{{pin}}</span> and He/She is placed in <span class="highlight">{{calss}}</span> on basis of marks secured as indicated.
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th rowspan="2">Examination</th>
                                    <th rowspan="2" width="10%">Max Marks</th>
                                    <th rowspan="2" width="10%" class="text-center">Marks Secured </th>
                                    <th colspan="2" width="40%" class="text-uppercase text-center">Marks taken into Consideration for Award of Class</th>

                                    <!-- <th rowspan="2" width="6%">Re- marks</th>-->
                                </tr>
                                <tr>
                                    <th>(In Figures)</th>
                                    <th>(In Words)</th>

                                </tr>

                            </thead>
                            <tbody>

                                <tr ng-repeat="data in Marks">
                                    <td>{{data.Exam}}</td>
                                    <td class="highlight">{{data.max_marks}}</td>
                                    <td class="highlight">{{data.marks_secured}}</td>
                                    <td class="highlight">{{data.figures}}</td>
                                    <td class="highlight">{{data.words}}</td>
                                </tr>
                                <tr>
                                    <td class="total_border">Total Marks In Figures</td>
                                    <td class="bord_top" colspan="2"></td>
                                    <td class="bord_top"><div class=""><b>3897</b></div></td>
                                    <td class="total_border">3897</td>
                                </tr>
                                <tr>
                                    <td class="total_border">In Words</td>
                                    <td class="total_border" colspan="4"><span class="highlight">Three Eight Seven Nine</span></td>
                                </tr>
                                <tr>
                                    <td class="total_border">Percentage</td>
                                    <td class="total_border" colspan="4"><span class="highlight">91.27</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="photo_border" height="185" width="140" src="../../../contents/img/passport-template.svg" /><br />
                    <b>Date</b>
                </div>
                <div class="col-md-8">
                    <div class="col-md-7">Given Uunder the seal of the Board on this, the <span class="highlight">{{mydate}}</span>
                        day of <span class="highlight">{{myMonth}}</span> 2019</div>
                    <div class="col-md-5">
                        <img class="qr_css pull-right" src="../../../contents/img/qr_code.png" />
                    </div>
                    <div class="col-md-5">
                        <sa-canvas rectangle-list='rectangles'></sa-canvas>
                        <h5 class="text-center"><b class="text-uppercase ">CONTROLLER OF EXAMINATIONS</b></h5>
                        <!--<span class="highlight"> Controller of Examinations</span>-->
                    </div>
                    <div class="col-md-7 text-center">
                        <span class="highlight "> Secratry</span><br />
                        <span class="highlight fsize"> State Board of Technical Education & Training, Telangana</span>

                    </div>
                   
                </div>
              
            </div>
            <!--<div class="row">
                <div class="col-md-3">
                  
                </div>
               
            </div>-->
          
        </div>
        <div class="spacer"></div>
        <div class="col-md-12">
            <div class="btn btn-success print_btn pull-right" ng-click="printForm()">Print</div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>
</div>