<div ng-controller="StudentRequeststatusController">
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>Student Request Status</h5>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Admission</a></li>
                    <li><a href="#"> Admin Attendance Report</a></li>
                </ol>
            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>

        <div class="col-md-12">
            <div class="col-md-12">
                <button class="btn bck_btn"><a href="#!/Dashboard/PreExamination/StudentRequestForm" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
            </div>
            <div class="container">
            <div class="col-md-12" >
                <div class="cl-details">
                    <h2>Student Request Status List</h2>

                </div>
            </div>
                </div>

            <div class="container">
                <div id="studentform" class="table-responsive table-custom-tables-tb col-md-12">
                    <table class="table table-bordered  table-striped table-rounded">

                        <thead>
                            <tr class="cb-1">
                                <!-- <th style="width: 1%;"><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>-->
                                <th class="text-left" style="width:5%">S.No</th>

                                <th class="text-left" >Student Name</th>

                                <th class="text-left" >Father Name</th>

                                <th class="text-left" >PIN Number</th>

                                <th class="text-left" >Gender</th>


                                <th class="text-left" >DOB</th>


                                <th class="text-left" >ISActive</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr style="background-color:#fff!important;" ng-repeat="data in studentform">

                                <td >{{$index+1}}</td>
                                <td >{{data.StudentName}}</td>
                                <td >{{data.FatherName}}</td>
                                <td >{{data.PinNumber}}</td>
                                <td >{{data.Gender}}</td>
                                <td >{{data.DOB}}</td>

                                <td style="width: 1% ;font-size:12px;"><button class=" btn-xs btn btn-success ">Pending</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
