<style>
  .logo-image {
       height:80px;
       width:80px;
         margin-left: auto;
  margin-right: auto;
   line-height: 1.6;
      
    }
  .border_btm{
     border-bottom:1px solid black;
      text-transform:uppercase;
 }
    .myfont{
        font-size:14px;
    }
     .myfont1{
         border-bottom:1px dashed black;
        font-size:14px;
    }
     .border_dot{
       
       width:auto;
   }
     .spacer{
         height:100px;
     }
      .sm-spacer{
         height:150px;
     }
     .length{
         padding:5px 0px;
     }
       .generateBtn{
    display:block;
}

    /*--------------print Css*/
 
     @media print{
        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            float: left;
        }

        .col-md-12 {
            width: 100%;
        }

        .col-md-11 {
            width: 91.66666666666666%;
        }

        .col-md-10 {
            width: 83.333333%;
        }

        .col-md-9 {
            width: 75%;
        }

        .col-md-8 {
            width: 66.66666666666666%;
        }

        .col-md-7 {
            width: 58.333333333333336%;
        }

        .col-md-6 {
            width: 50%;
        }

        .col-md-5 {
            width: 41.66666666666667%;
        }

        .col-md-4 {
            width: 33.33333333333333%;
        }

        .col-md-3 {
            width: 25%;
        }

        .col-md-2 {
            width: 16.666666666666664%;
        }

        .col-md-1 {
            width: 8.333333333333332%;
        }

 .myHr{
     border-top: 1px solid #000;
 }
 .header-top-section{
     display:none;
 }
 .border_btm{
     border-bottom:1px solid #ddd;
      text-transform:uppercase;
 }
.text-uppercase{
     text-transform:uppercase;
 }
 p {
  text-indent: 50px;
}   
  .logo-image {
       height:80px;
       width:80px;
      margin-left: auto;
        margin-right: auto;
   line-height: 1.6;
      
    }
   
   .footer_section {
       display:none;
   }
    .footer_section {
       display:none;
   }
   
   
      .text-intend {
      text-indent: 50px;
    line-height: 1.6;
}
      .Line{
          line-height:normal;

      }
      .a{
          margin: 25px;
      }
       .length{
         padding:3px 0px;
     }
       .pad{
           line-height:normal;
       }
      .sm-spacer{
         height:150px;
     }
      .generateBtn{
    display:none;
}
      .sm-spacer{
          display:none;
      }
    }
/*--------END CS--------------*/

 </style>


<div ng-controller="TransferCertificateController">
    <div class="container">
        <div class="row">

                <div class="logo-image text-center" >
                  <img src="../../../contents/img/telangana-logo-png.png" class="img-responsive logoImg pull-left" />
              
            </div>
            </div>
        <div class="row pad">
        <div class="col-md-12 title">
            <h3 class="text-center hall_head"><b></b>GOVERNMENT OF  TELENGANA</h3>
            <h4 class="text-center hall_head"><b>DEPARTMENT OF TECHINICAL EDUCATION</b></h4>
        </div>


        <h3 class="text-center hall_head "><b class="border_btm text-uppercase">TRANSFER CERTIFICATE</b></h3>
            </div>
        </div>
    <div class="container">
        <div class="row">
            
            <div class="col-md-3">
                <div class="myfont">Admission{{Admission}}</div>
            </div>
            <div class="col-md-9">
                <div class="myfont" style="text-align:center;" >Serial No:</div>
            </div>
            <div class="row length" >
                <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <div class="myfont" style="text-align:center;">Date:</div>
                    </div>

                </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">1.   Name Of the Institution
                    </div>
                    </div>
                
                    <div class="col-md-7">
                        <div class="myfont1">
                            <b class="border_dot">{{Institution}}</b>
                        </div>
                    </div>
                </div>
           <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        2.   Name Of the pupll (In Block Letters)
                            
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{StudentData.Name}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        3.  PIN
                            
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{StudentData.Pin}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        4.Father Name

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{StudentData.FatherName}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        5.Date Of Birth(in Words)

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{DateOfBirth}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        6.class in which he/she studing at the iteam of living:

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{StudentData.Class}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        7.Nationality

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{Nationality}}</b>
                    </div>
                </div>
            </div>
      
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        8.Religion:

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{Religion}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        9.Caste

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{Caste}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        10.Whether he/she has appeared/final the 
                           Exams and passed the Class/Discontinued

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{Status}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        11.Whether he/she has paid all the Fees

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{FeeStatus}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        12.Reason for leaving

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{Reasonforliving}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        13.Date for leaving

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{Dateforiving}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        14.Date when applid for Tc

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{DatewhenapplidforTc}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        15.Conduct

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">{{Conduct}}</b>
                    </div>
                </div>
            </div>
            <div class="row length">
                <div class="col-md-5">
                    <div class="myfont">
                        16.Personal Identification Marks

                    </div>
                </div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">1.{{IdentificationMarks}}</b>
                        
                    </div>
                </div>
                </div>
            <div class="row length">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <div class="myfont1">
                        <b class="border_dot">2.{{IdentificationMarks}}</b>

                    </div>
                </div>
            </div>
          <div class="sm-spacer"></div>
        

            <div class="row">

                <div class="col-md-8">

                    <!--<div class="font" id="foot">CLERK</div>
        </div>
        <div class="col-md-4">

            <div class="font text-center">HEAD OF SECTION</div>-->
                </div>
                <div class="col-md-4">
                    <sa-canvas rectangle-list='rectangles'></sa-canvas>
                    <h5 class="text-center"><b class="text-uppercase ">Principal</b></h5>
                    <!--<sa-canvas rectangle-list='rectangles'></sa-canvas>
        <div class="font" style="float:right">PRINCIPAL</div>-->
                </div>

            </div>

            <div class="row ">
                <br>
                <button class="btn btn-info pull-right generateBtn" ng-click="generatePdf()">Generate</button>
            </div>
            <div class="sm-spacer"></div>
       
    </div>
    </div>
    </div>
`