
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>You are in </li>
                <li>Home</li>
                <li>Post Exam Process</li>
                <li>Course Wise Percentage Details</li>
            </ol>
        </div>
    </div>
    <div class="row ctitle" ng-controller="courseWisePercentageDetailsController" ng-init="init()">
        <div class="col-md-4">
            <span><strong>Course Wise Percentage Details</strong></span>
        </div>
    </div>
    <div class="row frow">
        <div class="col-md-12">
            <form name="courseWisePercentageDetailsForm" ng-submit="getCourseWisePercentageList()">
                <div class="row">
                    <div class="col-md-3">
                        <sa-select ng-model="courseWisePercentageDetail.courseID" object="courseWisePercentageDetail.courseID" options="basicCourses" displaycolumn="courseName" valuecolumn="courseID" objectname="courseID" icontype="chevron-circle-right" objecttext="Stream" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-3">
                        <sa-select ng-model="courseWisePercentageDetail.examID" object="courseWisePercentageDetail.examID" options="basicExams" displaycolumn="exmName" valuecolumn="examID" objectname="examID" icontype="chevron-circle-right" objecttext="Exam" compulsory="true"> </sa-select>
                    </div>
                </div>                    
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-detail btn-sm">Save</button>
                        <button ui-sref="home" class="btn btn-reset btn-sm">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
