    <style>
        .arrow-up:after {
            bottom: 12px;
            border-bottom-color: #fff;
        }

        .footer_section {
            /* position: fixed; */
            display: none !important;
            bottom: 0px;
            z-index: 99;
        }

        .arrow-down:after {
            top: 10px;
            border-top-color: white;
        }
 .loader {
  border: 4px solid #3D7EAA;
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 4s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    </style>
    <div ng-controller="GenuinenessApproveListController">
        <div class="container">
            <div class="sm-spacer"></div>
            <div class="col-md-12">
                <a href="#!/Dashboard/PostExam/GenuinenessApproval" class="backA"><button class="btn bck_btn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</button></a>
            </div>
            <div class="sm-spacer"></div>

            <div class="col-md-6" ng-show="Data">
                <form class="form-inline">
                    <div class="form-group">
                        <label>Search</label>
                        <input type="text" ng-model="search" class="form-control" placeholder="Search">
                    </div>
                </form>
                <!--<label class="notifylabel" for="sel1" style="color: red;"> Double click on row to Update Student</label>
                <div style="width:100%;text-align:center;">
                    <img src="../../../contents/img/loading2.gif" ng-show="LoadImg" width="100" />
                </div>-->
            </div>
            <div class="col-md-6 " ng-show="Data && ApproveType =='0'">
                <a class="ExportToExcel1 pointer pull-right"
                   id="ExportToExcel1" ng-click="DownloadtoExcel()" style="margin-top: 15px;">
                    <i class="fa fa-file-excel-o"></i>
                    Export to Excel
                </a>
            </div>
            <div class="col-md-12" ng-if="Data">
                <div class="cl-details">
                    <h2>Genuineness Check Students List</h2>
                </div>
            </div>

            <div class="col-md-12" ng-if="Data && ApproveType =='0'">
                <div id="preExamReports" class="table-responsive table-custom-tables-tb ">
                    <table class="table table-bordered  table-striped table-rounded">
                        <thead>
                            <tr class="cb-1">
                                <!--<th style="width: 1%;"><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>-->
                                <th style="width: 1%;"><input name='allItemsSelected' type="checkbox" ng-model="items.allItemsSelected" ng-checked="checkedStatus" ng-click="selectAll(items.allItemsSelected)"></th>
                                <th style="width: 2%;">S.No</th>
                                <th class="text-center" ng-click='sortColumn("Scheme")' ng-class='sortClass("Scheme")'>Scheme <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("CollegeCode")' ng-class='sortClass("CollegeCode")'>College Code <i class="fa fa-fw fa-sort" ng-if="arrows"></th>
                                <th class="text-center" ng-click='sortColumn("PIN")' ng-class='sortClass("PIN")'>PIN <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("Name")' ng-class='sortClass("Name")'>Name <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("PhoneNumber")' ng-class='sortClass("PhoneNumber")'>Phone <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("AppliedDate")' ng-class='sortClass("AppliedDate")'>Applied Date <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <!--<th class="text-center">View</th>-->
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr style="background-color:#fff!important;cursor:pointer" ng-repeat="x in ApprovalDetails |orderBy:sortKey:reverse|filter:search">
                                <td style="text-align: center"><input type="checkbox" ng-model="x.isChecked" ng-checked="x.isChecked" ng-change="selectEntity(x)"></td>
                                <td class="text-center" ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{$index + 1}}</td>
                                <td class="text-center" ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.Scheme}}</td>
                                <td class="text-center" ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">
                                    <span ng-if="x.CollegeCode.length >= 3">{{x.CollegeCode}}</span>
                                    <span ng-if="x.CollegeCode.length == 2">0{{x.CollegeCode}}</span>
                                    <span ng-if="x.CollegeCode.length == 1">00{{x.CollegeCode}}</span>
                                </td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.PIN}}</td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.Name}}</td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.PhoneNumber == null ? '-':x.PhoneNumber}}</td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.AppliedDate|date:"dd-MMM-yyyy hh:mm:ss a"}}</td>
                                <!--<td class="text-center" ><a  target="_blank" ng-click="OpenOdc(x.PIN)">ODC Data<a/></td>-->
                                 <td class="text-center ">
                                    <span ng-show="UserTypeId == 1007">
                                        <button class="btn btn-danger btn-xs" ng-show="x.IsAsVerified ==0"><span>Pending</span></button>
                                        <button class="btn btn-success btn-xs" ng-show="x.IsAsVerified ==1">
                                            <span>Verified</span>
                                        </button>
                                    </span>
                                    <span ng-show="UserTypeId == 1002">
                                        <button class="btn btn-danger btn-xs" ng-show="x.IsDsVerified ==0"><span>Pending</span></button>
                                        <button class="btn btn-success btn-xs" ng-show="x.IsDsVerified ==1">
                                            <span>Verified</span>
                                        </button>
                                    </span>
                                    <span ng-show="UserTypeId == 1009">
                                        <button class="btn btn-danger btn-xs" ng-show="x.IsJsVerified ==0"><span>Pending</span></button>
                                        <button class="btn btn-success btn-xs" ng-show="x.IsJsVerified ==1">
                                            <span>Verified</span>
                                        </button>
                                    </span>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" ng-show="Data && ApproveType =='1'">
                <div id="preExamReports" class="table-responsive table-custom-tables-tb ">
                    <table class="table table-bordered  table-striped table-rounded">
                        <thead>
                            <tr class="cb-1">
                                <!--<th style="width: 1%;"><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>-->
                                <th style="width: 2%;" ng-click="sort('PIN')">S.No</th>
                                <th class="text-center" ng-click='sortColumn("Scheme")' ng-class='sortClass("Scheme")'>Scheme <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("CollegeCode")' ng-class='sortClass("CollegeCode")'>College Code <i class="fa fa-fw fa-sort" ng-if="arrows"></th>
                                <th class="text-center" ng-click='sortColumn("PIN")' ng-class='sortClass("PIN")'>PIN <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("Name")' ng-class='sortClass("Name")'>Name <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("PhoneNumber")' ng-class='sortClass("PhoneNumber")'>Phone <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("AppliedDate")' ng-class='sortClass("AppliedDate")'>Applied Date <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <!--<th class="text-center">View</th>-->
                                <th class="text-center"ng-show="UserTypeId==1002">Reset</th>
                                <th class="text-center" ng-show="UserTypeId==1002">Mail Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr style="background-color:#fff!important;cursor:pointer" ng-repeat="x in ApprovalDetails|orderBy:sortKey:reverse|filter:search">

                                <td class="text-center" ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{$index + 1}}</td>
                                <td class="text-center" ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.Scheme}}</td>
                                <td class="text-center" ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">
                                    <span ng-if="x.CollegeCode.length >= 3">{{x.CollegeCode}}</span>
                                    <span ng-if="x.CollegeCode.length == 2">0{{x.CollegeCode}}</span>
                                    <span ng-if="x.CollegeCode.length == 1">00{{x.CollegeCode}}</span>
                                </td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.PIN}}</td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.Name}}</td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.PhoneNumber == null ? '-':x.PhoneNumber}}</td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.AppliedDate|date:"dd-MMM-yyyy hh:mm:ss a"}}</td>
                                <!--<td class="text-center" ><a ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">ODC Data<a/></td>-->
                                <td class="text-center " ng-show="UserTypeId == 1002|| UserTypeId == 1009">
                                    <span>
                                        <button class="btn btn-warning btn-xs" ng-click=" ResetCertificateStatus(x.PIN,'https://'+x.CertificatePath)"><span>Reset</span></button>
                                    </span>
                                </td>
                                <td class="text-center " ng-show="UserTypeId == 1002|| UserTypeId == 1009">
                                    <span>
                                        <button class="btn btn-danger btn-xs" ng-click="GetmailDetails(x.PIN,x.CertificateType,x.Id,x.Email,'https://'+x.CertificatePath)" ng-show="x.Emailsent ==0"><span>Send mail</span></button>
                                        <button class="btn btn-success btn-xs" ng-click="GetmailDetails(x.PIN,x.CertificateType,x.Id,x.Email,'https://'+x.CertificatePath)" ng-show="x.Emailsent ==1">
                                            <span>Sent</span>
                                        </button>
                                    </span>
                                </td>
                                <!-- <td class="text-center "><button class="btn btn-success btn-xs" ng-click="Proceed1(x.PIN)">Send To College</button></td>-->
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" ng-if="Data && ApproveType =='2'">
                <div id="preExamReports" class="table-responsive table-custom-tables-tb">
                    <table class="table table-bordered  table-striped table-rounded">
                        <thead>
                            <tr class="cb-1">
                                <!--<th style="width: 1%;"><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>-->
                                <th style="width: 2%;">S.No</th>
                                <th class="text-center" ng-click='sortColumn("Scheme")' ng-class='sortClass("Scheme")'>Scheme <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("CollegeCode")' ng-class='sortClass("CollegeCode")'>College Code <i class="fa fa-fw fa-sort" ng-if="arrows"></th>
                                <th class="text-center" ng-click='sortColumn("PIN")' ng-class='sortClass("PIN")'>PIN <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("Name")' ng-class='sortClass("Name")'>Name <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("PhoneNumber")' ng-class='sortClass("PhoneNumber")'>Phone <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("AppliedDate")' ng-class='sortClass("AppliedDate")'>Applied Date <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center">Release PIN</th>
                                <th class="text-center">Remarks</th>
                                 <!--<th class="text-center">Sent to college Date</th>-->
                                <!--<th class="text-center">Approve</th>-->
                            </tr>
                        </thead>

                        <tbody>
                            <tr style="background-color:#fff!important;cursor:pointer" ng-repeat="x in ApprovalDetails|orderBy:sortKey:reverse|filter:search">

                                <td class="text-center" ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{$index + 1}}</td>
                                <td class="text-center" ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.Scheme}}</td>
                                <td class="text-center" ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">
                                    <span ng-if="x.CollegeCode.length >= 3">{{x.CollegeCode}}</span>
                                    <span ng-if="x.CollegeCode.length == 2">0{{x.CollegeCode}}</span>
                                    <span ng-if="x.CollegeCode.length == 1">00{{x.CollegeCode}}</span>
                                </td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.PIN}}</td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.Name}}</td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.PhoneNumber == null ? '-':x.PhoneNumber}}</td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.AppliedDate|date:"dd-MMM-yyyy hh:mm:ss a"}}</td>
                                <td class="text-center ">
                                    <button class="btn btn-danger btn-xs" ng-click="ReleasePopup(x.PIN,x.CertificateType,x.Id)"><span>Release PIN</span></button>
                                </td>
                                <td class="text-center " ng-click="OpenOdc(x.PIN,x.CertificateType,x.Id)">{{x.Remarks == null ? '-':x.Remarks}}</td>
                                <!--<td class="text-center"><a ng-click="OpenOdc(x.PIN)">ODC Data<a/></td>-->
                                <!--<td class="text-center "><button class="btn btn-success btn-xs" ng-click="Approve(x.Scheme)">Send Certificate</button></td>-->
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" ng-if="Data && ApproveType =='3'">
                <div id="preExamReports" class="table-responsive table-custom-tables-tb ">
                    <table class="table table-bordered  table-striped table-rounded">
                        <thead>
                            <tr class="cb-1">
                                <!--<th style="width: 1%;"><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>-->
                                <th style="width: 2%;">S.No</th>
                                <th class="text-center" ng-click='sortColumn("Scheme")' ng-class='sortClass("Scheme")'>Scheme <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("CollegeCode")' ng-class='sortClass("CollegeCode")'>College Code <i class="fa fa-fw fa-sort" ng-if="arrows"></th>
                                <th class="text-center" ng-click='sortColumn("PIN")' ng-class='sortClass("PIN")'>PIN <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("Name")' ng-class='sortClass("Name")'>Name <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("PhoneNumber")' ng-class='sortClass("PhoneNumber")'>Phone <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <th class="text-center" ng-click='sortColumn("AppliedDate")' ng-class='sortClass("AppliedDate")'>Applied Date <i class="fa fa-fw fa-sort" ng-if="arrows"></i></th>
                                <!--<th class="text-center">Signed Date</th>
                                <th class="text-center">View</th>-->
                                 <!--<th class="text-center">Approve</th>-->
                            </tr>
                        </thead>

                        <tbody>
                            <tr style="background-color:#fff!important;cursor:pointer" ng-click="OpenPdf(x.PIN,x.CertificateType)" ng-repeat="x in ApprovalDetails|orderBy:sortKey:reverse|filter:search">

                                <td class="text-center" >{{$index + 1}}</td>
                                <td class="text-center">{{x.Scheme}}</td>
                                <td class="text-center">
                                    <span ng-if="x.CollegeCode.length >= 3">{{x.CollegeCode}}</span>
                                    <span ng-if="x.CollegeCode.length == 2">0{{x.CollegeCode}}</span>
                                    <span ng-if="x.CollegeCode.length == 1">00{{x.CollegeCode}}</span>
                                </td>
                                <td class="text-center ">{{x.PIN}}</td>
                                <td class="text-center ">{{x.Name}}</td>
                                <td class="text-center ">{{x.PhoneNumber == null ? '-':x.PhoneNumber}}</td>
                                <td class="text-center ">{{x.AppliedDate|date:"dd-MMM-yyyy hh:mm:ss a"}}</td>
                                <!--<td class="text-center ">{{x.SignedDate|date:"dd-MMM-yyyy hh:mm:ss a"}}</td>-->
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" style="position: fixed;bottom: 0px;width: 100%;padding-bottom: 5px;padding-top: 5px;" ng-show="Data && ApproveType =='0'">
                <!--<div class="sm-spacer"></div>
    <div class="row"> style="margin-top:21px "-->

                <div class="col-md-8">
                    <button class="btn btn-danger" ng-show="UserTypeId==1007 || UserTypeId==1002 || UserTypeId==1009" ng-click="Reject()">Reject</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success print_btn" ng-show="UserTypeId==1007"  ng-disabled="btndisable" ng-click="!btndisable && ApprovePin()">Forward</button>
                    <button class="btn btn-success print_btn" ng-show="UserTypeId==1002 ||UserTypeId == 1009" ng-disabled="btndisable" ng-click="!btndisable && ApprovePin()">{{buttonlabel}}</button>
                </div>
                <!--</div>-->
            </div>
            <div class="col-md-12">
                <div ng-if="Nodata" class="no-results">
                    <img src="../../contents/img/Folder-Icon.svg" />
                    <h2>No Data Found</h2>
                </div>
            </div>
        </div>

        <div class="sm-spacer"></div>
        <div class="sm-spacer"></div>
    </div>
