<style>
    .arrow-up:after {
        bottom: 12px;
        border-bottom-color: #fff;
    }

    .footer_section {
        /* position: fixed; */
        display: none !important;
        bottom: 0px;
        z-index: 99;
    }

    .arrow-down:after {
        top: 10px;
        border-top-color: white;
    }
</style>
<div ng-controller="GetODCDataController">
    <div class="container">
        <div class="sm-spacer"></div>
        <div class="col-md-12">
            <a href="#!/Dashboard/PostExam" class="backA"><button class="btn bck_btn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</button></a>
        </div>
        <div class="modal-body">
            <div class="col-md-12 ng-scope">
                <div class="cl-details">
                    <h2>CHECK STUDENT ODC</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="alert alert-info">
                    <div class="studWishinputs">
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label for="sel1">
                                    PIN :
                                </label>
                                <input class="form-control" type="text" ng-model="ODCPin" />
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <button class="btn btn-sm btn-primary gr-button btn_top pull-left" ng-click="GetODC(ODCPin)">
                                        Get Details
                                        <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 100%; text-align: center;" ng-show="LoadImg">
                <img src="../../../contents/img/loading.gif" width="100" />
            </div>
            <div class="row print" id="idtoDivPrintAdmin" ng-show="ResultFound">
                <div class="col-md-12 ">
                    <div class="cl-details">
                        <h2>STUDENT ODC DETAILS</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2 col-md-12">
                            <div class="logo-img">
                                <img src="../../../contents/img/big-logo.png" />
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-12">
                            <div class="logo-name">
                                <h2 style="text-align: center">
                                    STATE BOARD OF TECHNICAL EDUCATION AND TRAINING TELANGANA
                                </h2>
                                <!--<h2><p style="text-align: center">STATE BOARD OF TECHNICAL EDUCATION AND TRAINING <br /><p style="text-align: center">TELANGANA</p></h2>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top: 35px;">
                    <div class="row padRow">
                        <div class="col-md-2 font_bold">Permanent Id No. (PIN)</div>
                        <div class="col-md-10">: {{ODCstudData.Pin}}</div>
                    </div>
                    <div class="row padRow">
                        <div class="col-md-2 font_bold">Name Of the Candidate</div>
                        <div class="col-md-10">: {{ODCstudData.Name}}</div>
                    </div>
                    <div class="row padRow">
                        <div class="col-md-2 font_bold">Father Name</div>
                        <div class="col-md-10">: {{ODCstudData.FatherName}}</div>
                    </div>
                    <div class="row padRow">
                        <div class="col-md-2 font_bold">Branch</div>
                        <div class="col-md-10">: {{ODCstudData.BranchCode}}-{{ODCstudData.BranchName}}</div>
                    </div>
                    <div class="row padRow">
                        <div class="col-md-2 font_bold">Course Duration</div>
                        <div class="col-md-10">: {{ODCstudData.CourseDuration}}</div>
                    </div>
                    <div class="row padRow">
                        <div class="col-md-2 font_bold">Month & Year of Exam</div>
                        <div class="col-md-10">: {{ODCstudData.MonthYear}}</div>
                    </div>
                    <div class="row padRow" ng-show="ODCstudData.scheme=='ER91'">
                        <div class="col-md-2 font_bold">Passed Class</div>
                        <div class="col-md-10">: {{ODCstudData.PassedClass}}</div>
                    </div>

                    <div class="row padRow">
                        <div class="col-md-2 font_bold">Name of the Institution</div>
                        <div class="col-md-10">: {{ODCstudData.CollegeCode}}-{{ODCstudData.CollegeName}},{{ODCstudData.CollegeAddress}}</div>
                    </div>

                    <div class="row padRow" ng-show="ODCstudData.Scheme=='C18'">
                        <div class="col-md-2 font_bold">CGPA</div>
                        <div class="col-md-10">: {{ODCstudData.CGPA}}</div>
                    </div>
                    <div class="row padRow" ng-show="ODCstudData.Scheme=='C18'">
                        <div class="col-md-2 font_bold">Total Credits Earned</div>
                        <div class="col-md-10">: {{ODCstudData.TotalCreditsEarned}}</div>
                    </div>
                    <div class="row padRow" ng-show="ODCstudData.Scheme=='C18'">
                        <div class="col-md-2 font_bold">Division</div>
                        <div class="col-md-10">: {{ODCstudData.Class}}</div>
                    </div>
                    <div class="table-responsive customtable" ng-show="Odcmarkstable.length>0">
                        <table class="table table-bordered">
                            <thead>
                                <tr>

                                    <th class="text-center" rowspan="2">Examination</th>
                                    <th class="text-center" rowspan="3">Maximum <br />Marks </th>
                                    <th class="text-center" rowspan="3">Marks <br /> Secured</th>
                                    <th class="text-center" colspan="3">
                                        MARKS TAKEN INTO CONSIDERATION FOR THE
                                        AWARD OF CLASS
                                    </th>


                                </tr>
                                <tr>

                                    <th class="text-center">IN FIGURES</th>
                                    <th class="text-center">PERCENTAGE</th>
                                    <th class="text-center">IN WORDS</th>

                                </tr>

                            </thead>
                            <tbody>

                                <tr ng-repeat="x in Odcmarkstable ">
                                    <td class="text-center"> {{x.Examination}}</td>
                                    <td class="text-center">{{x.MaxMarks}}</td>
                                    <td class="text-center">{{x.MaxSecured}}</td>
                                    <td class="text-center">{{x.InFigures}}</td>
                                    <td class="text-center">{{x.Per}}</td>
                                    <td class="text-center">
                                        {{x.InWords}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"> Total Marks In Figure</td>

                                    <td class="text-center" colspan="5"><b class="text-uppercase ">{{ODCstudData.TotalMarksInFigure}}</b> </td>


                                </tr>
                                <tr>
                                    <td class="text-center"> IN Words</td>

                                    <td class="text-center" colspan="5"><b class="text-uppercase ">{{ODCstudData.TotalMarksInWords}}</b> </td>


                                </tr>
                                <tr>
                                    <td class="text-center"> Percentage of Marks</td>

                                    <td class="text-center" colspan="5"><b class="text-uppercase ">{{ODCstudData.PercentageOfMarks}}</b> </td>


                                </tr>
                            </tbody>




                        </table>
                    </div>

                    <!--<div class="table-responsive customtable">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="1" rowspan="2" id="tbl_head1">Subject Code</th>
                            <th colspan="1" rowspan="2" id="tbl_head1">Subject</th>
                            <th colspan="3" rowspan="1" id="tbl_head1">Max Marks</th>
                            <th colspan="3" rowspan="1" id="tbl_head1">Marks Awarded</th>
                            <th colspan="1" rowspan="2" id="tbl_head1">Remarks</th>
                        </tr>
                        <tr>
                            <th colspan="1" id="tbl_head1"><b>End Exam</b></th>
                            <th colspan="1" id="tbl_head1"><b>Sessional</b></th>
                            <th colspan="1" id="tbl_head1"><b>Total</b></th>
                            <th colspan="1" id="tbl_head1"><b>End Exam</b></th>
                            <th colspan="1" id="tbl_head1"><b>Sessional</b></th>
                            <th colspan="1" id="tbl_head1"><b>Total</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="memostudData.R1 != null">
                            <td colspan="1">{{memostudData.SUB1_CODE}}</td>
                            <td colspan="1">{{memostudData.SUB1_NAME}}</td>
                            <td colspan="1">{{memostudData.SUB1_MAX_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB1_MAX_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB1_MAX_TOTAL}}</td>
                            <td colspan="1" ng-class="{'status_css':memostudData.SUB1_P_F=='__'}">{{memostudData.SUB1_AWARDED_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB1_AWARDED_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB1_AWARDED_TOTAL}}</td>
                            <td colspan="1">{{memostudData.R1}}</td>
                        </tr>
                        <tr ng-show="memostudData.R2 != null">
                            <td colspan="1">{{memostudData.SUB2_CODE}}</td>
                            <td colspan="1">{{memostudData.SUB2_NAME}}</td>
                            <td colspan="1">{{memostudData.SUB2_MAX_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB2_MAX_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB2_MAX_TOTAL}}</td>
                            <td colspan="1" ng-class="{'status_css':memostudData.SUB2_P_F=='__'}">{{memostudData.SUB2_AWARDED_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB2_AWARDED_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB2_AWARDED_TOTAL}}</td>
                            <td colspan="1">{{memostudData.R2}}</td>
                        </tr>
                        <tr ng-show="memostudData.R3 != null">
                            <td colspan="1">{{memostudData.SUB3_CODE}}</td>
                            <td colspan="1">{{memostudData.SUB3_NAME}}</td>
                            <td colspan="1">{{memostudData.SUB3_MAX_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB3_MAX_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB3_MAX_TOTAL}}</td>
                            <td colspan="1" ng-class="{'status_css':memostudData.SUB3_P_F=='__'}">{{memostudData.SUB3_AWARDED_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB3_AWARDED_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB3_AWARDED_TOTAL}}</td>
                            <td colspan="1">{{memostudData.R3}}</td>
                        </tr>
                        <tr ng-show="memostudData.R4 != null">
                            <td colspan="1">{{memostudData.SUB4_CODE}}</td>
                            <td colspan="1">{{memostudData.SUB4_NAME}}</td>
                            <td colspan="1">{{memostudData.SUB4_MAX_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB4_MAX_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB4_MAX_TOTAL}}</td>
                            <td colspan="1" ng-class="{'status_css':memostudData.SUB4_P_F=='__'}">{{memostudData.SUB4_AWARDED_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB4_AWARDED_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB4_AWARDED_TOTAL}}</td>
                            <td colspan="1">{{memostudData.R4}}</td>
                        </tr>
                        <tr ng-show="memostudData.R5 != null">
                            <td colspan="1">{{memostudData.SUB5_CODE}}</td>
                            <td colspan="1">{{memostudData.SUB5_NAME}}</td>
                            <td colspan="1">{{memostudData.SUB5_MAX_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB5_MAX_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB5_MAX_TOTAL}}</td>
                            <td colspan="1" ng-class="{'status_css':memostudData.SUB5_P_F=='__'}">{{memostudData.SUB5_AWARDED_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB5_AWARDED_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB5_AWARDED_TOTAL}}</td>
                            <td colspan="1">{{memostudData.R5}}</td>
                        </tr>
                        <tr ng-show="memostudData.R6 != null">
                            <td colspan="1">{{memostudData.SUB6_CODE}}</td>
                            <td colspan="1">{{memostudData.SUB6_NAME}}</td>
                            <td colspan="1">{{memostudData.SUB6_MAX_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB6_MAX_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB6_MAX_TOTAL}}</td>
                            <td colspan="1" ng-class="{'status_css':memostudData.SUB6_P_F=='__'}">{{memostudData.SUB6_AWARDED_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB6_AWARDED_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB6_AWARDED_TOTAL}}</td>
                            <td colspan="1">{{memostudData.R6}}</td>
                        </tr>
                        <tr ng-show="memostudData.R7 != null">
                            <td colspan="1">{{memostudData.SUB7_CODE}}</td>
                            <td colspan="1">{{memostudData.SUB7_NAME}}</td>
                            <td colspan="1">{{memostudData.SUB7_MAX_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB7_MAX_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB7_MAX_TOTAL}}</td>
                            <td colspan="1" ng-class="{'status_css':memostudData.SUB7_P_F=='__'}">{{memostudData.SUB7_AWARDED_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB7_AWARDED_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB7_AWARDED_TOTAL}}</td>
                            <td colspan="1">{{memostudData.R7}}</td>
                        </tr>
                        <tr ng-show="memostudData.R8 != null">
                            <td colspan="1">{{memostudData.SUB8_CODE}}</td>
                            <td colspan="1">{{memostudData.SUB8_NAME}}</td>
                            <td colspan="1">{{memostudData.SUB8_MAX_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB8_MAX_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB8_MAX_TOTAL}}</td>
                            <td colspan="1" ng-class="{'status_css':memostudData.SUB8_P_F=='__'}">{{memostudData.SUB8_AWARDED_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB8_AWARDED_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB8_AWARDED_TOTAL}}</td>
                            <td colspan="1">{{memostudData.R8}}</td>
                        </tr>
                        <tr ng-show="memostudData.R9 != null">
                            <td colspan="1">{{memostudData.SUB9_CODE}}</td>
                            <td colspan="1">{{memostudData.SUB9_NAME}}</td>
                            <td colspan="1">{{memostudData.SUB9_MAX_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB9_MAX_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB9_MAX_TOTAL}}</td>
                            <td colspan="1" ng-class="{'status_css':memostudData.SUB9_P_F=='__'}">{{memostudData.SUB9_AWARDED_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB9_AWARDED_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB9_AWARDED_TOTAL}}</td>
                            <td colspan="1">{{memostudData.R9}}</td>
                        </tr>
                        <tr ng-show="memostudData.R10 != null">
                            <td colspan="1">{{memostudData.SUB10_CODE}}</td>
                            <td colspan="1">{{memostudData.SUB10_NAME}}</td>
                            <td colspan="1">{{memostudData.SUB10_MAX_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB10_MAX_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB10_MAX_TOTAL}}</td>
                            <td colspan="1" ng-class="{'status_css':memostudData.SUB10_P_F=='__'}">{{memostudData.SUB10_AWARDED_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB10_AWARDED_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB10_AWARDED_TOTAL}}</td>
                            <td colspan="1">{{memostudData.R10}}</td>
                        </tr>
                        <tr ng-show="memostudData.R11 != null">
                            <td colspan="1">{{memostudData.SUB11_CODE}}</td>
                            <td colspan="1">{{memostudData.SUB11_NAME}}</td>
                            <td colspan="1">{{memostudData.SUB11_MAX_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB11_MAX_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB11_MAX_TOTAL}}</td>
                            <td colspan="1" ng-class="{'status_css':memostudData.SUB11_P_F=='__'}">{{memostudData.SUB11_AWARDED_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB11_AWARDED_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB11_AWARDED_TOTAL}}</td>
                            <td colspan="1">{{memostudData.R11}}</td>
                        </tr>
                        <tr ng-show="memostudData.R12 != null">
                            <td colspan="1">{{memostudData.SUB12_CODE}}</td>
                            <td colspan="1">{{memostudData.SUB12_NAME}}</td>
                            <td colspan="1">{{memostudData.SUB12_MAX_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB12_MAX_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB12_MAX_TOTAL}}</td>
                            <td colspan="1" ng-class="{'status_css':memostudData.SUB12_P_F=='__'}">{{memostudData.SUB12_AWARDED_END_MARKS}}</td>
                            <td colspan="1">{{memostudData.SUB12_AWARDED_SESSIONAL}}</td>
                            <td colspan="1">{{memostudData.SUB12_AWARDED_TOTAL}}</td>
                            <td colspan="1">{{memostudData.R12}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>-->
                    <!--<div class="row padRow">
                <div class="col-md-1 font_bold">RESULT</div>
                <div class="col-md-11">: {{memostudData.RESULT}}</div>
            </div>
            <div class="row padRow">
                <div class="col-md-1 font_bold">RE</div>
                <div class="col-md-11">: {{memostudData.RE}}</div>
            </div>-->
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-show="ResultNotFound" class="no-results">
                        <img src="../../contents/img/Folder-Icon.svg" />
                        <h2>No Result Found</h2>
                    </div>
                </div>
            </div>


        </div>

</div>