<div ng-controller="IC_StudentDetailsController">
    <div class="container">
        <div class="sm-spacer"></div>
        <div class="col-md-12">
            <a href="#!/Dashboard/PostExam" class="backA"><button class="btn bck_btn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</button></a>
        </div>
        <div class="sm-spacer"></div>
        <div class="card">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">Name</div>
                    <div class="col-md-9">: {{StudentDetails.Name}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Pin</div>
                    <div class="col-md-9">: {{StudentDetails.PIn}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Scheme</div>
                    <div class="col-md-9">: {{StudentDetails.Scheme}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">College Code</div>
                    <div class="col-md-9">: {{StudentDetails.CollegeCode}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Phone</div>
                    <div class="col-md-9">: {{StudentDetails.Mobile}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Applied Date</div>
                    <div class="col-md-9">: {{StudentDetails.LogDate}}</div>
                </div>
                <!--<div class="row">
                    <div class="col-md-3">No Due</div>
                    <div class="col-md-9">:<img style="border: 2px solid #ddd;" height="350" width="600" src="{{StudentDetails.NoDue}}"></div>
                </div>-->
            </div>
            <div class="sm-spacer"></div>
            <div class="sm-spacer"></div>
            <div class="sm-spacer"></div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-danger" ng-click="Reject()">Reject</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success pull-right" ng-click="Approve()">Approve</button>
                </div>
            </div>
        </div>
    </div>

    <div class="sm-spacer"></div>
    <div class="sm-spacer"></div>
</div>