<style>
    .bg_image {
        background-image: url("../../../contents/img/MarksMemoIndustrial.png");
        background-repeat: no-repeat;
        height: 1000em;
        width: 100%;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        /* Resize the background image to cover the entire container */
        position: relative;
    }

    .myImg {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /*padding:120px;*/
        display: block;
        opacity: 1;
        z-index: 1000;
    }

    .container {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
    }

        .container img {
            vertical-align: middle;
        }

        .container .content {
            position: absolute;
            bottom: 0;
            top: 0px;
            background: rgb(0, 0, 0);
            background: rgba(255, 255, 255, 0.36);
            color: #130404;
            width: 100%;
            /*padding: 20px;*/
        }

   .Name {
    left: 15em;
    position: absolute;
    top: 19em;
}

   .father {
    left: 15em;
    position: absolute;
    top: 20.5em;
}

    .year {
        left: 15em;
        position: absolute;
        top: 1.5em;
    }

   .College {
    left: 15em;
    position: absolute;
    top: 24.5em;
}

    .branch {
        left: 15em;
        position: absolute;
        top: 15em;
    }

   .pin {
    left: 15em;
    position: absolute;
    top: 22.5em;
}

    .year {
        left: 15em;
        position: absolute;
        top: 29.5em;
    }

    .MonthYear {
    left: 15em;
    position: absolute;
    top: 17em;
}

    .class {
        left: 13em;
        position: absolute;
        top: 31em;
    }

    .table-responsive {
        min-height: .01%;
    overflow-x: auto;
    width: 100%;
    font-size: 13px;
    margin: 45px;
    top: 34em;
    position: absolute;
    }

    .disp_none {
        display: none;
    }

    table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 6px 6px;
        line-height: 1.42857143;
        vertical-align: middle;
        /* border-top: 1px solid #ddd; */
        font-size: 13px;
        border: 0px;
        /* width: 80%; */
    }

    table.table {
        clear: both;
        margin-bottom: 6px !important;
        max-width: none !important;
        width: 72%;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 4px 4px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd;
        font-size: 12px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 6px 6px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 0px solid #ddd;
        font-size: 12px;
    }
      .Result {
        left: 15em;
        position: absolute;
        top: 50.5em;
    }
  .date {
    position: absolute;
    top: 11.7em;
    left: 41em;
}
 .qr_img {
         position: absolute;
    top: 12.5em;
    left: 41em;
    height: 137px;
    width: 148px;
}
    @media print {
        /*.myImg {
            display: none;
        }*/

        .footer_section {
            display: none;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            padding: 4px 4px;
            line-height: 1.42857143;
            vertical-align: middle;
            border-top: 0px solid #ddd;
            font-size: 12px;
        }

        .wrapper {
            display: none;
        }
         .Name {
    left: 15em;
    position: absolute;
    top: 19em;
}

   .father {
    left: 15em;
    position: absolute;
    top: 20.5em;
}

    .year {
        left: 15em;
        position: absolute;
        top: 1.5em;
    }

   .College {
    left: 15em;
    position: absolute;
    top: 24.5em;
}

  .branch {
    left: 15em;
    position: absolute;
    top: 15em;
}

   .pin {
    left: 15em;
    position: absolute;
    top: 22.5em;
}

    .year {
        left: 15em;
        position: absolute;
        top: 29.5em;
    }

    .MonthYear {
    left: 15em;
    position: absolute;
    top: 17em;
}

    .Result {
        left: 15em;
        position: absolute;
        top: 50.5em;
    }
    }
</style>
<div ng-controller="MarksMemoFinalController">
    <div class="container">
        <img src="../../../contents/img/MarksMemo.PNG" alt="Notebook" class="myImg">
        <img src="../../../contents/img/qr_code.png" class="qr_img" />
        <div class="content">
            <div class="date">{{getDate|date:'dd-MM-yyyy'}}</div>
            <div class="Name">{{Name}}  </div>
            <div class="father">{{father}}</div>
            <div class="year">{{year}}</div>
            <div class="College">{{College}}</div>
            <div class="branch">Diploma in {{branch}}</div>
            <div class="year">{{year}}</div>
            <div class="MonthYear">{{MonthYear}}</div>
            <div class="pin">{{pin}}</div>
            <div class="Result">{{Result}}</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th rowspan="2" width="28%" class="disp_none">Examination</th>
                                    <!--<th rowspan="2" width="10%" class="disp_none">Max Marks</th>
                                    <th rowspan="2" width="10%" class="text-center disp_none">Marks Secured </th>-->
                                    <th colspan="2" width="30%" class="text-uppercase text-center disp_none">Marks taken into Consideration for Award of Class</th>

                                </tr>
                                <tr>
                                    <th class="disp_none">(In Figures)</th>
                                    <th class="disp_none">(In Words)</th>

                                </tr>

                            </thead>
                            <tbody>

                                <tr ng-repeat="data in Marks">
                                    <td width="25%" class="text-center">{{data.Exam}}</td>
                                    <td class="highlight text-center" width="10%">{{data.max_marks}}</td>
                                    <td class="highlight text-center" width="10%">{{data.marks_secured}}</td>
                                    <!--<td class="highlight text-center" >{{data.figures}}</td>
                                    <td class="highlight">{{data.words}}</td>-->
                                </tr>
                                <tr>
                                    <td class="total_border"></td>
                                    <!--<td class="bord_top" colspan="2"></td>-->
                                    <td class="bord_top"><div class="text-center"><b>6000</b></div></td>
                                    <td class="total_border text-center" >3897</td>
                                </tr>
                                <!--<tr>
                                    <td class="total_border">In Words</td>
                                    <td class="total_border" colspan="4"><span class="highlight">Three Eight Seven Nine</span></td>
                                </tr>-->
                                <!--<tr>
                                    <td class="total_border">Percentage</td>
                                    <td class="total_border" colspan="4"><span class="highlight">91.27</span></td>
                                </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>