<div ng-controller="PromotionalListController">

    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>Promotional Eligible List</h5>
                <ol class="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="#!/Dashboard"><i class="fa fa-dashboard"> Dashboard</i> </a></li>
                        <li><a href="#!/Dashboard/Academic">Academic</a></li>
                        <li><a href="#!/Dashboard/Academic/PromotionalList">Promotional Eligible List</a></li>
                    </ol>

                </ol>
            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <div class="container">
        <div class="col-md-12">
            <a href="#!/Dashboard/Academic" class="backA"> <button class="btn bck_btn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</button></a>
        </div>
    </div>
    <section class="content">
        <div class="container">
            <div class="cl-details">
                <h2>Promotional Eligible List</h2>
            </div>
            <div class="alert alert-info">
                <div class="studWishinputs">
                    <div class="row">
                      
                        <div class="col-md-2">
                            <div class="gr-btn">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="Submit()">Download Promotional List<span class="fa fa-arrow-down heading_icon btn_icons"></span></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="col-md-12" ng-if="loading">
            <div class="sm-spacer"></div>
            <div style="width:100%;text-align:center;">
                <img src="../../../contents/img/loading2.gif" ng-if="loading" width="100" />
            </div>
        </div>
        <div class="col-md-12">
            <div ng-if="Noresult" class="no-results">
                <img src="../../contents/img/Folder-Icon.svg" />
                <h2>No Result Found</h2>
            </div>
        </div>
    </div>
    <div class="sm-spacer">
    </div>
</div>