<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Eligibility Certificate</title>
</head>
<body>
    <form name="MyForm">
        <div ng-controller="AddSignController">
            <div class="row">
                <div class="col-md-6">
                    <div style="width:600px; height: 600px;">
                        <embed id="viewpdf" style="width:100%; height:80%" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div style="width:100%; height:250px">
                        &nbsp;
                    </div>
                    <div class="text-center">
                        <input class="btn btn-sm btn-detail" type="button" id="AddSignature" value="Add Signature" ng-click="AddDigiSign()" />
                        <button type="button" ng-click="Exit()" class="btn btn-sm btn-danger">Back</button>
                    </div>
                    
                    <!--<div class="col-md-8 col-md-offset-2"><hr /></div>
    <div class="col-md-4 col-md-offset-2" id="divpdf">
        <a href="{{AddSignPara.PdfPath}}" class="btn btn-info" target="_blank" role="button">View Approved Certificate</a>
        <br />
        <br />
        <a href="{{}}" class="btn btn-success" target="_blank" role="button">View Signed Certificate</a>
    </div>-->
                </div>
            </div>
        </div>
        <div style="visibility:hidden;" id="divDigiSign">
        </div>
    </form>
</body>
</html>