<!DOCTYPE html>
<html>
<head>
    <title>Eligibility Certificate</title>
</head>
<body>
    <div ng-controller="EligCertAppFirstController">
        <!-- New Style Start-->
        <div class="container">
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>Eligibility Certificate</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>Request</li>
                        <li>Eligibility Certificate</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">
                <div class="row">
                    <div class="col-md-12 text-center"> <span style="font-weight:700;" class="text-blue"> Candidate Applied Date : {{EligCertAppFirst.RequestDate | date:'dd/MMM/yyyy'}} </span></div>
                    <div class="col-md-8 col-md-offset-2"><hr></div>


                    <div class="col-md-2 col-md-offset-2">
                        <div class="form-group">
                            <label for="sel1">Form No. :</label>
                            <input type="text" class="form-control" id="FormNo" ng-model="EligCertAppFirst.FormNo" ng-disabled="true">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Hall Ticket/Roll No/Seat No/Unique Id :</label>
                            <input type="text" class="form-control" id="SSCHallTicket" ng-model="EligCertAppFirst.SSCHallTicket" input-Number-Only ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="sel1">
                                Admission Year :
                            </label>
                            <input type="text" class="form-control" id="ExmName" ng-model="EligCertAppFirst.ExmName" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-2" ng-hide="true">
                        <div class="form-group">
                            <label for="sel1">Branch Name :</label>
                            <input type="text" class="form-control" id="BranchName" ng-model="EligCertAppFirst.BranchName" ng-disabled="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2"><hr /></div>
                </div>
                <div class="row frow">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Candidate Name :</label>
                                            <input type="text" class="form-control" id="StudName" ng-model="EligCertAppFirst.StudName" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Father Name :</label>
                                            <input type="text" class="form-control" id="FatherName" ng-model="EligCertAppFirst.FatherName" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Gender:</label>
                                            <form ng-disabled="true">
                                                <label class="radio-inline">
                                                    <input type="radio" name="optradio" ng-readonly="true" ng-model="EligCertAppFirst.Gender" checked value="M">Male
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="optradio" ng-readonly="true" ng-model="EligCertAppFirst.Gender" value="F">Female
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="optradio" ng-readonly="true" ng-model="EligCertAppFirst.Gender" value="O">Transgender
                                                </label>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Mobile Number :</label>
                                            <input type="text" class="form-control" id="MobileNo" ng-model="EligCertAppFirst.MobileNo" ng-disabled="true" maxlength="10" input-Number-Only>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Residential Address :</label>
                                    <textarea style="width:100%;" rows="5" id="Address" ng-model="EligCertAppFirst.Address" ng-disabled="true"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2"><hr /></div>
                </div>
                <div class="row frow">

                    <div class="col-md-4  col-md-offset-2">
                        <div class="form-group">
                            <label for="BoardID" id="BoardName">10th Board Name :</label>
                            <input type="text" class="form-control" id="BoardName" ng-model="EligCertAppFirst.BoardName" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="" id="ExaminationName">10th Examination Name :</label>
                            <input type="text" class="form-control" id="ExamName" ng-model="EligCertAppFirst.ExamName" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="sel1" id="ExamPassYearMonth">10th Year & Month :</label>
                            <input style="float:left; width:50%; display:inline-block;" type="text" class="form-control" id="ExamYear" ng-model="EligCertAppFirst.ExamYear" ng-disabled="true">
                            <input style="float:right; width:50%; display:inline-block;" type="text" class="form-control" id="ExamMonth" ng-model="EligCertAppFirst.ExamMonth" ng-disabled="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2"><hr /></div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="">Fee (in rupees) :</label>
                                <input type="text" class="form-control" id="FeeAmount" ng-model="EligCertAppFirst.FeeAmount" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label for="">Address and name of the College into which admission is bought :</label>
                            <textarea style="width:100%;" rows="4" id="ColNmAndAddr" ng-model="EligCertAppFirst.ColNmAndAddr" ng-disabled="true"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label for="">Purpose :</label>
                            <textarea style="width:100%;" rows="4" id="Purpose" ng-model="EligCertAppFirst.Purpose" ng-disabled="true"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2"><hr /></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2 ">
                        <p><strong>View Student Certificates</strong> </p>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-sm btn-primary" target="_blank" href="{{EligCertAppFirst.UploadDoc1}}">10<sup>th</sup> Marks Memo</a>
                        <a class="btn btn-sm btn-primary" target="_blank" href="{{EligCertAppFirst.UploadDoc2}}" id="UploadTC">10<sup>th</sup> Transfer Certificate</a>
                        <a class="btn btn-sm btn-primary" target="_blank" href="{{EligCertAppFirst.UploadDoc3}}" id="UploadMigration">10<sup>th</sup> Migration Certificate</a>

                        <a class="btn btn-sm btn-primary" target="_blank" href="{{EligCertAppFirst.PassportCopy}}" id="UploadPassport" ng-hide="PassportHide">Passport</a>
                        <a class="btn btn-sm btn-primary" target="_blank" href="{{EligCertAppFirst.EmbassyAIUCopy}}" id="UploadEmbassyAIU" ng-hide="EmbassyAIULetterHide">Embassy Letter/AIU Letter</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2" ng-hide="Approver1RemarkValues">
                        <div class="form-group">
                            <label for=""><font color="red" ng-show="StarShow">*&nbsp;</font>Accept / Reject at Level 1 :</label>
                            <select class="form-control" id="ReqStatus" ng-model="EligCertAppFirst.ReqStatus" ng-disabled="Approver1RemarkRO" ng-change="ChangeTextArea(EligCertAppFirst.ReqStatus,'ReqStatus')">
                                <option value="0">Select Status</option>
                                <option value="A">Approve</option>
                                <option value="R">Reject</option>
                            </select>
                            <span class="status" for="" ng-show="ShowLevel1">
                                Level 1 Status Approved/Rejected Date : {{EligCertAppFirst.ProcessDate | date: 'MMM d, y h:mm:ss a' }} From IpAddress:{{EligCertAppFirst.ReqStatusIPAddress}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4" ng-hide="Approver1RemarkText">
                        <div class="form-group">
                            <label for=""><font color="red" ng-show="StarShow">*&nbsp;</font>Process Remark at Level 1 :</label>
                            <textarea style="width:100%;" rows="2" id="ProcessRemark" ng-model="EligCertAppFirst.ProcessRemark" ng-disabled="Approver1RemarkRO"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4  col-md-offset-2" ng-hide="Approver2RemarkValues">
                        <div class="form-group">
                            <label for=""><font color="red" ng-show="Star1Show">*&nbsp;</font>Accept / Reject at Level 2 :</label>
                            <select class="form-control" id="ReqStatus" ng-model="EligCertAppFirst.ReqStatus1" ng-disabled="Approver2RemarkRO" ng-change="ChangeTextArea(EligCertAppFirst.ReqStatus1,'ReqStatus1')">
                                <option value="0">Select Status</option>
                                <option value="A">Approve</option>
                                <option value="R">Reject</option>
                            </select>
                            <span class="status" for="" ng-show="ShowLevel2">
                                Level 2 Status Approved/Rejected Date : {{EligCertAppFirst.ProcessDate1 | date:'MMM d, y h:mm:ss a' }} From IpAddress:{{EligCertAppFirst.ReqStatus1IPAddress}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4" ng-hide="Approver2RemarkText">
                        <div class="form-group">
                            <label for=""><font color="red" ng-show="Star1Show">*&nbsp;</font>Process Remark at Level 2 :</label>
                            <textarea style="width:100%;" rows="2" id="ProcessRemark1" ng-disabled="Approver2RemarkRO" ng-model="EligCertAppFirst.ProcessRemark1"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="form-group">
                            <button type="button" ng-disabled="RollEditDisable" ng-show="ShowSubmit" ng-click="SaveEligCertAppFirst()" class="btn btn-sm btn-detail">Submit</button>
                            <button type="button" ng-click="PrintEligCertAppFirst()" class="btn btn-sm btn-primary" ng-hide="DigitalSignHide">Digital Sign</button>
                            <button type="button" ng-click="Exit()" class="btn btn-sm btn-danger">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>