<!DOCTYPE html>
<html>
<head>
    <title>Physically Handicapped Exemption</title>
</head>
<body>
    <div ng-controller="PHExemptionAppController">
        <div class="container">
            <!-- New Style Start-->
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>Physically Handicapped Exemption</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <!--<li>Home</li>-->
                        <li>Request</li>
                        <li>Attendance Exemption</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">
                <div class="col-md-12 text-center"> <span style="font-weight:700;" class="text-blue"> Candidate Applied Date : {{PHExemptionApp.RequestDate | date:'dd/MMM/yyyy'}} </span></div>
                <div class="col-md-8 col-md-offset-2"><hr></div>


                <div class="col-md-12">
                    <div class="showhide">
                        <div style="margin-top:20px;" class="row">
                            <div class="col-md-4 col-md-offset-2">
                                <div class="form-group">
                                    <label for=""> Candidate Name :</label>
                                    <input type="text" class="form-control" id="StudName" ng-model="PHExemptionApp.StudName" ng-readonly="true"> <!--disabled="disabled"-->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Father Name :</label>
                                    <input type="text" class="form-control" id="Fathername" ng-model="PHExemptionApp.FatherName" ng-readonly="true">
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-2">
                                <div class="form-group">
                                    <label for=""> Mother Name :</label>
                                    <input type="text" class="form-control" id="MName" ng-model="PHExemptionApp.MotherName" ng-readonly="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for="">Form No. : </label>
                                        <input type="text" class="form-control" id="FormNo" ng-model="PHExemptionApp.FormNo" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Hall Ticket No : </label>
                                        <input type="text" class="form-control" id="RollNo" ng-model="PHExemptionApp.RollNo" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Admission No. : </label>
                                        <input type="text" class="form-control" id="AdmNo" ng-model="AttendanceExemptionApp.AdmNo" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">College Name : </label>
                                        <input type="text" class="form-control" id="ColName" ng-model="AttendanceExemptionApp.ColName" ng-readonly="true">
                                    </div>

                                    <div class="col-md-12 form-group">
                                        <label for=""> SSC Subject Name :</label>
                                        <input type="text" class="form-control" id="SSCSubjectName" ng-model="AttendanceExemptionApp.SSCSubjectName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for=""> PhysDisbPer :</label>
                                        <input type="text" class="form-control" id="PhysDisbPer" ng-model="AttendanceExemptionApp.PhysDisbPer" ng-readonly="true">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for=""> Group Name :</label>
                                        <input type="text" class="form-control" id="MainGrpName" ng-model="AttendanceExemptionApp.MainGrpName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for=""> Second Language :</label>
                                        <input type="text" class="form-control" id="SubName" ng-model="AttendanceExemptionApp.SubName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for=""> Medium Name :</label>
                                        <input type="text" class="form-control" id="MediumName" ng-model="AttendanceExemptionApp.MediumName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for=""> Exam Name :</label>
                                        <input type="text" class="form-control" id="ExamName" ng-model="AttendanceExemptionApp.ExamName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for=""> Course Name :</label>
                                        <input type="text" class="form-control" id="CourseName" ng-model="AttendanceExemptionApp.CourseName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for=""> Branch Name :</label>
                                        <input type="text" class="form-control" id="BranchName" ng-model="AttendanceExemptionApp.BranchName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for=""> District Name :</label>
                                        <input type="text" class="form-control" id="DistName" ng-model="AttendanceExemptionApp.DistName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for=""> Mandal Name :</label>
                                        <input type="text" class="form-control" id="MandalName" ng-model="AttendanceExemptionApp.MandalName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for=""> PhysDisb Name :</label>
                                        <input type="text" class="form-control" id="PhysDisbName" ng-model="AttendanceExemptionApp.PhysDisbName" ng-readonly="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for=""> Mobile Number : </label>
                                        <input type="text" class="form-control" id="MobileNo" ng-model="PHExemptionApp.MobileNo" ng-readonly="true" maxlength="10" input-Number-Only>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Gender:</label>
                                            <form ng-disabled="true">
                                                <label class="radio-inline">
                                                    <input type="radio" name="optradio" ng-model="PHExemptionApp.Gender" checked value="M">Male
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="optradio" ng-model="PHExemptionApp.Gender" value="F">Female
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="optradio" ng-model="PHExemptionApp.Gender" value="O">Transgender
                                                </label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row">                       
                            <div class="col-md-4 col-md-offset-2">
                                <div class="form-group">
                                    <label for=""><font color="red" ng-hide="Star1Hide">*&nbsp;</font>Accept / Reject at Level 1 :</label><!--ng-disabled="Approver1RemarkRO"-->
                                    <select class="form-control" id="ReqStatus" ng-model="PHExemptionApp.ReqStatus" ng-disabled="Approver1RemarkRO" ng-change="ChangeTextArea(PHExemptionApp.ReqStatus,'ReqStatus')">
                                        <option value="0">Select Status</option>
                                        <option value="A">May be Approved</option>
                                        <option value="R">May be Rejected</option>
                                    </select>
                                    <span class="status" for="" ng-show="Level1">
                                        Level 1 Status Approved/Rejected Date : {{PHExemptionApp.ProcessDate | date: 'MMM d, y h:mm:ss a' }} From IpAddress:{{PHExemptionApp.ReqStatusIPAddress}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for=""><font color="red" ng-hide="Star1Hide">*&nbsp;</font>Process Remark at Level 1 :</label>
                                    <textarea style="width:100%;" rows="2" id="ProcessRemark" ng-disabled="Approver1RemarkRO" ng-model="PHExemptionApp.ProcessRemark"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4  col-md-offset-2">
                                <div class="form-group">
                                    <label for=""><font color="red" ng-hide="Star2Hide">*&nbsp;</font>Accept / Reject at Level 2 :</label>
                                    <select class="form-control" id="ReqStatus" ng-model="PHExemptionApp.ReqStatus1" ng-disabled="Approver2RemarkRO" ng-change="ChangeTextArea(PHExemptionApp.ReqStatus1,'ReqStatus1')">
                                        <option value="0">Select Status</option>
                                        <option value="A">May be Approved</option>
                                        <option value="R">May be Rejected</option>
                                    </select>
                                    <span class="status" for="">
                                        <!--ng-show="Level2"-->
                                        Level 2 Status Approved/Rejected Date : {{PHExemptionApp.ProcessDate1 | date:'MMM d, y h:mm:ss a' }} From IpAddress:{{PHExemptionApp.ReqStatus1IPAddress}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for=""><font color="red" ng-hide="Star2Hide">*&nbsp;</font>Process Remark at Level 2 :</label>
                                    <textarea style="width:100%;" rows="2" id="ProcessRemark1" ng-disabled="Approver2RemarkRO" ng-model="PHExemptionApp.ProcessRemark1"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4  col-md-offset-2">
                                <div class="form-group">
                                    <label for=""><font color="red" ng-hide="Star3Hide">*&nbsp;</font>Accept / Reject at Level 3 :</label>
                                    <select class="form-control" id="ReqStatus" ng-model="PHExemptionApp.ReqStatus2" ng-disabled="Approver3RemarkRO" ng-change="ChangeTextArea(PHExemptionApp.ReqStatus2,'ReqStatus2')">
                                        <option value="0">Select Status</option>
                                        <option value="A">May be Approved</option>
                                        <option value="R">May be Rejected</option>
                                    </select>
                                    <span class="status" for="" ng-show="Level2">
                                        Level 3 Status Approved/Rejected Date : {{PHExemptionApp.ProcessDate2 | date:'MMM d, y h:mm:ss a' }} From IpAddress:{{PHExemptionApp.ReqStatus2IPAddress}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for=""><font color="red" ng-hide="Star3Hide">*&nbsp;</font>Process Remark at Level 3 :</label>
                                    <textarea style="width:100%;" rows="2" id="ProcessRemark2" ng-disabled="Approver3RemarkRO" ng-model="PHExemptionApp.ProcessRemark2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4  col-md-offset-2">
                                <div class="form-group">
                                    <label for=""><font color="red" ng-hide="Star4Hide">*&nbsp;</font>Accept / Reject at Level 4 :</label>
                                    <select class="form-control" id="ReqStatus" ng-model="PHExemptionApp.ReqStatus3" ng-disabled="Approver4RemarkRO" ng-change="ChangeTextArea(PHExemptionApp.ReqStatus3,'ReqStatus3')">
                                        <option value="0">Select Status</option>
                                        <option value="A">Approved</option>
                                        <option value="R">Rejected</option>
                                    </select>
                                    <span class="status" for="">
                                        Level 3 Status Approved/Rejected Date : {{PHExemptionApp.ProcessDate3 | date:'MMM d, y h:mm:ss a' }} From IpAddress:{{PHExemptionApp.ReqStatus3IPAddress}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for=""><font color="red" ng-hide="Star4Hide">*&nbsp;</font>Process Remark at Level 4 :</label>
                                    <textarea style="width:100%;" rows="2" id="ProcessRemark3" ng-disabled="Approver4RemarkRO" ng-model="PHExemptionApp.ProcessRemark3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2"><hr /></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-2 ">
                                <p><strong>View Student Certificates</strong> </p>
                            </div>
                            <div class="col-md-6">
                                <!--<a class="btn btn-sm btn-primary" target="_blank" href="{{PHExemptionApp.UploadDoc1Photo}}">Student Photo</a>-->
                                <a class="btn btn-sm btn-primary" target="_blank" href="{{PHExemptionApp.Upload1DisabilityCert}}" id="Upload1DisabilityCert" ng-hide="disabilityCertHide">Disability Certificate</a>
                                <a class="btn btn-sm btn-primary" target="_blank" href="{{PHExemptionApp.Upload2MarksMemo}}" id="Upload2MarksMemo" ng-hide="MarksMemoHide">SSC Marks Memo</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12"><hr></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="button" ng-disabled="RollEditDisable" ng-hide="SubmitHide" ng-click="SavePHExemptionApp()" class="btn btn-detail btn-sm">Submit</button>
                                <button type="button" class="btn btn-reset btn-sm" ng-hide="DigitalSignHide" ng-click="PrintPHExemptionApp()">Digital Sign</button>
                                <button type="button" ng-click="Exit()" class="btn btn-danger btn-sm">Back</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- New Style End-->

        </div>
    </div>
</body>
</html>
