<!DOCTYPE html>
<html>
<head>
    <title>ReAdmission Request</title>
</head>
<body>
    <div ng-controller="ReAdmissionAppController">
        <div class="container">
            <!-- New Style Start-->
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>ReAdmission</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>Request</li>
                        <li>Re-admission</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">
                <div class="col-md-12 text-center"> <span style="font-weight:700;" class="text-blue"> Candidate Applied Date : {{ReAdmissionApp.RequestDate | date:'dd/MMM/yyyy'}} </span></div>
                <div class="col-md-8 col-md-offset-2"><hr></div>
                <div class="col-md-12">
                    <div class="showhide">
                        <div style="margin-top:20px;" class="row">
                            <div class="col-md-4 col-md-offset-2">
                                <div class="form-group">
                                    <label for=""> Candidate Name :</label>
                                    <input type="text" class="form-control" id="StudName" ng-model="ReAdmissionApp.StudName" ng-readonly="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Father Name :</label>
                                    <input type="text" class="form-control" id="Fathername" ng-model="ReAdmissionApp.FatherName" ng-readonly="true">
                                </div>
                            </div>
                            <!--</div>
                <div style="margin-top:20px;" class="row">-->
                            <div class="col-md-4 col-md-offset-2">
                                <div class="form-group">
                                    <label for=""> Mother Name :</label>
                                    <input type="text" class="form-control" id="MotherName" ng-model="ReAdmissionApp.MotherName" ng-readonly="true">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">College Name :</label>
                                    <input type="text" class="form-control" id="ColName" ng-model="ReAdmissionApp.ColName" ng-readonly="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2" ">
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label for=""> Application Number : </label>
                                        <input type="text" class="form-control" id="FormNo" ng-model="ReAdmissionApp.FormNo" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for=""> SSC Hall Ticket:</label>
                                        <input type="text" class="form-control" id="HTNO" ng-model="ReAdmissionApp.SSCHallTicket" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for=""> College Code :</label>
                                        <input type="text" class="form-control" id="ColCode" ng-model="ReAdmissionApp.ColCode" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for=""> Admission No. : </label>
                                        <input type="text" class="form-control" id="AdmNo" ng-model="ReAdmissionApp.AdmNo" ng-readonly="true">
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for=""> District :</label>
                                        <input type="text" class="form-control" id="DistName" ng-model="ReAdmissionApp.DistName" ng-readonly="true">
                                    </div>
                                    <!--<div class="col-md-6 form-group">
                                        <label for=""> Mandal : </label>
                                        <input type="text" class="form-control" id="MandalName" ng-model="ReAdmissionApp.MandalName" ng-readonly="true">
                                    </div>-->
                                    <div class="col-md-6 form-group">
                                        <label for="">Old Medium : </label>
                                        <input type="text" class="form-control" id="OldMedium" ng-model="ReAdmissionApp.MediumName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for=""> New Medium :</label>
                                        <input type="text" class="form-control" id="MediumName" ng-model="ReAdmissionApp.NewMediumName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Old Group : </label>
                                        <input type="text" class="form-control" id="OldMedium" ng-model="ReAdmissionApp.GroupName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for=""> New Group :</label>
                                        <input type="text" class="form-control" id="MediumName" ng-model="ReAdmissionApp.NewGroupName" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for="">Old 2nd Language : </label>
                                        <input type="text" class="form-control" id="OldMedium" ng-model="ReAdmissionApp.SecondLan" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for=""> New 2nd Language :</label>
                                        <input type="text" class="form-control" id="MediumName" ng-model="ReAdmissionApp.NewSecondLan" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for=""> Mobile Number: </label>
                                        <input type="text" class="form-control" id="MobileNo" ng-model="ReAdmissionApp.MobileNo" ng-readonly="true" maxlength="10" input-Number-Only>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for=""> Fee(in rupees):</label>
                                        <input type="text" class="form-control" id="FeeAmount" ng-model="ReAdmissionApp.FeeAmount" ng-readonly="true">
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <label for=""> Year of Admission :</label>
                                        <input type="text" class="form-control" id="AcdYrName" ng-model="ReAdmissionApp.AcdYrName" ng-readonly="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <div class="row">
                                    <div class="col-md-12 form-group" ng-hide="ApproverStatus">
                                        <label for=""><font color="red">*</font> Request Status :</label>
                                        <select class="form-control" id="ReqStatus" ng-model="ReAdmissionApp.ReqStatus" ng-disabled="StatusDisable" ng-change="ChangeTextArea(ReAdmissionApp.ReqStatus,'ReqStatus')">
                                            <option value="0">Select Status</option>
                                            <option value="A">Approve</option>
                                            <option value="R">Reject</option>
                                        </select>
                                        <div class="status" ng-show="ShowLevel1"> Level 1 Status Approved/Rejected Date : {{ReAdmissionApp.ProcessDate | date: 'MMM d, y h:mm:ss a' }} From IpAddress:{{ReAdmissionApp.ReqStatusIPAddress}}</div>
                                    </div>
                                    <div class="col-md-12 form-group" ng-hide="ApproverRemarks">
                                        <label for=""><font color="red">*</font> Process Remark :</label>
                                        <textarea rows="4" style="width: 100%;" id="ProcessRemark" ng-model="ReAdmissionApp.ProcessRemark" ng-disabled="ApproverRemarksDisable"></textarea>
                                    </div>
                                    <div class="col-md-12 form-group" ng-hide="Approver1Status">
                                        <label for=""><font color="red">*</font> Request Status 1 :</label>
                                        <select class="form-control" id="ReqStatus1" ng-model="ReAdmissionApp.ReqStatus1" ng-disabled="Status1Disable" ng-change="ChangeTextArea(ReAdmissionApp.ReqStatus1,'ReqStatus1')">
                                            <option value="0">Select Status</option>
                                            <option value="A">Approve</option>
                                            <option value="R">Reject</option>
                                        </select>
                                        <div class="status" ng-show="ShowLevel2"> Level 2 Status Approved/Rejected Date : {{ReAdmissionApp.ProcessDate1 | date:'MMM d, y h:mm:ss a' }} From IpAddress:{{ReAdmissionApp.ReqStatus1IPAddress}}</div>
                                   </div>
                                    <div class="col-md-12 form-group" ng-hide="Approver1Remarks">
                                        <label for=""><font color="red">*</font> Process Remark 1 :</label>
                                        <textarea rows="4" style="width: 100%;" id="ProcessRemark" ng-model="ReAdmissionApp.ProcessRemark1" ng-disabled="Approver1RemarksDisable"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><hr></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="button" ng-hide="SubmitHide" ng-click="SaveReAdmission()" class="btn btn-sm btn-detail">Submit</button>
                                <button type="button" ng-hide="DigitalHide" ng-disabled="DigitalDisable" ng-click="DigitalReAdmissionApp()" class="btn btn-sm btn-reset">Digital Sign</button>
                                <button type="button" ng-click="Exit()" class="btn btn-sm btn-danger">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- New Style End-->
        </div>
    </div>
</body>
</html>