<style>

    @media print {
        .table {
            margin-bottom: 0px !important;
        }

        .non-print {
            display: none;
        }

        .navbar_section {
            display: none;
        }

        .college-details {
            display: none;
        }

        .table-custom-tables-tb .table-bordered > thead > tr > th {
            border: 1px solid #000 !important;
        }

        .table-custom-tables-tb .table-bordered > tbody > tr > td {
            border: 1px solid #000 !important;
        }

        .footer_section {
            display: none;
        }

        .scroll-top-wrapper {
            display: none;
        }

        tr.cb-1 th {
            font-weight: 600 !important;
            color: #000 !important;
        }

        #printSection, #printSection * {
            visibility: visible;
        }

        #printSection {
            position: relative;
            left: 0;
            top: 0;
        }

        .table-custom-tables-tb .table-bordered > tbody > tr > td {
            border: 1px solid #000 !important;
            padding: 2px !important;
        }

        .text-success {
            color: #3c763d !important;
        }

        .text-danger {
            color: #a94442 !important;
        }


        .base-row {
            background-color: #fefefe;
            border-radius: 4px;
            margin-top: 0px;
            margin-bottom: 60px;
            padding: 15px;
            border: 1px solid #e8e8e8;
            box-shadow: 0px 3px 17px -8px #888888;
        }

        button {
            margin-left: 10px !important;
            margin-right: 10px !important;
        }

        .footer_section {
            /* position: fixed; */
            display: none;
            bottom: 0px;
            z-index: 99;
        }

        table {
            border: 1px solid #CCC;
            border-collapse: collapse !important;
        }

        .submit_css {
            background-color: #dff0d8 !important;
        }

        .label {
            display: inline;
        }

        .details {
            background: white !important;
        }

        td {
            border: none !important;
        }

        .markstable {
            margin-top: 0px;
            margin-bottom: 60px;
        }

        .header-top-section {
            display: none;
        }

        .main-header {
            display: none !important;
        }

        #text-right {
            float: right !important;
            color: #000 !important;
        }

        .fa-fw {
            width: 1.28571429em;
            text-align: center;
            display: none;
        }

        tr th {
            background: #98abb9;
            color: #000 !important;
            font-weight: 800;
        }

        /*.sbtet_img{

        width:130px;
        height:80px;
        display: list-item;
        list-style-image: url(../../../contents/img/big-logo.png);
        list-style-position: inside;
    }*/
        td input {
            width: 50px;
            text-align: center;
            border: none;
        }

        .mya {
            text-decoration: none !important;
        }

        #text-left {
            color: #000 !important;
        }

        #text-center {
            text-align: center !important;
            color: #000 !important;
        }

        #divtitle {
            font-size: 24px !important;
            text-align: center !important;
        }

        .sem-pad {
            margin-left: 10px !important;
        }

        th {
            color: #000 !important;
            font-weight: bold !important;
        }

        label {
            font-weight: bold !important;
        }

        .text-red {
            color: red;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }

    .loader {
        border: 4px solid #5cb85c;
        border-radius: 50%;
        border-top: 4px solid #fff;
        width: 20px;
        height: 20px;
        -webkit-animation: spin 4s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }


    .navbar {
        position: relative;
        min-height: 50px;
        /* margin-bottom: 20px; */
        border: 1px solid transparent;
        font-family: 'Open Sans';
    }

    .navbar_inverse_section {
        border-radius: 0px;
        margin-bottom: 0px;
    }

    element.style {
        color: red;
        top: 33px;
    }

    label.notifylabel1 {
        position: absolute;
        right: 19px;
        top: 25px;
    }

    .text-success {
        color: #3c763d !important;
    }

    .text-danger {
        color: #a94442 !important;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }
</style>

<div ng-controller="CcicAssessmentReportsSubjectController">

    <div class="breadcrumb-header non-print">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>Marks Entry Subjects</h5>
                <ol class="breadcrumb">
                    <li><a href="#!/CcicDashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li><a href="#!/CcicDashboard/Assessment">Assessment</a></li>
                    <li><a href="#!/CcicDashboard/Assessment/AssesmentReports">Assessment Reports</a></li>
                    <li><a href="#!/CcicDashboard/Assessment/AssesmentReports/AssessmentReportsCourse">Assessment Reports Course</a></li>
                    <li><a href="#!/CcicDashboard/Assessment/AssesmentReports/AssessmentReportsCourse/AssessmentReportsSubject">Assessment Reports Subject</a></li>
                </ol>
            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <div class="container">

        <div class="col-md-6 non-print">
            <button class="btn bck_btn"><a ng-click="back()" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
        </div>
        <div class="col-md-6 non-print">
            <button class="btn btn-success pull-right" ng-click="GetReport()"> Consolidated Report</button>
        </div>
        <div class="col-md-12 non-print" style="bottom:25px">
            <label class="notifylabel1 pull-right" for="sel1" style="color: red;top:33px"> Click on row to get Assessment Marks Entry</label>

        </div>
        <div class="col-md-12 non-print" style="top:30px">
            <div class="cl-details">
                <h2>{{ExamType}} Marks Entry Subjects</h2>
            </div>

            <div class="table-responsive table-custom-tables-tb">
                <table class="table table-bordered table-hover table-striped table-rounded">
                    <thead>
                        <tr class="cb-1">
                            <th class="text-center">S no</th>
                            <th class="text-center">Course</th>
                            <th class="text-center">Subject Code</th>
                            <th class="text-center">Subject Name</th>
                            <th class="text-center">Total Records</th>
                            <th class="text-center">Marks Posted</th>
                            <th class="text-center">Marks Not Posted</th>
                            <th class="text-center">Submitted</th>
                            <th class="text-center">Not Submitted</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in getSubjectsResponse">
                            <td class="text-center" ng-click="selectSubjectDetails(x)">{{$index+1}}</td>
                            <td class="text-center" ng-click="selectSubjectDetails(x)">{{x.Course}} </td>
                            <td class="text-center" ng-click="selectSubjectDetails(x)">{{x.SubjectCode}} </td>
                            <td class="text-center" ng-click="selectSubjectDetails(x)">{{x.SubjectName}}</td>
                            <td class="text-center" ng-click="selectSubjectDetails(x)">{{x.TotalRecords}}</td>
                            <td class="text-center" ng-click="selectSubjectDetails(x)">{{x.MarksPosted}}</td>
                            <td class="text-center" ng-click="selectSubjectDetails(x)">{{x.MarksNotPosted}}</td>
                            <td class="text-center" ng-click="selectSubjectDetails(x)">{{x.Submitted}}</td>
                            <td class="text-center" ng-click="selectSubjectDetails(x)">{{x.NotSubmitted}}</td>
                            <!--<td class="text-center" ng-click="selectSubjectDetails(x)">
                                <span ng-show="x.Submitted!=0" class="text-success"><b>Yes</b></span>
                                <span ng-show="x.Submitted==0" class="text-danger"><b>No</b></span>
                            </td>-->

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12 non-print" ng-show="AllStudentDetails.length>0" style="top:23px">
            <button class="btn btn-success pull-right btn-sm" ng-click="PrintStudentResult('idtoDivPrintAdmin')"> Print</button>
        </div>
        <div class="col-md-12 " ng-show="AllStudentDetails.length>0" id="idtoDivPrintAdmin" style="top:35px">

            <table class="table table-bordered table-hover table-striped ">
                <thead>
                    <tr class="cb-1">
                        <th class="text-center">Institution Code</th>
                        <th class="text-center">Institution Name</th>
                        <th class="text-center">Exam Type</th>

                    </tr>
                </thead>

                <tr>
                    <td class="text-center">{{InstitutionCode}}</td>
                    <td class="text-center">{{InstitutionName}}</td>
                    <td class="text-center">{{ExamType}}</td>
                </tr>
            </table>

            <div class="table-responsive table-custom-tables-tb" style="margin-bottom:100px">
                <table class="table table-bordered table-hover table-striped table-rounded">
                    <thead>
                        <tr class="cb-1">
                            <th width="4%">S.No</th>
                            <th class="text-center">Pin</th>
                            <th class="text-center">Name</th>
                            <th class="text-center" ng-repeat="SubjectCode in SubjectsList">
                                {{SubjectCode}}
                            </th>
                            <!--<th>Total</th>
                            <th>Not Posted</th>
                            <th>Absent</th>
                            <th>Malpractice</th>
                            <th class="text-center">Submitted</th>
                            <th class="text-center">Release</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dat in AllStudentDetails">
                            <td class="text-center">{{$index+1}}</td>
                            <td class="text-center">{{dat.PIN}}</td>
                            <td class="text-center">{{dat.StudentName}}</td>
                            <td class="text-center" ng-repeat="data in getOldChildren(dat)">
                                {{data.Marks ==null? '-': data.Marks}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="width:100%;text-align:center;">
            <img src="../../../contents/img/loading2.gif" ng-show="loading" width="100" />
        </div>


    </div>

</div>


