<!DOCTYPE html>
<html>
<head>
    <title>Blind Condidates Approval</title>
</head>
<body>
    <div ng-controller="BlindCondAprovalController">
        <!-- New Style Start-->
        <div class="container">
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>Blind Condidates Approval</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>Home</li>
                        <li>Student Admission</li>
                        <li>Blind Condidates Approval</li>
                    </ol>
                </div>
            </div>

            <div class="row base-row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adno">Enroll No.:</label>
                            <input type="text" class="form-control" id="adno" ng-Model="BlindCondAproval.AdmNo" ng-readonly="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adno">SSC Hall Ticket:</label>
                            <input type="text" class="form-control" id="adno" ng-Model="BlindCondAproval.SSCHallTicket" ng-readonly="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adno">Candidate's  Name:</label>
                            <input type="text" class="form-control" id="cname" ng-Model="BlindCondAproval.StudName" maxlength="100" ng-readonly="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adno">Father's Name:</label>
                            <input type="text" class="form-control" id="fname" ng-Model="BlindCondAproval.FatherName" maxlength="40" ng-readonly="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adno">Mother's Name:</label>
                            <input type="text" class="form-control" id="mname" ng-Model="BlindCondAproval.MotherName" maxlength="40" ng-readonly="true">
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <button type="button" ng-click="SaveBlindCondAproval()" class="btn btn-detail btn-sm">Submit</button>
                        <button type="reset" ng-click="Exit()" class="btn btn-reset btn-sm">Exit</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
