<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Users">
    <title>College Intake Capacity</title>
</head>
<body>
    <div ng-controller="CollegeInfoController">
        <div class="panel-group">
            <div class="panel">
                <div class="panel-heading header_background"><span class="fa fa-book heading_icon"></span><b>College Intake Capacity</b></div>
                <div class="panel-body form_border">
                    <form action="#">
                        <div id="CollegeRegs"
                             ej-grid
                             e-allowgrouping="true"
                             e-allowsorting="true"
                             e-allowresizing="true"
                             e-datasource="CollegeInfoData">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

