<!DOCTYPE html>
<html>
<head>
    <title>Edit/Confirm-Photo Check List</title>
</head>
<body>
    <div ng-controller="EditedByCollegeController">
        <!-- New Style Start-->
        <div class="container">
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>Edit/Confirm-Photo Check List</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>Home</li>
                        <li>Student Admission</li>
                        <li>Edit/Confirm-Photo Check List</li>
                    </ol>
                </div>
            </div>

            <div class="row base-row">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adno">Enroll No.:</label>
                            <input type="text" class="form-control" id="adno" ng-Model="EditedByCollege.AdmNo" ng-readonly="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adno">SSC Hall Ticket:</label>
                            <input type="text" class="form-control" id="adno" ng-Model="EditedByCollege.SSCHallTicket" ng-readonly="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adno">Candidate's  Name:</label>
                            <input type="text" class="form-control" id="cname" ng-Model="EditedByCollege.StudName" maxlength="100" ng-readonly="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adno">College Name:</label>
                            <input type="text" class="form-control" id="ColName" ng-Model="EditedByCollege.ColName" ng-readonly="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adno">Father's Name:</label>
                            <input type="text" class="form-control" id="fname" ng-Model="EditedByCollege.FatherName" maxlength="40" ng-readonly="true">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="adno">Mother's Name:</label>
                            <input type="text" class="form-control" id="mname" ng-Model="EditedByCollege.MotherName" maxlength="40">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SubCastID">Caste/Community :</label>
                            <select class="form-control input-sm" id="CasteID" ng-model="EditedByCollege.CasteID" ng-change="FillSubCaste(EditedByCollege.CasteID)">
                                <option ng-selected="EditedByCollege.CasteID == option.CasteID" ng-repeat="option in CasteList" value="{{option.CasteID}}">{{option.CasteName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SubCastID">Sub Caste :</label>
                            <select class="form-control input-sm" id="SubCastID" ng-model="EditedByCollege.SubCastID" ng-disabled="SubCasteDisable">
                                <option ng-selected="EditedByCollege.SubCastID == option.SubCastID" ng-repeat="option in SubCastList" value="{{option.SubCastID}}">{{option.SubCastName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-disabled="GenderDisable">
                            <label for="email">Gender :</label>
                            <form>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" ng-model="EditedByCollege.Gender" checked value="M">Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" ng-model="EditedByCollege.Gender" value="F">Female
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optradio" ng-model="EditedByCollege.Gender" value="O">Other
                                </label>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Student Photo:</label>
                        <img data-ng-src="{{StudentPhoto}}" id="StudentPhoto" class="img img-responsive" style="height: 150px; width: 150px;">
                        <input style="border:none; margin-left: -10px; box-shadow: none; margin-top:10px;" class="form-control" type="file" id="PhotoUpload" ng-model-instant onchange="angular.element(this).scope().PhotoUpload(this)" />
                        <p style="font-size:10px;">Photo file size must be less than 50kb. With 3cm X 4.5cm (Width X Height) and should be in .jpg or .png format.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name">Student Signature:</label>
                        <img data-ng-src={{StudentSign}} id="StudentSign" class="img img-responsive" style="height: 80px; width: 150px;margin-bottom:68px;">
                        <input style="border:none; margin-left: -10px; box-shadow: none;" class="form-control" type="file" id="SignUpload" ng-model-instant onchange="angular.element(this).scope().SignUpload(this)" />
                        <p style="font-size:10px;">Signature must be less than 20kb. With 3cm X 1.5cm (Width X Height) and should be in .jpg or .png format.</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <button type="button" ng-disabled="RollEditDisable" ng-click="SaveEditedByCollege()" class="btn btn-detail btn-sm">Submit</button>
                        <button type="button" ng-disabled="RollDeleteDisable" ng-click="DeleteEditedByCollege()" class="btn btn-detail btn-danger" >Delete</button>
                        <button type="reset" ng-click="Exit()" class="btn btn-reset btn-sm">Exit</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
