<style>
    .btn-css {
        margin-top: 25px;
        padding: 5px 12px;
    }
    .editbtn{
         width:42px;
        margin :0px 10px 0px 10px;
    }
    .deleteBtn{
        width:42px;
        margin :0px 10px 0px 10px;
    }
</style>
<div ng-controller="MastersBankController">
    <section class="content">
        <div class="container ">
            <div class="alert alert-info">
                <div class="studWishinputs">
                    <form novalidate="" class="ng-pristine ng-invalid ng-invalid-required">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>BankName</label>
                                    <input type="text" style="resize:none" class="form-control" ng-model="BankName" name="Semester" />
                                </div>
                            </div>

                            <div class="col-md-4 pull-left">
                                <button type="submit" class="btn pull-left btn-success btn-css" ng-click="submit()" ng-if="AddData">
                                   ADD
                                </button>
                                <button type="submit" class="btn pull-left btn-success btn-css" ng-click="update()" ng-if="UpdateData">
                                    Update
                                </button>
                            </div>
                            <!--<div class="col-md-4 pull-left">
                                
                            </div>-->

                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="container ">
            <div style="width:100%;text-align:center;">
                <!-- ngIf: !Semisters  -->
            </div>
            <div style="width:100%;text-align:center;">
                <!-- ngIf: loading -->
            </div>
            <!--<div class="col-md-12 ng-hide" ng-show="result">-->
            <div class="cl-details">
                <h2>Master Banks</h2>
            </div>

            <div class="table-responsive table-custom-tables-tb">
                <table class="table table-bordered table-hover table-striped table-rounded">
                    <thead>
                        <tr class="cb-1">
                            <th>Sno</th>
                            <th>BankName</th>
                            <th width="15%" class="text-center">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color:#fff!important;" ng-repeat="data in GetMasterBanksName">
                            <!--<td style="text-align: center"><input type="checkbox" ng-model="x.isChecked" ng-checked="isAllchecked" ng-change="selectEntity(x)"></td>-->
                            <td class="text-left">{{$index + 1}}</td>
                            <td class="text-left">{{data.Bank}}</td>

                            <td>
                                <button class="btn-xs btn btn-success editbtn col-md-2" ng-click="Edit(data.Id)"><i class="fa fa-pencil" aria-hidden="true"></i></button>


                                <button class="btn-xs btn btn-red deleteBtn col-md-2" ng-click="delete(data.Id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div ng-if="Noreports" class="no-results">
                    <img src="../../contents/img/Folder-Icon.svg" />
                    <h2>No Result Found</h2>
                </div>
            </div>
        </div>
    </section>
</div>
