<!DOCTYPE html>
<style>
   .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: #fff;
        cursor: default;
        background-color: #35a5f1 !important;
        border: 2px solid #ddd;
        border-bottom-color: transparent;
    }
     .nav-tabs > li.active > a, .nav-tabs > li.active1 > a:focus, .nav-tabs > li.active > a:hover {
        color: #fff;
        cursor: default;
        background-color: #35a5f1 !important;
        border: 2px solid #ddd;
        border-bottom-color: transparent;
    }
   
</style>

<div ng-controller="SmsSettingController">
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">

                <h5>Admin SmsSetting</h5>
                <ol class="breadcrumb">
                    <li><a href="#!/Dashboard"><i class="fa fa-dashboard"></i> Admission</a></li>
                    <li><a href="#!/Dashboard/AdmissionDashboard"> Assessment Dashboard</a></li>
                    <li><a href="#!/Dashboard/AdmissionDashboard/SmsSetting">SmsSetting</a></li>
                </ol>
            </section>
        </div>
    </div>
    <div id="exTab" class="container">
        <ul class="nav nav-tabs" style="margin-bottom:0px!important;">
            <li class="active">

                <a href="#home" data-toggle="tab" aria-expanded="true">SmsSetting</a>
            </li>
            <li class="">
                <a href="#Sms" data-toggle="tab" aria-expanded="false">Admin Setting</a>
            </li>
            
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="row">

                    
                        <div class="base-row" style="padding:15px!important;">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="font-weight-bold"> Enter Percentage  :</label>
                                        <input type="text" maxlength="4" style="resize:none" id="" class="form-control" ng-model="Percentage" name="Attendance" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-primary gr-button btn_top pull-left" style="margin-top: 23px!important;" ng-click="GetPopup()">
                                            Submit
                                            <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                  
                    </div>
                </div>
                <div class="tab-pane active" id="Sms">
                    <div class="row">
                


                            <div class="base-row" style="padding:15px!important;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="font-weight-bold"> Enter Percentage  :</label>
                                            <input type="text" maxlength="4" style="resize:none" id="" class="form-control" ng-model="Percentage" name="Attendance" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="font-weight-bold"> Enter Percentage  :</label>
                                            <input type="text" maxlength="4" style="resize:none" id="" class="form-control" ng-model="Percentage" name="Attendance" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-sm btn-primary gr-button btn_top pull-left" style="margin-top: 23px!important;" ng-click="">
                                                Submit
                                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            


                        </div>
                        </div>
                </div>


    </div>
        </div>
                
       
       
    </div>
    




   