<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ChangePassword">
    <title> Change Password </title>
</head>
<body>
    <div ng-controller="ChangePasswordController">
        <div class="container">
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>Change Password</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>System Administration</li>
                        <li>Change Password</li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-4 col-md-offset-4" style="margin-top:2%;">
                <div class="panel-group">
                    <div>
                        <div style="padding:20px 30px;" class="panel-body form_border">
                            <span class="login-txt">Change Password</span>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="sel1">Old Password:</label>
                                    <input type="password" class="form-control" ng-model="OldPassword" id="OldPassword">
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-detail btn-sm" ng-click="CheckOldPassword()">Next</button>
                            </div>
                            <div ng-show="shownewpassword">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="sel1">New Password:</label>
                                        <input type="password" class="form-control" ng-model="NewPassword" id="NewPassword">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="pwd">Confirm Password:</label>
                                        <input type="password" class="form-control" ng-model="ConfirmPassword" id="ConfirmPassword">
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-detail btn-sm" ng-click="SaveChangePassword()">Change Password</button>
                                    <button type="reset" class="btn btn-reset btn-sm" ng-click="Exit()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>