<div class="form-group" >
    <label for="{{objectname}}" class="control-label">
        {{objecttext}}
        <span ng-show="{{compulsory}}" class="require">*</span>
    </label>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-mobile"></i>
        </span>
        <input  
               type="number"
               name="{{objectname}}"
               id="{{objectname}}"
               placeholder="411046"
               class="form-control number"
               ng-model="object"
               ng-pattern="/^(|\d{6})$/"
               maxlength="6"
               autocomplete="off"
               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
    </div>
  
</div>