<style>
    .table-bordered > thead > tr > th {
        border: 1px solid #ddd !important;
        color: #ffffff !important;
        font-size: 12px !important;
        background-color: #2a8fcf;
        position: sticky;
        top: 0px;
    }
</style>
<div ng-controller="TwshResetPasswordController">
 
    <div class="spacer"></div>
    <div class="container ">
        <form>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="form-group required">
                        <label>District</label>
                        <select class="form-control" ng-model="District"  required>
                            <option value="" selected>Select District</option>
                            <option ng-repeat="District in Districts" value="{{District.Id}}">
                                {{District.DistrictName}}
                            </option>

                        </select>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="form-group required">
                        <label>User Types</label>
                        <select class="form-control" ng-model="UserType" required>
                            <option value="" selected>Select User Type</option>
                            <option ng-repeat="data in userTypes" value="{{data.Id}}">
                                {{data.UserType}}
                            </option>

                        </select>
                    </div>
                </div>
                
                <div class="col-md-4 pull-right">
                    <div class="submit-btn" style="margin-bottom:0px;margin-top:34px;">
                        <button type="button" ng-click="selectDistrict()" style="float:left!important;">Submit</button>
                    </div>
                </div>

            </div>
        </form>
        <div class="" ng-if="Institute">
            <div class="table-responsive table-custom-tables-tb scrollbox" >
                <table class="table table-bordered table-hover table-striped table-rounded scrollbox-content">
                    <thead>
                        <tr>
                            <th>Institute Code</th>
                            <th>Institute Name</th>
                            <th>Action</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in Institutes">
                            <td>{{data.InstitutionCode}}</td>
                            <td>{{data.InstitutionName}}</td> 
                            <td><button class="btn btn-success btn-sm" ng-click="resetPassword(data.InstitutionCode)">Reset Password</button></td> 
                        </tr>
                    
                    </tbody>
                </table>
            </div>
    </div>
        <div class="" ng-if="ExamCenter">
            <div class="table-responsive table-custom-tables-tb scrollbox">
                <table class="table table-bordered table-hover table-striped table-rounded scrollbox-content">
                    <thead>
                        <tr>
                            <th>Examination Center Code</th>
                            <th>Examination Center Name</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in Institutes">
                            <td>{{data.ExaminationCenterCode}}</td>
                            <td>{{data.ExaminationCenterName}}</td>
                            <td><button class="btn btn-success btn-sm" ng-click="resetPassword(data.ExaminationCenterCode)">Reset Password</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="spacer"></div>
</div>
</div>