<!DOCTYPE html>
<style>
    .blinking {
        animation: blinkingText 1.2s infinite;
        font-weight :bold;
       
    }
    @keyframes blinkingText {
        0% {
            color: #33a6dc;
        }

        49% {
            color: #33a6dc;
        }

        60% {
            color: transparent;
        }

        99% {
            color: transparent;
        }

        100% {
            color: #33a6dc;
        }
    }
</style>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Station">
    <title>STATE BOARD OF TECHNICAL EDUCATION AND TRAINING TELANGANA</title>
    <!-- <script src="https://www.google.com/recaptcha/api.js?render=6LdNyNMUAAAAANxOwkhO2oNMB5-0-zaL4i5BQlhz"></script> -->

</head>
<body>
    <!-- New login page open -->
    <div ng-controller="TwshHomeController">
        <div class="limiter">
            <!-- <div id="recaptcha"></div> -->
            <div class="container-login100">
                <div class="wrap-login100 bg-shadow">
                    <form class="login100-form validate-form">
                        <div class="card-part1-logInpart">
                            <div class="logInarea">
                                <div class="LogIn">
                                    <img src="../../contents/img/lock.png" />
                                    <h3>College/Institute 
                                        <br />Login
                                    </h3>
                                </div>
                                <div class="cont">
                                    <div class="form sign-in">
                                        <label>
                                            <input id="username" type="text" class="form-control sm" name="username" ng-keypress="keyLogin($event)" ng-keydown="ClearErrorText($event)" auto-focus ng-model="userName" placeholder="Username" required maxlength="30" />
                                        </label>
                                        <label>
                                            <input id="password" type="password" class="form-control sm" name="password"   ng-keypress="keyLogin($event)"  ng-model="password" placeholder="Password" required maxlength="25" />
                                        </label>
                                        <label>
                                            <!-- <div class="row">
        <div class="col-md-2"></div>
        <div id="captcha" class="col-md-5"><canvas id="captcha" width="120" height="40"></canvas></div>
        <div class="col-md-5" style="padding-top:15px;"><a ng-click="createCaptcha();" title="Please click here to reload captcha"><i class="fa fa-refresh" aria-hidden="true"></i></a></div>
    </div> -->
                                            <!-- <div id="captcha"> {{newCapchaCode}}
    </div> -->
                                            <!-- <input type="text" placeholder="Enter Captcha" ng-keypress="keyLogin($event)" style="padding: 12px 20px;display: inline-block; border: 1px solid #ccc; border-radius: 4px;
    box-sizing: border-box;" ; id="cpatchaTextBox" ng-model="login.Captcha" />
                                        </label>

                                        <div id='recaptcha' class="g-recaptcha"
                                             data-sitekey="6LdNyNMUAAAAANxOwkhO2oNMB5-0-zaL4i5BQlhz"
                                             data-callback="validateRecaptcha"
                                             data-size="invisible"></div> -->
                                            <button type="submit" class="btn btn-primary submit" id='submit' ng-click="TwshLogin()">LogIn</button>
                                            <p class="forgot-pass">
                                                <a ng-click="ForgetPasswordChange()">Forgot Password?</a>
                                            </p>
                                            <p class="forgot-pass text-danger">
                                                 <a class="blinking" ng-click="openApplication()">Click Here to Apply for Exam</a> 
                                                <!--We are not accepting TWSH applications until further notice.-->
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="login100-more">
                        <div class="card-part1-logoPart">
                            <div class="logoarea">
                                <div class="logo-new">
                                    <img src="../../contents/img/big-logo.png" />
                                    <h3>STATE BOARD OF TECHNICAL <br />EDUCATION AND TRAINING TELANGANA</h3>
                                </div>
                                <div class="bssheadline text-center">
                                    <h2>TYPEWRITING & SHORTHAND</h2>
                                </div>
                            </div>
                            <div class="logoarea-footer clear-both">
                                <p>Any queries - Connect with us. <br />In all working days : 10:30AM to 05:00PM</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +918031404549</a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> sbtet-helpdesk@telangana.gov.in</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyrights">
                    <p>2019 © State Board of Technical Education and Training, Telangana</p>
                </div>
            </div>
        </div>
    </div>



    <!-- <script>


        function validate(event) {
            event.preventDefault();

            grecaptcha.execute();

        }

        function onload() {
            var element = document.getElementById('submit');
            element.onclick = validate;
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>onload();</script> -->

</body>

</html>
