<div ng-controller="TwshForgotPasswordController">
    <div class="spacer"></div>
    <div class="container">

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card login_card">
                    <div class="text-center login_head">Forgot Password</div>

                    <form class="login_row" name="changePassword">
                        <div class="row ">

                            <div class="col-md-12">
                                <label>Mobile Number</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                                    <input id="" type="number" class="form-control" ng-model="Mobile Number" ng-blur="checkOldPassword(oldPassword)" name="Username" placeholder="Mobile Number" required>
                                </div>
                                <div ng-if="error != ''" class="errorMsg">{{error}}</div>
                            </div>
                            <!--<div class="col-md-12">
                                <label>New Password</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                    <input id="email" type="password" class="form-control" ng-model="newPassword" name="Password" placeholder="New Password" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Confirm Password</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                    <input id="email" type="password" class="form-control" ng-model="confirmPassword" ng-blur="comparePassword()" name="Password" placeholder="Confirm Password" required>

                                </div>
                                <div ng-if="passwordError != ''" class="errorMsg">{{passwordError}}</div>
                            </div>-->
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" ng-click="changePassword.$valid && submit()" ng-disabled="submitBtn" class="btn login_btn">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>