<style>
    .table-custom-tables-tb .table-bordered > tbody > tr > td {
        border: 1px solid #ddd !important;
        color: #788598;
        font-size: 14px !important;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 6px 6px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd;
        font-size: 13px;
    }

    .scrollbox {
        height: 500px;
        overflow: auto !important;
        visibility: hidden;
        margin-bottom: 30px;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }

    .table.table-bordered {
        border: 1px solid #ddd !important;
    }

    .scrollbox-content, .scrollbox:hover, .scrollbox:focus {
        visibility: visible;
    }

    .table-bordered {
        border: 1px solid #000 !important;
    }

    .table {
        border-color: #000 !important;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .table-rounded {
        border: 1px solid #ddd !important;
        border-radius: 6px;
        border-left: 0px;
    }

    .table-rounded {
        border-collapse: separate;
        -webkit-box-shadow: 0px 0px 6px 1px rgba(221, 221, 221, 1);
        -moz-box-shadow: 0px 0px 6px 1px rgba(221, 221, 221, 1);
        box-shadow: 0px 0px 6px 1px rgba(221, 221, 221, 1);
    }

    table, th, td {
        border: solid 1px #000;
        border-collapse: collapse;
        padding: 5px 5px;
        /* text-align: center; */
    }

    table {
        background-color: transparent;
    }



    th, td, p, input {
        font: 14px Verdana;
    }

    table, th, td {
        border: solid 1px #000;
        border-collapse: collapse;
        padding: 5px 5px;
        /*text-align: center;*/
    }

    th {
        font-weight: bold;
    }

    .th {
        background-color: red;
    }

    .sm-spacer {
        height: 50px;
    }

    .table-custom-tables-tb .table-bordered > thead > tr > th {
        position: sticky;
        top: 0px;
    }
</style>

<div ng-controller="TwshAuthorizationReportController" ng-init="detectRefresh()">
    <div class="sm-spacer"></div>
    <div class="container">
        <div class="col-md-12 " ng-if="userType == '2'|| userType == '3'">
            <div class="alert text-center " ng-class="{'{{statusclass}}': showStatus}" ng-if="showStatus">
                UnAuthorized Access
            </div>
        </div>
    </div>
    <div class="container" ng-show="userType == '1' ||userType == '5' ||userType == '1007'|| userType == '1002'|| userType == '1009'">
        <!-- -->
        <div class="row">
            <div class="col-md-12 pull-left mtp-50">
                <div class="col-md-12">
                    <a href="#!/Dashboard/TypeWriting" class="backA"><button class="btn bck_btn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</button></a>
                </div>
                <!--<div class="back-btn" style="margin-bottom:0px;">
            <a href="#!/Dashboard/TypeWriting" style="color:#fff!important;border-bottom:none"><button type="button" style="background: #1976d2;">Back</button></a>
        </div>-->
            </div>
            <!--<div class="col-md-12">
                <div class="pull-right">
                    <a class="ExportToExcel1 pointer" style="font-size:16px"
                       id="ExportToExcel1" ng-click="DownloadtoExcelBlind()">
                        <i class="fa fa-file-excel-o"></i>
                        Blind Students List
                    </a>
                </div>

            </div>-->
            <div class="col-md-12">
                <div class="alert alert-info">
                    <div class="row">


                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bold" for="sel1">
                                    <b> Exam : </b>
                                </label>
                                <!--<select class="form-control " ng-model="ExamMode" name="ExamMode" >
                            <option value="" selected="selected">Select Exam mode</option>
                            <option value="{{Exam.Id}}" ng-repeat="Exam in ExamTypes">
                                {{Exam.Name}}
                            </option>
                        </select>-->
                            <select class="form-control" id="ExamMode" ng-model="ExamMode" ng-change="changemode(ExamMode)">
                                <option value="" selected>Select Exam mode</option>
                                <option ng-repeat="item in ExamTypes" value="{{item.Id}}">
                                    {{item.Name}}
                                </option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-3 form-group" ng-show="ExamMode==2">
                            <label for="sel1">
                                Exam Month Year:
                            </label>
                            <select class="form-control" ng-model="ExamMonthYearId" name="ExamMonthYearId">
                                <option value="" selected>Select Exam Month Year</option>
                                <option ng-repeat="item in getExamYearMonth" value="{{item.Id}}">
                                    {{item.ExamMonthYear}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3 form-group" ng-show="ExamMode==1">
                            <label for="sel1">
                                From Date:
                            </label>
                            <input name="FromDate" type="date" class="form-control" ng-model="FromDate" />
                        </div>
                        <div class="col-md-3 form-group" ng-show="ExamMode==1">
                            <label for="sel1">
                                To Date:
                            </label>
                            <input name="ToDate" type="date" ng-min="FromDate" class="form-control" ng-model="ToDate" />
                        </div>
                        <div class="col-md-2">
                            <div class="gr-btn">
                                <button type="button" class="btn btn-sm btn-primary gr-button  pull-left" ng-click="GetReport()">Get Authorization Report<span class="fa fa-arrow-down heading_icon btn_icons"></span></button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-12 " ng-if="showStatus">
                <div class="sm-spacer"></div>
                <div class="alert text-center " ng-class="{'{{statusclass}}': showStatus}" ng-if="showStatus">
                    {{StatusMessage}}
                </div>
            </div>
            <div class="col-md-12 " ng-show="data">
                <div class="pull-right">
                    <a class="ExportToExcel1 pointer"
                       id="ExportToExcel1" ng-click="DownloadtoExcel()">
                        <i class="fa fa-file-excel-o"></i>
                        Export to Excel
                    </a>
                </div>

            </div>
            <div class="col-md-12" ng-show="data">
                <div class="pull-right" style="color:red">Click on the row to get Grade wise Count</div>
            </div>
            <div class="col-md-12" ng-show="data">
                <div class="cl-details">
                    <h2>TWSH Authorization Report</h2>
                </div>
                <div style="width:100%;text-align:center;">
                    <img src="../../../../contents/img/loading2.gif" ng-show="LoadImg" width="100" />
                </div>

                <div id="attendanceReport" class="table-responsive table-custom-tables-tb scrollbox" ng-show="data">
                    <table class="table table-bordered table-hover table-striped table-rounded scrollbox-content">
                        <thead>
                            <tr class="cb-1">
                                <th style="width: 2%" ng-click="sort('Sno')">S.No</th>
                                <th class="" style="width: 60%">College</th>
                                <th class="text-center">Registered</th>
                                <th class="text-center">Approved</th>
                                <th class="text-center">Rejected</th>
                                <th class="text-center">Pending</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="data in QualifiedList" ng-click="OpenCountData(data)">
                                <td>{{$index+1}}</td>
                                <td class="">{{data.CollegeCode}} - {{data.CollegeName}}</td>
                                <td class="text-center">{{data.registered}}</td>
                                <td class="text-center">{{data.Approved}}</td>
                                <td class="text-center">{{data.rejected}}</td>
                                <td class="text-center">{{data.ApprovalPending}}</td>
                            </tr>
                            

                            <tr class="">
                                <td colspan="2" class="text-center">Total</td>                              
                                <td class="text-center">{{Registered}}</td>
                                <td class="text-center">{{Approved}}</td>
                                <td class="text-center">{{Rejected}}</td>
                                <td class="text-center">{{ApprovalPending}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="sm-spacer"></div>
        <div class="sm-spacer"></div>
    </div>
</div>