<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>You are in </li>
                <li>Home</li>
                <li>Pre Exam Process</li>
                <li>Absent Detail</li>
            </ol>
        </div>
    </div>
    <div class="row ctitle">
        <div class="col-md-4">
            <span><strong>Absent Detail</strong></span>
        </div>
    </div>
    <div class="row frow">
        <div class="col-md-12">
            <form name="absentDetailForm" ng-submit="saveabsentDetail()" ng-init="init()">
                <div class="row">
                    <div class="col-md-6">
                        <sa-input ng-model="absentDetail.subject" object="absentDetail.subject" objectname="subject" objecttext="Subject" length="100" ispascal="true"> </sa-input>
                    </div>
                    <div class="col-md-6">
                        <sa-input ng-model="absentDetail.category" object="absentDetail.category" objectname="ctegory" objecttext="Category" length="100" ispascal="true"> </sa-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <sa-select ng-model="absentDetail.result" object="absentDetail.result" options="results" displaycolumn="resultName" valuecolumn="resultId" objectname="resultId" objecttext="Result" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-6">
                        <sa-input ng-model="absentDetail.seatNo" object="absentDetail.seatNo" objectname="seatNo" objecttext="Seat No" length="100" ispascal="true"> </sa-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-detail btn-sm">Save</button>
                        <button ui-sref="absentDetails" class="btn btn-reset btn-sm">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

