<!DOCTYPE html>
<html lang="en">
<head>
    <title>Attendance List Acknowledgement</title>
</head>
<body>
    <div ng-controller="AttendanceAcknowledegementController">
        <div class="container">
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>Attendance List Acknowledgement</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>Pre Exam</li>
                        <li>Reports</li>
                        <li>Attendance List Acknowledgement</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">
                <div class="row">
                    <div class="col-md-12"><hr></div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <form class="form-horizontal" name="ReportForm" novalidate>
                            <div class="content-container-fluid">
                                <div class="row">
                                    <div class="cols-sample-area">
                                        <div class="control">
                                            <div id="reportviewer" ej-reportviewer=ej-reportviewer></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            </div>
    </div>
</body>
</html>
