<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>You are in </li>
                <li>Home</li>
                <li>Pre Exam Process</li>
                <li>Generation Of Seat No.</li>
            </ol>
        </div>
    </div>
    <div class="row ctitle">
        <div class="col-md-4">
            <span><strong>Generation Of Seat No.</strong></span>
        </div>
    </div>
    <div class="row frow">
        <div class="col-md-12">

            <form name="generationOfSeatNoForm" ng-submit="savegenerationOfSeatNo()" ng-init="init()">
                <div class="row">
                    <div class="col-md-3">
                        <sa-select ng-model="generationOfSeatNo.courseID" object="generationOfSeatNo.courseID" options="basicCourses" displaycolumn="courseName" valuecolumn="courseID" objectname="courseID" objecttext="Stream" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-3">
                        <sa-select ng-model="generationOfSeatNo.examID" object="generationOfSeatNo.examID" options="basicExams" displaycolumn="exmName" valuecolumn="examID" objectname="examID" objecttext="Exam" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-3">
                        <sa-select ng-model="generationOfSeatNo.branchID" object="generationOfSeatNo.branchID" options="basicBranches" displaycolumn="branchName" valuecolumn="brnachID" objectname="branchID" objecttext="Branch" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-3">
                        <sa-select ng-model="generationOfSeatNo.generateType" object="generationOfSeatNo.generateType" options="generateTypes" displaycolumn="name" valuecolumn="typeId" objectname="typeId" objecttext="Generate Type" compulsory="true"> </sa-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <sa-input ng-model="generationOfSeatNo.seatNoStartFrom" object="seatingArrangement.seatNoStartFrom" objectname="seatNoStartFrom" objecttext="Seat No Start From" length="100" ispascal="true"> </sa-input>
                    </div>
                    <div class="col-md-4 fgap">
                        <span class="rspan">Exam Type:</span>
                        <div class="maxl">
                            <label class="radio inline">
                                <input type="radio" id="All" ng-model="studentType" value="All" tabindex="1" />
                                <span>All</span>
                            </label>
                            <label class="radio inline">
                                <input type="radio" id="Regular" ng-model="studentType" value="Regular" tabindex="2" />
                                <span>Regular</span>
                            </label>
                            <label class="radio inline">
                                <input type="radio" id="Distance" ng-model="studentType" value="Distance" tabindex="2" />
                                <span>Distance</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-5 fgap">
                        <span class="rspan">Grouping:</span>
                        <div class="maxl">
                            <label class="radio inline">
                                <input type="radio" id="CollegewiseWithinCenter" ng-model="grouping" value="Collegewise Within Center" tabindex="1" />
                                <span>Collegewise Within Center</span>
                            </label>
                            <label class="radio inline">
                                <input type="radio" id="Subjectwise" ng-model="grouping" value="Subjectwise" tabindex="2" />
                                <span>Subjectwise</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-detail btn-sm">Save</button>
                        <button ui-sref="#" class="btn btn-reset btn-sm">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

