<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>You are in </li>
                <li>Home</li>
                <li>Pre Exam Process</li>
                <li>Seating Arrangement</li>
            </ol>
        </div>
    </div>
    <div class="row ctitle">
        <div class="col-md-4">
            <span><strong>Seating Arrangement</strong></span>
        </div>
    </div>
    <div class="row frow">
        <div class="col-md-12">

            <form name="seatingArrangementForm" ng-submit="saveSeatingArrangement()" ng-init="init()">
                <div class="row">
                    <div class="col-md-3">
                        <sa-select ng-model="seatingArrangement.courseID" object="seatingArrangement.courseID" options="basicCourses" displaycolumn="courseName" valuecolumn="courseID" objectname="courseID" objecttext="Stream" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-3">
                        <sa-select ng-model="seatingArrangement.examID" object="seatingArrangement.examID" options="basicExams" displaycolumn="exmName" valuecolumn="examID" objectname="examID" objecttext="Exam" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-3">
                        <sa-select ng-model="seatingArrangement.branch" object="seatingArrangement.branch" options="basicBranches" displaycolumn="branchName" valuecolumn="branchID" objectname="branchID" objecttext="Branch" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-3">
                        <sa-select ng-model="seatingArrangement.newCenter" object="seatingArrangement.newCenter" options="basicColleges" displaycolumn="colName" valuecolumn="collegeID" objectname="collegeID" objecttext="New Center" compulsory="true"> </sa-select>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-3">
                        <sa-select ng-model="seatingArrangement.collegeID" object="seatingArrangement.collegeID" options="basicColleges" displaycolumn="colName" valuecolumn="collegeID" objectname="collegeID" objecttext="College" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-3">
                        <sa-input ng-model="seatingArrangement.actualCapacity" object="seatingArrangement.actualCapacity" objectname="actualCapacity" objecttext="Actual Capacity" length="100" ispascal="true"> </sa-input>
                    </div>
                    <div class="col-md-3">
                        <sa-input ng-model="seatingArrangement.appearCount" object="seatingArrangement.appearCount" objectname="appearCount" objecttext="Appear Count" length="100" ispascal="true"> </sa-input>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <sa-input ng-model="seatingArrangement.seatNumber" object="seatingArrangement.seatNumber" objectname="seatNumber" objecttext="Seat Number" length="100" ispascal="true"> </sa-input>
                    </div>
                    <div class="col-lg-3">
                        <sa-input ng-model="seatingArrangement.to" object="seatingArrangement.to" objectname="to" objecttext="To" length="100" ispascal="true"> </sa-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-detail btn-sm">Save</button>
                        <button ui-sref="#" class="btn btn-reset btn-sm">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
           
