<div class="container">
    <div class="row ctitle">
        <div class="col-md-5">
            <span><strong>Vocational Exam Time Table Report</strong></span>
        </div>
        <div class="col-md-7 text-right">
            <ol class="breadcrumb">
                <li>You are in </li>
                <li>Home</li>
                <li>Pre Exam Process</li>
                <li>Vocational Exam Time Table Report</li>
            </ol>
        </div>
    </div>

    <div class="row base-row" ng-controller="vocationalexamTimeTableReportController" ng-init="init()">
        <div class="col-md-12">
            <form name="vocationalexamTimeTableDetailForm" ng-submit="getVocationalExamTimeTableReport()">
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <sa-select ng-model="vocationalexamTimeTableDetail.CourseID" object="vocationalexamTimeTableDetail.CourseID" options="basicCourses" displaycolumn="CourseName" valuecolumn="CourseID" objectname="CourseID" objecttext="Stream" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-2">
                        <sa-select ng-model="vocationalexamTimeTableDetail.ExamID" object="vocationalexamTimeTableDetail.ExamID" options="basicExams" displaycolumn="ExmName" valuecolumn="ExamID" objectname="ExamID" objecttext="Exam" compulsory="true"> </sa-select>
                    </div>
                    <!--<div class="col-md-2">
            <sa-select ng-model="vocationalexamTimeTableDetail.BranchID" object="examTimeTableDetail.BranchID" options="basicBranches" displaycolumn="BranchName" valuecolumn="BranchID" objectname="BranchID" objecttext="Branch"> </sa-select>
        </div>-->
                    <div style="margin-top:22px;" class="col-md-3">
                        <button type="submit" class="btn btn-detail btn-sm">Get Time Table</button>
                        <button ui-sref="PreExam" class="btn btn-reset btn-sm">Cancel</button>
                    </div>
                </div>
                <div style="width:100%;text-align:center;">
                    <img id="LoadImg" src="" ng-show="LoadImg" width="100" />
                </div>

            </form>
        </div>
    </div>
</div>
