<div class="container">
    <div class="row ctitle">
        <div class="col-md-5">
            <span><strong>Vocational Bridge And Other Subject Exam Time Table Report</strong></span>
        </div>
        <div class="col-md-7 text-right">
            <ol class="breadcrumb">
                <li>You are in </li>
                <li>Home</li>
                <li>Pre Exam Process</li>
                <li>Vocational Bridge And Other Subject Exam Time Table Report</li>
            </ol>
        </div>
    </div>

    <div class="row base-row" ng-controller="vocBridgeAndOtherSubjectexamTimeTableReportController" ng-init="init()">
        <div class="col-md-12">
            <form name="vocationalexamTimeTableDetailForm" ng-submit="getVocBridgeOtherSubjectExamTimeTableReport()">
                <div class="row">
                    <div class="col-md-2">
                        <sa-select ng-model="vocbridgeotherSubexamTimeTableDetail.CourseID" object="vocbridgeotherSubexamTimeTableDetail.CourseID" options="basicCourses" displaycolumn="CourseName" valuecolumn="CourseID" objectname="CourseID" objecttext="Stream" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-2">
                        <sa-select ng-model="vocbridgeotherSubexamTimeTableDetail.ExamID" object="vocbridgeotherSubexamTimeTableDetail.ExamID" options="basicExams" displaycolumn="ExmName" valuecolumn="ExamID" objectname="ExamID" objecttext="Exam" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-2">
                        <sa-select ng-model="vocbridgeotherSubexamTimeTableDetail.SubjectTypeID" object="vocbridgeotherSubexamTimeTableDetail.SubjectTypeID" options="basicSubjectTypes" displaycolumn="SubjectTypeName" valuecolumn="SubjectTypeID" objectname="SubjectTypeID" objecttext="Subject Type" compulsory="true"> </sa-select>
                    </div>
                    <div class="col-md-2">
                        <sa-select ng-model="vocbridgeotherSubexamTimeTableDetail.EvalTypeID" object="vocbridgeotherSubexamTimeTableDetail.EvalTypeID" options="basicEvalTypes" displaycolumn="EvalTypeName" valuecolumn="EvalTypeID" objectname="EvalTypeID" objecttext="Evaluation Type" compulsory="true"> </sa-select>
                    </div>
                    <!--<div class="col-md-2">
                          <sa-select ng-model="vocationalexamTimeTableDetail.BranchID" object="examTimeTableDetail.BranchID" options="basicBranches" displaycolumn="BranchName" valuecolumn="BranchID" objectname="BranchID" objecttext="Branch"> </sa-select>
                    </div>-->
                    <div style="margin-top:22px;" class="col-md-3">
                        <button type="submit" class="btn btn-detail btn-sm">Print</button>
                        <button ui-sref="PreExam" class="btn btn-reset btn-sm">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
