<style>
    .head_section {
        margin: 20px;
    }

    #helpDesk {
        display: none;
    }

    #idtoDivPrint {
        /*display: flex;*/
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: #000;
    }

    .submit-btn button:focus {
        outline: none !important;
    }

    .sign {
        position: absolute;
        top: -39px;
        left: 142px;
    }
    .logo-img img {
        float: left;
        margin-right: 0;
        cursor: pointer;
        position: absolute;
        height: 70px !important;
        width: 70px !important;
    }
    @media print {
        .scroll-top-wrapper {
            display: none;
        }

        .main {
            display: none !important;
        }

        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            float: left;
        }

        .col-md-12 {
            width: 100%;
        }

        .col-md-11 {
            width: 91.66666666666666%;
        }

        .col-md-10 {
            width: 83.33333333333334% !important;
        }

        .col-md-9 {
            width: 75%;
        }

        .col-md-8 {
            width: 66.66666666666666%;
        }

        .col-md-7 {
            width: 58.333333333333336%;
        }

        .col-md-6 {
            width: 50%;
        }

        .col-md-5 {
            width: 41.66666666666667%;
        }

        .col-md-4 {
            width: 33.33333333333333%;
        }

        .col-md-3 {
            width: 25%;
        }

        .col-md-2 {
            width: 16.666666666666664%;
        }

        .col-md-1 {
            width: 8.333333333333332%;
        }

        .o-info {
            display: none;
        }

        .top_row {
            display: none;
        }
        /*.logo-image{
              display:none;
          }*/
        .time {
            display: none;
        }

        .top_logo {
            width: 100%;
            text-align: center;
        }
        /*.mtp-50{
              display:none;
          }*/
        .empty-space {
            display: none;
        }

        .main {
            display: none;
        }

        .inputs {
            border: none;
            border-bottom: 1px solid #000;
            width: 75%;
        }

        .pree-text {
            padding-left: 0px;
            padding-right: 0px;
        }

        .photo-img {
            margin-top: 3px;
        }

        .table-custom-tables-tb .table-bordered > tbody > tr > td {
            border: 1px solid #000 !important;
            border-left: 0px !important;
            border-bottom: 0px !important;
            color: #788598;
            font-size: 13px !important;
            padding: 5px;
        }

        .table-custom-tables-tb .table-bordered > thead > tr > th {
            border: 1px solid #000 !important;
            border-left: 0px !important;
            border-top: 0px !important;
            color: #788598;
            font-size: 13px !important;
            padding: 5px;
        }

            .table-custom-tables-tb .table-bordered > thead > tr > th.myead {
                border: 1px solid #000 !important;
                border-right: 0px !important;
                border-top: 0px !important;
            }

            .table-custom-tables-tb .table-bordered > thead > tr > th.myead2 {
                border-top: 1px solid #000 !important;
                border-right: 1px solid !important;
                color: #000 !important;
            }

        .table-custom-tables-tb .table-bordered > tbody > tr > td.myBody {
            border: 1px solid #000 !important;
            border-right: 0px !important;
        }

        .table-custom-tables-tb .table-bordered > tbody > tr > td.bott_border {
            border: 1px solid #000 !important;
            border-left: 0px !important;
        }

        .table-custom-tables-tb .table-bordered > tbody > tr > th.myeads {
            border-right: 0px !important;
        }

        .tbl {
            border: 1px solid #000 !important;
        }

        .top_table {
            width: 60%;
        }

        .top-table {
            border-bottom: 0px !important;
            border-left: 0px !important;
        }

        .logo-image h2 {
            margin: -12px 0px 16px 85px !important;
            font-size: 17px !important;
        }

        .head2 {
            font-size: 16px !important;
        }

        .terms_card {
            margin: 5px !important;
            font-size: 12px;
        }

        .sign_layout {
            float: right;
            width: auto;
        }

        .table-custom-tables-tb .table-bordered > tbody > tr > th.myeads {
            border-right: 0px !important;
        }

        .sign {
            float: right;
            position: absolute;
            top: -40px;
            left: 85px;
        }

        .downloadForm {
            display: none;
        }

        .content {
            padding-top: 0px;
        }

        .hall_head {
            margin-top: 0px;
        }

        .bck_btn {
            display: none;
        }

        .footer {
            display: none !important;
        }

        .prbtn {
            display: none;
        }

        .fd-form {
            display: none;
        }

        .header {
            display: none !important;
        }

        header {
            display: none !important;
        }

        #mainfooter {
            display: none !important;
        }
        .logo-img {
            width: 100%;
            margin: 0px;
            padding: 0px!important;
        }
        .sm-spacer{
            display:none;
        }

    }

    .myeads {
        border-right: 0px !important;
    }

    .spacer {
        height: 30px;
    }

    .footer {
        display: none;
    }
    /*.table-custom-tables-tb .table-bordered > tbody > tr > td.bott_border {
      border: 1px solid #000 !important;
      border-left:0px!important;
    }*/
    .pree-text {
        padding-left: 0px;
        padding-right: 0px;
    }

    .top-box {
        border: 1px solid #000;
    }

    .terms_card {
        margin: 5px !important;
        font-size: 12px;
    }

    .sign_layout {
        float: right;
        width: auto;
    }

    .lg-spacer {
        height: 70px;
    }

    .table-custom-tables-tb .table-bordered > thead > tr > th {
        color: #788598 !important;
        background-color: #fff !important;
    }
</style>
<div ng-controller="HallticketController">
    <section class="content">
        <div class="sm-spacer"></div>
        <!--<div class="col-md-12">
            <button class="btn bck_btn"><a href="#!/Dashboard/PreExamination" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
        </div>-->
        <div style="width:100%;text-align:center;">
            <img src="../../../contents/img/student_img.jpg" ng-if="clg_reports" width="100" />
        </div>
        <div class="container downloadForm">
            <div class="row ">
                <div class="col-md-12  mtp-50">
                    <div class="card">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="offer-custom-style">
                                    <h2>Download TWSH Hallticket</h2>
                                </div>
                            </div>

                        </div>
                        <div class="body">
                            <div class="custom-forms ">
                                <form name='StudentHallticket' ng-submit="getHallTkt(ApplicationNo)">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label>Application Number</label>
                                                <input class="form-control" ng-model="ApplicationNo" placeholder="Enter Application Number" required />
                                            </div>
                                        </div>
                                        <!--<div class="col-md-4">
                                            <div class="form-group hidden">
                                                <label for="date-picker-example">Date Of Birth(dd/mm/yyyy):</label>
                                                <p class="input-group" style=" margin-top unset; margin-bottom unset;margin-left 0 ;margin-right 0;padding-left 0px;">
                                                    <input type="text" class="form-control" value="01/01/2001" name="applicationForm.CandidateNameDOB" ng-model="dateOfBirth" is-open="showFlag1" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-primary" ng-click="showFlag1 = true"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>-->
                                        <div class="col-md-2">
                                            <div class="submit-btn" style="margin-bottom:0px;margin-top:39px">
                                                <button type="submit">Download</button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert text-center " ng-class="{'{{statusclass}}': showStatus}" ng-if="showStatus">
                        <span>{{StatusMessage}}</span>
                    </div>

                </div>
            </div>
        </div>
        <div style="width:100%;text-align:center;">
            <img src="../../../contents/img/loading2.gif" ng-if="loading" width="100" />
        </div>
        <div class="container" id="idtoDivPrint" ng-show="studentData">
            <div class="row">
                <div class="col-lg-2 col-md-4">
                    <div class="logo-img">
                        <img src="../../../contents/img/big-logo.png" />
                    </div>
                </div>
                <div class="col-lg-10 col-md-12">
                    <div class="logo-name">
                        <h2 style="text-align: center">
                            <b>STATE BOARD OF TECHNICAL EDUCATION AND TRAINING TELANGANA</b> 
                        </h2>
                        <h2><p style="text-align: center"><b>TYPEWRITING & SHORTHAND</b></p></h2>
                    </div>
                </div>
            </div>
            <h3 class="text-center hall_head"><b>Hallticket</b></h3>

            <!--<div class="col-md-12" style="padding:0px;border:1px solid #ddd">
        <div class="cl-details">
            <h2>Payment Summary</h2>

        </div>
    </div>-->
            <div class="row">

                <div class="col-md-12 tbl" style="padding:0px;border:1px solid #ddd">

                    <div class="col-md-10 pree-text top_table">

                        <div class="table-responsive table-custom-tables-tb">
                            <table class="table table-bordered  table-striped top-table table-rounded" style="margin-bottom: 0px !important; border-left:0px!important;border-bottom:0px!important;">
                                <thead>
                                    <tr class="cb-2">
                                        <th width="26.4%" id="tbl_head1 " class="myead2"><b>Hallticket No</b></th>
                                        <th id="tbl_head2" class="myead2">{{studentInfo.HallTicketNumber}}</th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <tr>
                                        <td><b>Exam Center Name</b></td>
                                        <td>{{studentInfo.ExaminationCenterName}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Date of Examination</b></td>
                                        <td>{{studentInfo.ExamDate}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Batch No / Exam Type</b></td>
                                        <td>{{studentInfo.ExamBatch}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Paper 2 Timeslot</b></td>
                                        <td>{{studentInfo.Paper2TimeSlot}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Paper 1 Timeslot</b></td>
                                        <td>{{studentInfo.Paper1TimeSlot}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Grade</b></td>
                                        <td>{{studentInfo.GradeName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2 text-center" style="padding:0px;">
                        <img ng-src="{{studentInfo.Photo}}" class="photo-img" style="border: 2px solid #ddd;" height="140" width="100" ; margin-top="0px" ;" />
                    </div>
                </div>
                <div class="col-md-12 tbl" style="padding:0px;border:1px solid #ddd">
                    <div>
                        <div class="table-responsive table-custom-tables-tb">
                            <table class="table table-bordered  table-striped table-rounded">
                                <thead>
                                    <tr class="cb-2">
                                        <th width="22%" id="tbl_head1"><b>Application No</b></th>
                                        <th class="myead" id="tbl_head2" colspan="3">{{studentInfo.ApplicationNumber}}</th>
                                        <!--<th id="tbl_head2" width="22%" class="myeads"></th>
                                <th class="" id="tbl_head2" width="32%" ></th>-->
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <tr>
                                        <td><b>Name</b></td>
                                        <td colspan="3" class="myBody">{{studentInfo.StudentName}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Father Name</b></td>
                                        <td colspan="3" class="myBody">{{studentInfo.FatherName}}</td>
                                    </tr>
                                    <!-- <tr>
                                <td><b>Date Of Birth</b></td>
                                <td colspan="3" class="myBody">{{studentInfo.DateOfBirth}}</td>
                            </tr> -->
                                    <tr>
                                        <td><b>Gender</b></td>
                                        <td>{{studentInfo.Gender}}</td>
                                        <!--<td><b>Community</b></td>
                                <td class="myBody">{{studentInfo.CategoryCode}}</td>-->
                                    </tr>
                                    <tr>
                                        <td><b>Mobile No</b></td>
                                        <td class="">{{studentInfo.StudentPhoneNumber}}</td>
                                        <td><b>Email Id</b></td>
                                        <td class="myBody">{{studentInfo.EmailId}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Address</b></td>
                                        <td class="myBody" colspan="3">{{studentInfo.HnoStreet}},{{studentInfo.VillageTown}}</td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td class="bott_border"><b>Institute Name</b></td>
                                        <td class="myBody" colspan="3">{{studentInfo.InstitutionName}},{{studentInfo.InstitutionAddress}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-12" style="padding-left:5px;">
                                <div class="card terms_card">
                                    <div><b> I Agreed the Below Conditions :</b></div>
                                    <div>1. The Particulars Furnished by candidate  above are True.</div>
                                    <div>2. The candidate is not debarred by SBTET from appearing for the Examination earlier.</div>
                                    <div>3. The candidate  have not passed the Examination earlier.</div>
                                    <div>4. The Photo and Signature are that of candidates.</div>
                                    <div>5. If any of the above is found to be Untrue at any later stage, The candidate shall abide by the decision of SBTET.</div>
                                    <div>6. <b>The CBT students should bring Original Aadhar Card, Qualification Certificate.</b></div>
                                    <div>7.  The candidates are requested to carry Photo ID cards such as Aadhaar, Voter ID, Driving Licence, PAN card etc issued by Government. Without which they will not be allowed into the examination hall.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-12" style="padding-left:5px;">
            <div class="terms_card">
                <div>
                    <b>
                        Important :
                        The candidates are requested to carry Photo ID cards such as Aadhaar, Voter ID, Driving Licence, PAN card etc issued by Government. Without which they will not be allowed into the examination hall.
                    </b>
                </div>
            </div>
        </div>-->
                <div class="print_btn">
                    <div class="col-md-12">
                        <button class="btn pull-right btn-info prbtn" ng-click="printMarksEntered()">Print</button>
                    </div>
                </div>
                <div class="col-md-12" style="padding-left:5px;">
                    <div class="col-md-9  " style="margin-top:100px">
                        <b class="">Signature of the Candidate</b>
                    </div>
                    <div class="col-md-3 " style="margin-top:100px">
                        <img src="/contents/img/cesign.png" class="sign" style="height:40px; width:180px;">
                        <b class="pull-right">Controller of Examination</b>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
