<!--<div class="form-group">
    <label for="{{objectname}}" class="control-label" ng-if="objecttext!==''">
        {{objecttext}}
        <span class="require">*</span>
    </label>
    <div class="input-group">
        <input

               bs-switch
               ng-model="object"
               switch-active="{{ true }}"
               switch-on-text="{{ontext}}"
               switch-off-text="{{offtext}}"

               type="checkbox">
    </div>
</div>-->

<div class="form-group">
    <label for="{{objectname}}" class="control-label" ng-if="objecttext!==''">
        {{objecttext}}
    </label>
    <div class="input-group">
        <input bs-switch
               class="form-control input-sm"
               ng-model="object"
               switch-active="{{ true }}"
               switch-on-text="{{ontext}}"
               switch-off-text="{{offtext}}"
               type="checkbox">
    </div>
</div>
