
<div class="form-group">   
    <label for="{{objectname}}" class="control-label">
        {{objecttext}}          
    </label>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-arrow-circle-o-right"></i>
        </span>
        <input type="text"
               style="text-transform: uppercase;"
             
               name="{{objectname}}"
               id="{{objectname}}"
               placeholder="XXXXX9090X"
               class="form-control input"
               ng-model="object"                           
               ng-pattern="/[A-Za-z]{5}\d{4}[A-Za-z]{1}/"
               maxlength="10"
               autocomplete="off"
               />
    </div>
          
</div>