<div ng-controller="ContactusController">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div class="pages-links">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item "><a href="contact-us.html">Contact-Us</a></li>

                    </ol>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <!--start inner-->
    <section>
        <div class="mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <!--<center>
                            <img src="assets/img/coming-soon.svg" height="300" />
                        </center>-->
                        <div class="inner-heading">
                            <h3>Contact Us</h3>
                        </div>
                        <div class="c-accordion">
                            <div class="">
                                <div class="panel-group wrap" id="accordion" role="tablist" aria-multiselectable="true">

                                    <div class="panel"  ng-show="AdministrationStaff.length>0">
                                        <div class="panel-heading" role="tab" id="1">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#11" aria-expanded="false" aria-controls="11">
                                                  Administration
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="1">
                                            <div class="panel-body">
                                                <div class="col-sm-12" ng-show="data">
                                                    <div class="table-responsive ">
                                                        <table class="table table-bordered table-hover ">
                                                            <thead>
                                                                <tr>
                                                                    <th width="3%">S.No</th>
                                                                    <th width="10%">Photo</th>
                                                                    <th data-priority="1">Name</th>
                                                                    <th width="10%">Designation</th>
                                                                    <th width="10%">Subject</th>
                                                                    <th width="10%">Section</th>
                                                                    <th width="10%">Email</th>
                                                                    <th data-priority="2">Mobile Number</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                           
                                                                <tr ng-repeat="data in AdministrationStaff  ">
                                                                    <td>{{$index+1}}</td>
                                                                    <td><img class="img-responsive staff_Profile" ng-src="{{data.Photo}}"> </td>
                                                                    <td>{{data.Name}}</td>
                                                                    <td>{{data.Designation}}</td>
                                                                    <td>{{data.Subject}}</td>
                                                                    <td>{{data.Section}}</td>
                                                                    <td>{{data.email}}</td>
                                                                    <td>
                                                                        {{data.MobileNumber}}
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel" ng-show="ChairmanList.length>0">
                                        <div class="panel-heading" role="tab" id="heading9">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                                    Chairman Office
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                                            <div class="panel-body">
                                                <div class="col-sm-12" ng-show="data">
                                                    <div class="table-responsive ">
                                                        <table class="table table-bordered table-hover ">
                                                            <thead>
                                                                <tr>
                                                                    <th width="3%">S.No</th>
                                                                    <th width="10%">Photo</th>
                                                                    <th data-priority="1">Name</th>
                                                                    <th width="10%">Designation</th>
                                                                    <th width="10%">Subject</th>
                                                                    <th width="10%">Section</th>
                                                                    <th width="10%">Email</th>
                                                                    <th data-priority="2">Mobile Number</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="data in ChairmanList ">
                                                                    <td>{{$index+1}}</td>
                                                                    <td><img class="img-responsive staff_Profile" ng-src="{{data.Photo}}"> </td>
                                                                    <td>{{data.Name}}</td>
                                                                    <td>{{data.Designation}}</td>
                                                                    <td>{{data.Subject}}</td>
                                                                    <td>{{data.Section}}</td>
                                                                    <td>{{data.email}}</td>
                                                                    <td>
                                                                        {{data.MobileNumber}}
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel" ng-show="SecretaryList.length>0">
                                        <div class="panel-heading" role="tab" id="heading10">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                                                    Secretary Office
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                                            <div class="panel-body">
                                                <div class="col-sm-12" ng-show="data">
                                                    <div class="table-responsive ">
                                                        <table class="table table-bordered table-hover ">
                                                            <thead>
                                                                <tr>
                                                                    <th width="3%">S.No</th>
                                                                    <th width="10%">Photo</th>
                                                                    <th data-priority="1">Name</th>
                                                                    <th width="10%">Designation</th>
                                                                    <th width="10%">Subject</th>
                                                                    <th width="10%">Section</th>
                                                                    <th width="10%">Email</th>
                                                                    <th data-priority="2">Mobile Number</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="data in SecretaryList ">
                                                                    <td>{{$index+1}}</td>
                                                                    <td><img class="img-responsive staff_Profile" ng-src="{{data.Photo}}"> </td>
                                                                    <td>{{data.Name}}</td>
                                                                    <td>{{data.Designation}}</td>
                                                                    <td>{{data.Subject}}</td>
                                                                    <td>{{data.Section}}</td>
                                                                    <td>{{data.email}}</td>
                                                                    <td>
                                                                        {{data.MobileNumber}}
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel" ng-show="PreExamStaff.length>0">
                                        <div class="panel-heading" role="tab" id="heading2">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                    Pre Examination 
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                            <div class="panel-body">
                                                <div class="col-sm-12" ng-show="data">
                                                    <div class="table-responsive ">
                                                        <table class="table table-bordered table-hover ">
                                                            <thead>
                                                                <tr>
                                                                    <th width="3%">S.No</th>
                                                                    <th width="10%">Photo</th>
                                                                    <th data-priority="1">Name</th>
                                                                    <th width="10%">Designation</th>
                                                                    <th width="10%">Subject</th>
                                                                    <th width="10%">Section</th>
                                                                    <th width="10%">Email</th>
                                                                    <th data-priority="2">Mobile Number</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="data in PreExamStaff" >
                                                                    <td>{{$index+1}}</td>
                                                                    <td><img class="img-responsive staff_Profile" ng-src="{{data.Photo}}"> </td>
                                                                    <td>{{data.Name}}</td>
                                                                    <td>{{data.Designation}}</td>
                                                                    <td>{{data.Subject}}</td>
                                                                    <td>{{data.Section}}</td>
                                                                    <td>{{data.email}}</td>
                                                                    <td>
                                                                        {{data.MobileNumber}}
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="panel" ng-show="PostExamStaff.length>0">
                                        <div class="panel-heading" role="tab" id="heading3">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                                    Post Examination
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                            <div class="panel-body">
                                                <div class="col-sm-12" ng-show="data">
                                                    <div class="table-responsive ">
                                                        <table class="table table-bordered table-hover ">
                                                            <thead>
                                                                <tr>
                                                                    <th width="3%">S.No</th>
                                                                    <th width="10%">Photo</th>
                                                                    <th data-priority="1">Name</th>
                                                                    <th width="10%">Designation</th>
                                                                    <th width="10%">Subject</th>
                                                                    <th width="10%">Section</th>
                                                                    <th width="10%">Email</th>
                                                                    <th data-priority="2">Mobile Number</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="data in PostExamStaff  " >
                                                                    <td>{{$index+1}}</td>
                                                                    <td><img class="img-responsive staff_Profile" ng-src="{{data.Photo}}"> </td>
                                                                    <td>{{data.Name}}</td>
                                                                    <td>{{data.Designation}}</td>
                                                                    <td>{{data.Subject}}</td>
                                                                    <td>{{data.Section}}</td>
                                                                    <td>{{data.email}}</td>
                                                                    <td>
                                                                        {{data.MobileNumber}}
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                         
                                    
                                    <div class="panel" ng-show="AcademicStaff.length>0">
                                        <div class="panel-heading" role="tab" id="heading4">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                                    Academic Section
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                            <div class="panel-body">
                                                <div class="col-sm-12" ng-show="data">
                                                    <div class="table-responsive ">
                                                        <table class="table table-bordered table-hover ">
                                                            <thead>
                                                                <tr>
                                                                    <th width="3%">S.No</th>
                                                                    <th width="10%">Photo</th>
                                                                    <th data-priority="1">Name</th>
                                                                    <th width="10%">Designation</th>
                                                                    <th width="10%">Subject</th>
                                                                    <th width="10%">Section</th>
                                                                    <th width="10%">Email</th>
                                                                    <th data-priority="2">Mobile Number</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="data in AcademicStaff  " >
                                                                    <td>{{$index+1}}</td>
                                                                    <td><img class="img-responsive staff_Profile" ng-src="{{data.Photo}}"> </td>
                                                                    <td>{{data.Name}}</td>
                                                                    <td>{{data.Designation}}</td>
                                                                    <td>{{data.Subject}}</td>
                                                                    <td>{{data.Section}}</td>
                                                                    <td>{{data.email}}</td>
                                                                    <td>
                                                                        {{data.MobileNumber}}
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="panel" ng-show="ITStaff.length>0">
                                        <div class="panel-heading" role="tab" id="heading5">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                                    Computer Section 
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                            <div class="panel-body">
                                                <div class="col-sm-12" ng-show="data">
                                                    <div class="table-responsive ">
                                                        <table class="table table-bordered table-hover ">
                                                            <thead>
                                                                <tr>
                                                                    <th width="3%">S.No</th>
                                                                    <th width="10%">Photo</th>
                                                                    <th data-priority="1">Name</th>
                                                                    <th width="10%">Designation</th>
                                                                    <th width="10%">Subject</th>
                                                                    <th width="10%">Section</th>
                                                                    <th width="10%">Email</th>
                                                                    <th data-priority="2">Mobile Number</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="data in ITStaff  " >
                                                                    <td>{{$index+1}}</td>
                                                                    <td><img class="img-responsive staff_Profile" ng-src="{{data.Photo}}"> </td>
                                                                    <td>{{data.Name}}</td>
                                                                    <td>{{data.Designation}}</td>
                                                                    <td>{{data.Subject}}</td>
                                                                    <td>{{data.Section}}</td>
                                                                    <td>{{data.email}}</td>
                                                                    <td>
                                                                        {{data.MobileNumber}}
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="panel" ng-show="OthersStaff.length>0">
                                        <div class="panel-heading" role="tab" id="headingEight">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                    Others
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                                            <div class="panel-body">
                                                <div class="col-sm-12" ng-show="data">
                                                    <div class="table-responsive ">
                                                        <table class="table table-bordered table-hover ">
                                                            <thead>
                                                                <tr>
                                                                    <th width="3%">S.No</th>
                                                                    <th width="10%">Photo</th>
                                                                    <th data-priority="1">Name</th>
                                                                    <th width="10%">Designation</th>
                                                                    <th width="10%">Subject</th>
                                                                    <th width="10%">Section</th>
                                                                    <th width="10%">Email</th>
                                                                    <th data-priority="2">Mobile Number</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="data in OthersStaff " >
                                                                    <td>{{$index+1}}</td>
                                                                    <td><img class="img-responsive staff_Profile" ng-src="{{data.Photo}}"> </td>
                                                                    <td>{{data.Name}}</td>
                                                                    <td>{{data.Designation}}</td>
                                                                    <td>{{data.Subject}}</td>
                                                                    <td>{{data.Section}}</td>
                                                                    <td>{{data.email}}</td>
                                                                    <td>
                                                                        {{data.MobileNumber}}
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <!-- end of #accordion -->

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inner-heading">
                            <h3>Postal Address</h3>
                        </div>
                        <div class="inner-p">
                            <p>STATE BOARD OF TECHNICAL EDUCATION AND TRAINING</p>
                            <p>Sankethika Vidhaha Bhavan,</p>
                            <p>Masab Tank,</p>
                            <p>Hyderabad – 500 028.</p>
                            <p>India</p>
                        </div>
                        <div class="inner-heading mt-4">
                            <h3>Any queries - Connect with us.</h3>
                        </div>
                        <div class="inner-p">
                            <p>Tel: +918031404549</p>
                            <p>Email: helpdesk-sbtet@telangana.gov.in</p>
                            <p>In all working days: 10:30AM to 05:00PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--end inner-->
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.1657249042087!2d78.45202031487658!3d17.403832688068796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb97144f63d1a9%3A0x4ac83aea2779b4f!2sSanketika+Vidya+Bhavan!5e0!3m2!1sen!2sin!4v1563437945403!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>

</div>
       

