<style>
     table > thead > tr > th {
  position:sticky;
  top:0px;
}
</style>
<div ng-controller="TendersController">
    <div class="pages-links">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item "><a href="disclaimer.html">More</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="notifications.html">Tenders</a></li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="inner-body">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="inner-heading">
                        <h3>Tenders</h3>
                    </div>
                </div>
                <div class="col-md-3" ng-show="data">
                    <div class="form-group">
                        <label>Search</label>
                        <input type="text" ng-model="search" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="Search">
                    </div>
                </div>
                <div class="col-sm-12" ng-show="data">
                    <div class="table-responsive scrollbox">
                        <table class="table table-bordered table-hover scrollbox-content">
                            <thead>
                                <tr>
                                    <th width="3%">S.No</th>
                                    <th data-priority="1" ng-click="sort('Title')">Description <i class="fa fa-fw fa-sort"></i></th>
                                    <th width="10%" ng-click="sort('TenderDate')">Tender Date <i class="fa fa-fw fa-sort"></i></th>
                                    <th width="10%" ng-click="sort('EndDate')">End Date <i class="fa fa-fw fa-sort"></i></th>
                                    <th data-priority="2" width="10%" ng-click="sort('Url')">Download <i class="fa fa-fw fa-sort"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in Tenders |limitTo: 100 |orderBy:sortKey:reverse|filter:search">
                                    <td>{{$index+1}}</td>
                                    <td>{{data.Title}}</td>
                                    <td>{{data.TenderDate|date:'dd-MM-yyyy'}}</td>
                                    <td>{{data.EndDate|date:'dd-MM-yyyy'}}</td>
                                    <td>
                                        <a href="{{data.Url}}" download>
                                            <img class="img-responsive" height="50px" width="85px" src="assets/img/custom/download-button-155-48.svg">
                                        </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-md-12" ng-if="loading">
                    <!--<div class="col-md-12 no-results">-->
                    <!--<h2>No Data</h2>-->
                    <center><img class="loadImg1" src="../../../contents/img/websiteloading.gif"></center>
                    <!--</div>-->
                </div>
                <div class="col-md-12" ng-if="error">
                    <div class="col-md-12 no-results">
                        <h2>No Data</h2>
                        <img src="../../contents/img/Folder-Icon.svg" />
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>