<style>
    .card-part1-logInpart {
        padding: 20px;
        margin: 20px;
    }

    .bg-shadow {
        border-radius: 20px;
        margin: 60px;
    }

    .btn.btn-primary.submit {
        margin-top: 0px;
        margin-bottom: 0px;
        background: #153bc7 !important;
        text-transform: uppercase;
        border-radius: 50px;
        font-size: 14px;
        font-weight: bold;
        width: 66%;
    }
</style>
<div ng-controller="WebsiteLoginController">
    <div class="limiter">
        <!-- <div id="recaptcha"></div> -->
        <div class="container">

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="bg-shadow">
                    <form class="form validate-form" autocomplete="off">
                        <div class="card-part1-logInpart">
                            <div class="logInarea">
                                <div class="LogIn">
                                    <img src="../../contents/img/lock.png" />
                                    <div class="bssheadline text-center">
                                        <h2>Software Suite</h2>
                                    </div>
                                </div>
                                <div class="cont">
                                    <div class="LogIn">
                                        <h3>Board / College <br />Login</h3>

                                    </div>
                                    <div class="form sign-in" autocomplete="off">
                                        <div class="form-group">
                                            <label>
                                                <input id="username" type="text" class="form-control sm" name="username" ng-keypress="keyLogin($event)" ng-keydown="ClearErrorText($event)" auto-focus ng-model="UserName" autocomplete="off" placeholder="Username" required maxlength="30" />
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <input id="password" type="password" class="form-control sm" name="password" ng-keypress="keyLogin($event)" ng-keydown="ClearErrorText($event)" ng-model="Password" autocomplete="off" placeholder="Password" required maxlength="25" />
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <input class="form-control" maxlength="6" placeholder="Enter Captcha" ng-keypress="keyLogin($event)" type="text" ng-model="CaptchaText">
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label></label>
                                            <img class="refresh_captcha" data-ng-src="data:image/png;base64,{{CaptchaImage}}" width="150" height="33" />
                                            <a class="pull-right" title="Click to Refresh Captcha" ng-click="GetCaptchaData()"><img class="refresh_img" src="/assets/img/reload.png" /> </a>

                                        </div>

                                        <div class="form-group">

                                            <button type="button" class="btn btn-primary submit" id='submit' ng-click="validatelogincaptcha()" ng-disabled="Loginbutton">LogIn</button>

                                            <p class="forgot-pass">
                                                <a ng-click="ForgetPasswordChange()">Forgot Password?</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <!--<div class="copyrights">
            <p>2019 © State Board of Technical Education and Training, Telangana</p>
        </div>-->
    </div>
</div>
