<div class="form-group" >
   
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-arrow-circle-o-right"></i>
        </span>
        <input type="email"            
               name="{{objectname}}"
               id="{{objectname}}"
               placeholder="email@website.com"
               class="form-control input"
               ng-model="object"
               maxlength="100"
               autocomplete="off"
               ng-required="{{compulsory}}"
                />
    </div> 
</div>