<style>
    .sm-spacer {
        height: 50px;
    }

    legend.group-border {
        width: inherit;
        /* Or auto */
        padding: 0 10px;
        /* To give a bit of padding on the left and right */
        border-bottom: none;
    }

    /*date picker css*/
    .full button span {
        background-color: limegreen;
        border-radius: 32px;
        color: black;
    }

    .partially button span {
        background-color: orange !important;
        border-radius: 32px;
        color: black !important;
    }
    /* .datpicker .text-info contains text for today's date but
    it dosn't work when we are not showing the current month */
    .datepicker .text-info {
        font-size: 14px;
        color: black !important;
    }
    /* .datpicker .btn-info contains selected date */
    .datepicker .btn-info {
        font-size: 14px;
        font-weight: bold;
        background-color: #39b3d7 !important;
    }

    .btn-default {
        border-color: #fdfdfd !important;
        color: #fff !important;
        background-color: #34495e !important;
    }

    .datepicker .btn:disabled {
        font-size: 14px;
        font-weight: normal;
        color: gray;
    }

        .datepicker .btn:disabled > .text-muted {
            font-size: 14px;
            font-weight: normal;
            color: gray;
        }

    .datepicker .text-muted {
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

    .datepicker .btn:enabled {
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

    .required:before {
        content: "*";
        color: red;
        font-weight: bold;
    }

    fieldset.group-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    .sm-spacer {
        height: 70px;
    }

    @media print {

        .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            float: left;
        }

        .col-md-12 {
            width: 100%;
            padding: 0px !important;
            margin: 0px !important;
        }

        .col-md-11 {
            width: 91.66666666666666%;
            padding: 0px !important;
            margin: 0px !important;
        }

        .col-md-10 {
            width: 83.33333333333334%;
            padding: 0px !important;
            margin: 0px !important;
        }

        .col-md-9 {
            width: 75%;
            padding: 0px !important;
            margin: 0px !important;
        }

        .col-md-8 {
            width: 66.66666666666666%;
            padding: 0px !important;
            margin: 0px !important;
        }

        .col-md-7 {
            width: 58.333333333333336%;
            padding: 0px !important;
            margin: 0px !important;
        }

        .col-md-6 {
            width: 50%;
            padding: 0px !important;
            margin: 0px !important;
        }

        .col-md-5 {
            width: 41.66666666666667%;
            padding: 0px !important;
            margin: 0px !important;
        }

        .col-md-4 {
            width: 33.33333333333333%;
            padding: 0px !important;
            margin: 0px !important;
        }

        .col-md-3 {
            width: 25%;
            padding: 0px !important;
            margin: 0px !important;
        }

        .col-md-2 {
            width: 16.666666666666664%;
            padding: 0px !important;
            margin: 0px !important;
        }

        .col-md-1 {
            width: 8.333333333333332%;
            padding: 0px !important;
            margin: 0px !important;
        }

        .o-info {
            display: none;
        }

        .top-header {
            display: none;
        }

        .breadcrumb {
            display: none;
        }

        .formSection {
            display: none;
        }

        .breadcrumb-header {
            display: none;
        }

        .backA {
            display: none;
        }

        .footer_section {
            display: none;
        }

        .printBtn {
            display: none;
        }

        mtp-50 {
            padding: 0px;
            margin: 0px;
        }

        .card {
            padding: 0px;
            margin: 0px;
        }

        hr {
            margin-top: 10px !important;
            margin-bottom: 10px !important;
            border: 0;
            border-top: 1px solid #eee;
        }

        .card {
            border: 0px !important;
        }
    }
</style>

<div class='container' ng-controller="BackLogStudentDetailsController">
    <section class="content ">
        <div class="alert alert-info" ng-if="!hide">
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group ">
                        <label for="" class="font-weight-bold">PIN :</label>
                        <div id=''>
                            <input type='text' class="form-control" placeholder="Enter Pin Number" ng-model="pinNumber" autocomplete="off" name="Fineamount" required />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="gr-btn">
                        <button type="button" class="btn btn-sm btn-primary gr-button  pull-left" ng-click="getStudentDetails(pinNumber,Student.id)">Get Details<span class="fa fa-arrow-down heading_icon btn_icons"></span></button>
                    </div>
                </div>
            </div>


            <div class="row" ng-if="dataPresent">
                <form name="studentRegForm" class="studentRegForm" ng-submit="UpdateFirstPage()">
                    <fieldset class="group-border">
                        <legend class="group-border">Student's Personal Detail</legend>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="stdPin">PIN :</label>
                                    <input type="text" ng-disabled="PreDisable" class="form-control input-sm" id="stdPin" ng-Model="pinNumber"
                                           no-Special-Char>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group required">
                                    <label for="stdName">Name :</label>
                                    <input type="text" class="form-control input-sm" name="Name" id="stdName" ng-Model="StudentReg.StudentName"
                                           disabled no-Special-Char ng-disabled="PreDisable">

                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group required">
                                    <label for="stdFathername">Father Name :</label>
                                    <input type="text" disabled class="form-control input-sm" maxlength="1000" ng-disabled="PreDisable" name="FatherName" id="stdFathername" ng-Model="StudentReg.FatherName"
                                           no-Special-Char>

                                </div>
                            </div>

                        </div>

                        <div class="row">


                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="stdCOllege">College Code :</label>
                                    <input type="text" disabled class="form-control input-sm" maxlength="1000" ng-disabled="PreDisable" name="CollegeCode" id="stdCollegeCode" ng-Model="StudentReg.CollegeCode"
                                           no-Special-Char>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="stdBranchCode">Branch Code :</label>
                                    <input type="text" disabled class="form-control input-sm" maxlength="1000" ng-disabled="PreDisable" name="BranchCode" id="stdBranchCode" ng-Model="StudentReg.BranchCode"
                                           no-Special-Char>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="stdScheme">Scheme :</label>
                                    <input type="text" disabled class="form-control input-sm" maxlength="1000" ng-disabled="PreDisable" name="BranchCode" id="stdScheme" ng-Model="StudentReg.Scheme"
                                           no-Special-Char>

                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="stdIsPhysicallyHandicapped">IsPhysically Handicapped :</label>
                                    <input type="text" disabled class="form-control input-sm" maxlength="1000" ng-disabled="PreDisable" name="IsPhysicallyHandicapped" id="stdIsPhysicallyHandicapped" ng-Model="StudentReg.IsPhysicallyHandicapped"
                                           no-Special-Char>
                                </div>
                            </div>

                        </div>



                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group required">
                                    <!--<label for="StudentPhoto">Photo Update :</label>-->
                                    <img ng-src="{{StudentReg.Photo}}" id="stdPhotoImg" class="img img-responsive"
                                         style="height: 100px; width: 125px;" requried>
                                    <label>click here to Update  Photo :</label>
                                    <input onchange="angular.element(this).scope().uploadPhoto()" ng-model="StudentReg.Photo" id="stdPhotoFile" type="file" class="upld-file">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="">
                        <div class="col-md-12 text-center">
                            <!--<button type="button" class="btn btn-detail" ng-click="GenPin()">Generate PIN</button> ng-model="StudentReg.Photo"-->
                            <button type="submit" class="btn btn-detail" ng-click="uploadingImage()">
                                Update Student Details
                            </button>
                            <button type="button" class="btn btn-default" ng-click="goToStudentList()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container" ng-if="hide">
            <div class="col-md-12">
                <button class="btn bck_btn"><a href="#!/Dashboard/PreExamination" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
            </div>
            <div class="sm-spacer"></div>
            <div class="text-center">
                <img class="gif_css" src="../../../contents/img/under_construction.gif">
            </div>
        </div>
    </section>
</div>