<style>
      input[type=checkbox] {
        display: block;
        width: 25px;
        height: 25px;
        
        -webkit-appearance: none;
        outline: 0;
        border: none;
        border-radius: 4px;   
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    input[type=checkbox]:not(:checked) {
        background-image: url(../../../contents/img/unchecked.png);
    }

    input[type=checkbox]:checked {
        background-image: url(../../../contents/img/checked.png);
    }
</style>
<div ng-controller="CondonationApprovedDetailsController">
    <div class="container">
        <section class="content">
            <div class="col-md-12">
                <div class="cl-details">
                    <h2>Condonation Approved List</h2>
                </div>

                <div id="tblParent" class="table-responsive table-custom-tables-tb">
                    <table class="table table-bordered table-hover table-striped table-rounded">
                        <thead>
                            <tr class="cb-1">
                                <th>Approved</th>
                                <th>Pin </th>
                                <th>Student Name</th>
                                <th>Branch</th>
                                <th>Attendance %</th>
                                <th>Certificate Validity(Y/N)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-click="openStudentDetails(x)">
                                <td style="text-align: center" class="checkboxs"><input type="checkbox" ng-model="data.isChecked" ng-class="{selected: data.isChecked}" ng-change="selectEntity(data)"></td>
                                <td>C18</td>
                                <td>Mr . Ram Naresh Reddy</td>
                                <td>ECE</td>
                                <td>50</td>
                                <td>Yes</td>
                            </tr>
                            <tr ng-click="openStudentDetails(x)">
                                <td style="text-align: center" class="checkboxs"><input type="checkbox" ng-model="data.isssChecked" ng-class="{selected: data.isChecked}" ng-change="selectEntity(data)"></td>
                                <td>C18</td>
                                <td>Mr . Ram Naresh Reddy</td>
                                <td>ECE</td>
                                <td>50</td>
                                <td>Yes</td>
                            </tr>
                            <tr ng-click="openStudentDetails(x)">
                                <td style="text-align: center" class="checkboxs"><input type="checkbox" ng-model="data.issChecked" ng-class="{selected: data.isChecked}" ng-change="selectEntity(data)"></td>
                                <td>C18</td>
                                <td>Mr . Ram Naresh Reddy</td>
                                <td>ECE</td>
                                <td>50</td>
                                <td>Yes</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>