<style>
         .table-custom-tables-tb .table-bordered > thead > tr > th {
   position:sticky;
   top:0px;
   
}
</style>
<div ng-controller="DaywiseNrReportsController">
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>NR Session Wise Report</h5>
                <ol class="breadcrumb">
                    <li><a href="#!/Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li><a href="#!/Dashboard/PreExamination">PreExamination </a></li>
                    <li><a href="#!/Dashboard/PreExamination/NrSessionWiseReport">NR Session Wise Report</a></li>
                </ol>
            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <section>
        <div class="container">
            <div class="col-md-12">
                <a href="#!/Dashboard/PreExamination" class="backA"><button class="btn bck_btn"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</button></a>
            </div>
            <div class="sm-spacer"></div>
            <div class="col-md-12 ng-scope" >
                <div class="cl-details">
                    <h2>NR Session Wise Report</h2>
                </div>
            </div>
            <div class="col-md-12">
                <form name="SetDatesForm" ng-submit="submit(CurrentMonthYear)">
                    <div class="base-row" style="padding:15px!important;">
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="sel1">
                                    Academic Year :
                                </label>
                                <select class="form-control" ng-model="AcademicYear" name="StudentType" required
                                        ng-options="Student.AcademicID as Student.AcademicYear for Student in GetAcademicYears">
                                    <option value="" selected>Select Academic Year</option>
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="sel1">
                                    Student Type :
                                </label>

                                <select class="form-control" ng-model="SelStudentType" name="StudentType" required
                                        ng-options="Student.id as Student.type for Student in StudentType">

                                    <option value="" selected>Select Student Type</option>
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="sel1">
                                    Exam Month/Year :
                                </label>
                                <select class="form-control" id="ExamYear" ng-model="monthyear" required>
                                    <option value="" selected>Select Month/Year of Exam</option>
                                    <option ng-repeat="monYer in MonthAndYear" value="{{monYer.Id}}">
                                        {{monYer.ExamYearMonth}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button class="btn  btn-info  btn_top pull-left" style="margin-top: 24px!important;" ng-click="SetDatesForm.$valid && GetDetails(DataTypeId)">
                                    Get Report
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12" ng-if="loading">
                <div class="sm-spacer"></div>
                <div style="width:100%;text-align:center;">
                    <img src="../../../contents/img/loading2.gif" ng-if="loading" width="100" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="pull-right" ng-show="result">
                    <a class="ExportToExcel1 pointer"
                       id="ExportToExcel1" ng-click="DownloadExcel('#tblParent')">
                        <i class="fa fa-file-excel-o"></i>
                        Export to Excel
                    </a>
                </div>
            </div>
            <div class="col-md-12" ng-show="result">
                <div class="cl-details">
                    <h2> NR Session Wise Report</h2>
                </div>
                <div  class="table-responsive table-custom-tables-tb scrollbox">
                    <table class="table table-bordered table-hover table-striped table-rounded scrollbox-content" id="tblParent">
                        <thead>
                            <tr class="cb-1">
                                <th style="width: 2%;">S.No</th>
                                <th style="width: 3%;" ng-repeat="column in tableData[0].cols">{{column}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in tableData[0].rows">
                                <td style="width: 2%;" class="text-left">{{$index + 1}}</td>
                                <td ng-repeat="column in tableData[0].cols">{{row[column]}}</td>
                            </tr>
                        </tbody>
                        <!--<thead>
                            <tr class="cb-1">
                                <th width="5%">S.No</th>
                                <th>Exam Center Code</th>
                                <th>Exam Center Name</th>
                                <th>Fee Paid Students Count</th>
                                <th>Total Students Count</th>
                            </tr>
                        </thead>
                       
                        <tbody>
                            <tr ng-repeat="x in CollegeTransferedList track by $index" ng-click="openReport(x.semid)">
                                <td>{{$index+1}}</td>
                                <td>{{x.ExamCenterCode}} </td>
                                <td>{{x.ExamCenterName}}</td>
                                <td>{{x.ExamCenterCode}} </td>
                                <td>{{x.TotalStudentsCount}}</td>
                            </tr>
                           
                        </tbody>-->
                    </table>
                </div>
            </div>
            <!--<div class="col-md-12" ng-show="DataTypeId==2 && result">
                <div class="cl-details">
                    <h2> Branch Wise Fee Payment Reports</h2>
                </div>
                <div id="tblParent" class="table-responsive table-custom-tables-tb scrollbox">
                    <table class="table table-bordered table-hover table-striped table-rounded scrollbox-content">
                        <thead>
                            <tr class="cb-1">
                                <th width="5%">S.No</th>
                                <th>Scheme</th>
                                <th>Branch Code</th>
                                <th>Fee Paid Students Count</th>
                                <th>Total Students Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in CollegeTransferedList track by $index" ng-click="openReport(x.branchid)">
                                <td>{{$index+1}}</td>
                                <td>{{x.Scheme}} </td>
                                <td>{{x.BranchCode}}</td>
                                <td>{{x.FeePaidStudentsCount}} </td>
                                <td>{{x.TotalStudentsCount}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>-->

            <div class="spacer"></div>
            <div class="col-md-12">
                <div ng-if="Noresult" class="no-results">
                    <img src="../../contents/img/Folder-Icon.svg" />
                    <h2>No Result Found</h2>
                </div>
            </div>
        </div>
        <div class="sm-spacer"></div>
    </section>

</div>