

<div ng-controller="EnableFeepaymentController" ng-show="UserId==812|| UserId==1">
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>Enable FeePayment </h5>
                <ol class="breadcrumb">
                    <li><a href="#!/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#!/Dashboard/PreExamination">Pre Examination</a></li>
                    <li><a href="#!/Dashboard/FeePayment/EnableFeePayment">Enable FeePayment </a></li>
                </ol>
            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>

    <div class="container">
        <div class="col-md-12">
            <button class="btn bck_btn"><a href="#!/Dashboard/PreExamination" class="backA"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>  Back</a></button>
        </div>
    </div>
    <!--<div class="container" ng-show="UserId !=1 && UserId !=812">
        <div class="col-md-12">
            <div class="no-results">
                <img src="../../contents/img/Folder-Icon.svg" />-->
                <!--<h2>Under Maintainance will Resume Soon</h2>-->
                <!--<h2> UnAuthorized Access</h2>
            </div>
        </div>
    </div>-->
    <div class="container">
        <div class="alert alert-info">
            <form name="dataForm">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label for="sel1">
                            Exam Type:
                        </label>
                        <select class="form-control" ng-model="StudentTypeId" name="StudentType" required>
                            <option value="" selected>Select Exam Type</option>
                            <option ng-repeat="Student in StudentType" value="{{Student.id}}">
                                {{Student.type}}
                            </option>
                            <!--ng-options="Student.type for Student in StudentType">-->
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="sel1">
                            Exam Month Year:
                        </label>
                        <select class="form-control" ng-model="ExamMonthYear" name="ExamMonthYear" required>
                            <option value="" selected>Select Month Year</option>
                            <option ng-repeat="data in getExamMonthYears" value="{{data.Id}}">
                                {{data.ExamYearMonth}}
                            </option>
                            <!--ng-options="Student.type for Student in StudentType">-->
                        </select>
                    </div>
                    <div class="col-md-3 form-group" ng-show="StudentTypeId==2">
                        <label for="sel1">
                            Semester:
                        </label>
                        <select class="form-control" ng-model="Semester" name="Sem">
                            <option value="" selected>Select Semester</option>
                            <option ng-repeat="Student in GetSemesters" value="{{Student.SemId}}">
                                {{Student.Sem}}
                            </option>
                            <!--ng-options="Student.type for Student in StudentType">-->
                        </select>
                    </div>
                    <!--<div class="col-md-3 form-group">
                        <label for="sel1">
                            Select Fee:
                        </label>
                        <select class="form-control" ng-model="SelectedFeeType" name="FeeType" ng-change="ChangeFee(SelectedFeeType)"  required>
                            <option value="" selected>Select Fee</option>
                            <option ng-repeat="data in FeeTypes" value="{{data}}">
                                {{data.FeeType}}(Rs {{data.FeeAmount}})
                            </option>

                        </select>
                    </div>-->
                    <div class="form-group col-md-3">
                        <label for="sel1">
                            Enter Fee :
                        </label>
                        <input class="form-control" type="text"  onkeypress="return /[0-9]/i.test(event.key)"  onpaste="return /[0-9]/i.test(event.key)" maxlength="5" placeholder="Enter Fee" ng-model="Fee" required />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="sel1">
                            Enter Late Fee :
                        </label>
                        <input class="form-control" type="text"  onkeypress="return /[0-9]/i.test(event.key)"  onpaste="return /[0-9]/i.test(event.key)" maxlength="5" placeholder="Enter Late Fee" ng-model="LateFee" required />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="sel1">
                            Enter Tatkal Fee :
                        </label>
                        <input class="form-control" type="text"  onkeypress="return /[0-9]/i.test(event.key)"  onpaste="return /[0-9]/i.test(event.key)" maxlength="5" placeholder="Enter Tatkal Fee" ng-model="TatkalFee" required />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="sel1">
                            Enter Premium Tatkal Fee :
                        </label>
                        <input class="form-control" type="text"  onkeypress="return /[0-9]/i.test(event.key)"  onpaste="return /[0-9]/i.test(event.key)" maxlength="5" placeholder="Enter Premium Tatkal Fee" ng-model="PremiumTatkalFee" required />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="sel1">
                            Enter PIN number :
                        </label>
                        <input class="form-control" type="text"  onkeypress="return /[0-9a-zA-Z-]/i.test(event.key)"  onpaste="return /[0-9a-zA-Z-]/i.test(event.key)"  placeholder="Enter PIN" ng-model="Pin" required />
                    </div>
                    <div class="col-md-12 ">
                        <div class="gr-btn">
                            <button type="submit" class="btn btn-sm btn-primary gr-button  pull-right" ng-click="dataForm.$valid && Submit()">Enable Fee Payment<span class="fa fa-arrow-down heading_icon btn_icons"></span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>