<html>
<head>

    <style>
        .modal-dialog {
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="modal-header ">
        <h4 class="modal-title text-center">
            <b>Upload COE Signature</b>
            <button type="button" class="btn btn-circle btn-sm btn-info btn-close btn-modal-close" ng-click="closeModal()">&times;</button>

        </h4>
    </div>
    <!--<div class="col-md-6 ">
        <div class="cl-details">
            <h2>Upload COE Signature</h2>
            <button type="button" class="btn btn-circle btn-sm btn-info btn-close btn-modal-close" ng-click="closeModal()">&times;</button>
        </div>
    </div>-->
    <!--  <section class="content">-->
    <div class="modal-body">
        <div class="col-md-12 ">
            <div class="alert alert-info">
                <div class="studWishinputs">
                    <div class="row userRow">
                        <div class="col-md-6 font_bold">
                            Upload COE Signature
                        </div>
                        <div class="col-md-6">
                            <input class="inputCls" id="ApplicationLetter" type="file" placeholder="" onchange="angular.element(this).scope().UploadApplication()" accept="image/*" ng-model="upldfile1" />
                        </div>
                    </div>
                    <div class="row userRow">
                        <div class="col-md-6 font_bold">
                            View COE Signature
                        </div>
                        <div class="col-md-6">
                            <img ng-src="{{ApplicationLetter1}}" style="border: 2px solid #ddd;" height="175" width="150" id="ViewApplicationLetter" oncontextmenu="return false;"
        draggable="false" />
                        </div>
                    </div>

                    <!--<div class="col-md-2 pull-right">
                        <div class="gr-btn">
                            <button type="button" style="margin-bottom:10px;" class="btn btn-primary gr-button" ng-click="UploadSignature()">Upload COE Sign</button>
                        </div>
                    </div>-->
                </div>

            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" ng-click="closeModal()">Cancel</button>
        <button type="button" style="margin-bottom:10px;" class="btn btn-primary gr-button" ng-click="UploadSignature()">Upload COE Sign</button>
    </div>
</body>
</html>
