<style>
    input,  select { 
  margin-top: 10px; display: block;
}

input[type=radio] {
  display: inline;

}
.mylabel{
    padding: 0px 20px;
}
/*
Copyright 2018 Google LLC. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found
in the LICENSE file at http://material.angularjs.org/HEAD/license.
*/
</style>
<div ng-controller="StudentFeedbackFormController">
  <!--<div class="breadcrumb-header">
         breadcrumb Open

        <div class="container">
            <section class="content-header">
                <h5>Student feedback Form</h5>
                <ol class="breadcrumb">
                    <li><a href="#!/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#!/Dashboard/PreExamination">Pre Examination</a></li>
                    <li><a href="#!/Dashboard/PreExamination/StudentFeedbackForm">Student Feedback Form </a></li>

                </ol>
            </section>
        </div>
       
         breadcrumb Close 
    </div>
    
    <div class="container base-row ">
        <div class="row ">
            <div class="col-md-4">
                <div class="">
                    <div class="col-md-5">
                        <label class="" for="collegSelect">Faculty Name:</label>
                    </div>
                   Avinash Kumar

                </div>
            </div>

            <div class="col-md-4">
                <div class="">
                    <div class="col-md-5">
                        <label class="" for="collegSelect"> Name of the Subject :</label>
                    </div>
                  MPMC
                </div>
            </div>

            <div class="col-md-4">
                <div class="">
                    <div class="col-md-5">
                        <label class="" for="collegSelect"> Semester :</label>
                    </div>
                   Sem 4
                </div>
            </div>

        </div>
        </div>
  
    <div class="container base-row ">
        <div class="row">
        <div class="col-md-12"><b>Please Fill the Chooses</b></div>
          <hr />
            <div class="col-md-6">1. {{question.questionText}}</div>
            <div class="col-md-6">
                <label class="mylabel" data-ng-repeat="choice in question.choices">
                    <input type="radio" name="response" ng-change="changeRadio(answer)" data-ng-model="answer" ng-value="choice.id" />
                    {{choice.text}}
                </label>

            </div>
            <div class="col-md-6">2. {{question1.questionText}}</div>
            <div class="col-md-6">
                <label class="mylabel" data-ng-repeat="choice in question1.choices">
                    <input type="radio" name="response" ng-change="changeRadio1(answer1)" data-ng-model="answer1" ng-value="choice.id" />
                    {{choice.text}}
                </label>

            </div>
            <div class="col-md-6">3. {{question2.questionText}}</div>
            <div class="col-md-6">
                <label class="mylabel" data-ng-repeat="choice in question2.choices">
                    <input type="radio" name="response" ng-change="changeRadio2(answer2)" data-ng-model="answer2" ng-value="choice.id" />
                    {{choice.text}}
                </label>

            </div>
            <div class="col-md-6">4. {{question3.questionText}}</div>
            <div class="col-md-6">
                <label class="mylabel" data-ng-repeat="choice in question3.choices">
                    <input type="radio" name="response" ng-change="changeRadio3(answer3)" data-ng-model="answer3" ng-value="choice.id" />
                    {{choice.text}}
                </label>

            </div>

            <div class="col-md-12">
                <label><b>Comment</b></label>
                <textarea rows="4" style="width:100%"></textarea>
            </div>
           
            <div class="col-md-12">
                <button class="btn pull-right btn-success" style="margin-top:20px;">Submit</button>
            </div>-->

      <h4 style="text-align:center;"><b>STUDENT'S FEEDBACK FORM</b></h4>
    <h5 style="font-family:sans-serif;text-align:center">(to be used by instituions)</h5>
    <table>

    </table>
    </div>
