<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <h3 class="text-center">Preview</h3>
    <div  class="table-responsive table-custom-tables-tb col-md-12">
        <table class="table table-bordered  table-striped table-rounded">
            <thead>
                <tr class="cb-1">
                    <!--<th style="width: 1%;"><input type="checkbox" ng-model="allItemsSelected" ng-change="selectAll()"></th>-->
                    <th style="width: 2%;">S.No</th>
                    <th ng-click="sort('Scheme')">Days</th>
                    <th class="" ng-click="sort('Semester')">Time</th>
                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">G1</th>
                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">G2</th>
                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">G3</th>
                    <th class="text-center" style="width: 10%" ng-click="sort('On Roll')">G4</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr style="background-color:#fff!important;cursor:pointer" ng-repeat="x in tableData" >
                    <!--<td style="text-align: center" class="checkboxs"><input type="checkbox" ng-model="data.isChecked" ng-class="{selected: data.isChecked}" ng-change="selectEntity(data)"></td>-->               
                     <td class="text-center">{{$index + 1}}</td>
                    <td class="text-center">{{x.slot}}</td>
                    <td class="text-center">{{x.time}}</td>
                    <td class="text-center">{{x.g1}}</td>
                    <td class="text-center">{{x.g2}}</td>
                    <td class="text-center">{{x.g3}}</td>
                    <td class="text-center">{{x.g4}}</td>
                 
                </tr>
             
            </tbody>
        </table>
        </div>
    <div class="col-md-12">
        <button class="btn btn-success pull-right" style="margin-bottom:20px!important" ng-click="closeModal()">Submit</button>
    </div>
</body>
</html>
