<style>
    /*.multiselect {
  width: 200px;
}*/

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
.contain {
     display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    /* padding-top: 5px; */
    cursor: pointer;
    margin: 5px!important;
      font-size: 15px!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.contain input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  border: 1px solid #cac6c6;
}

/* On mouse-over, add a grey background color */
.contain:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.contain input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contain input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
    .contain .checkmark:after {
        left: 8px;
        top: 4px;
        width: 6px;
        height: 12px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

<div ng-controller="NotificationController">
    <div class="breadcrumb-header">
        <!-- breadcrumb Open -->
        <div class="container">
            <section class="content-header">
                <h5>Notification</h5>
                <ol class="breadcrumb">
                    <li><a href="#!/Dashboard"><i class="fa fa-dashboard"> Dashboard</i> </a></li>
                    <li><a href="#!/Dashboard/MasterSettings">Circulars dashboard</a></li>
                    <li><a href="#!/Dashboard/MasterSettings/Notification">Notification</a></li>
                </ol>
            </section>
        </div>
        <!-- breadcrumb Close -->
    </div>
    <section class="content">
        <div class="container">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <div class="studWishinputs">
                        <form novalidate="" class="ng-pristine ng-invalid ng-invalid-required">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>User Type</label>
                                        <div class="multiselect">
                                            <div class="selectBox" ng-click="showCheckboxes()">
                                                <select class="form-control ">
                                                    <option ng-blur="closeCheckbox()">Select an option</option>
                                                </select>
                                                <div class="overSelect"></div>
                                            </div>
                                            <div id="checkboxes" style="max-height: 12em; overflow-y: scroll;">
                                                <label class="contain">
                                                    <input type="checkbox" ng-click="toggleAll()" ng-model="isAllSelected" /><span class="checkmark"></span>Select All
                                                </label>
                                                <label class="contain" ng-repeat="data in userTypes">
                                                    <input type="checkbox" ng-model="data.selected" ng-change="optionToggled(data.selected)"><span class="checkmark"></span>{{data.UserType}}
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="col-md-4">
                                        <label>Start Date</label>
                                        <sa-date ng-model="StartDate" displaylabel="Start Date" object="StatrtDate" objectname="StatrtDate" length="100" ispascal="true"> </sa-date>
                                    </div>
                                    <div class="col-md-4">
                                        <label>End Date</label>
                                        <sa-date ng-model="EndDate" displaylabel="End Date" object="EndDate" objectname="EndDate" length="100" ispascal="true"> </sa-date>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label>Notification Message</label>
                                            <textarea rows="5" style="resize:none" onkeypress="return /[0-9a-zA-Z ]/i.test(event.key)"  onpaste="return /[0-9a-zA-Z ]/i.test(event.key)" ng-model="UserNotification" class="form-control"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button style="margin-top:105px;" class="btn btn-sm btn-primary gr-button btn_top pull-left" ng-click="setNotification()">
                                                Submit
                                                <span class="fa fa-arrow-down heading_icon btn_icons"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
       
            <div class="col-md-12 " ng-show="result">
                <div class="sm-spacer"></div>
                <div class="cl-details">
                    <h2>Notification</h2>
                </div>

                <div class="table-responsive table-custom-tables-tb">
                    <table class="table table-bordered table-hover table-striped table-rounded">
                        <thead>
                            <tr class="cb-1">
                                <th>S no</th>
                                <th>Role</th>
                                <th>Notification</th>       
                                <th>From Date</th>
                                <th>To Date</th>
                                <th style="text-align:center;">Delete notification</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="data in getNotifications">
                              <td>{{$index+1}}</td>
                              <td>{{data.UserType}}</td>
                              <td>{{data.Notification}}</td>
                              <td>{{data.FromDate| date:'dd-MMM-yyyy'}}</td>
                              <td>{{data.ToDate| date:'dd-MMM-yyyy'}}</td>
                                                         
                              <td style="text-align:center">
                                <!--  <button class="btn-xs btn btn-success" ng-if="data.IsActive == true" ng-click="notifcationInactive(data.Id)"><span >Active</span></button>-->
                                  <button class="btn-xs btn btn-danger" ng-click="notifcationInactive(data.Id)"><span >Delete</span></button>

                              </td>
                                 <!-- <button class="btn-xs btn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>-->
                             
                           </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12" ng-show="NoResult">
                <div class="col-md-12 no-results">
                    <img src="../../contents/img/Folder-Icon.svg" />
                    <h2>No Data</h2>
                </div>
            </div>

        </div>
        <div class="sm-spacer"></div>
    </section>
 
</div>