<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BasicAreas">
    <title>Area</title>
</head>
<body>
    <div ng-controller="BasicAreasListController">
        <!-- New Style Start-->
        <div class="container">
            <div class="row ctitle">
                <div class="col-md-2">
                    <span><strong>Area</strong></span>
                </div>
                <div class="col-md-3">

                    <span class="filter-txt">Sort By:</span>
                    <select class="filter-box" ng-model="BasicAreas.ActiveFlag" id="ActiveFlag" ng-change="FillAreasList(BasicAreas.ActiveFlag)">
                        <option value="">  All </option>
                        <option value="1"> Active </option>
                        <option value="0"> Inactive </option>
                    </select>

                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>General</li>
                        <li>Area</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">
                <div class="row">
                    <div class="col-md-12">
                        <form action="#">
                            <div id="BasicAreas" ej-grid e-recorddoubleclick="doubleclick" e-allowgrouping="true" e-allowsorting="true" e-allowresizing="true"
                                 e-datasource="BasicAreasList"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- New Style End-->
    </div>
</body>
</html>

