<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Users">
    <title>Basic Community</title>
</head>
<body>
	<div ng-controller="BasicCommunityListController">
		<div class="panel-group">
			<div class="panel">
				<div class="panel-heading header_background"><span class="heading_icon"></span><b> Community </b></div>
				<div class="panel-body form_border">
					<form action="#">
						<div id="BasicCommunitys" ej-grid e-recorddoubleclick="doubleclick" e-allowgrouping="true" e-allowsorting="true" e-allowresizing="true"
							 e-datasource="BasicCommunityList"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

