<!DOCTYPE html>
<html>
<head>
	<title> Reservation Category </title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div ng-controller="BasicReservCategoryController">
		<div class="container top_margin">
			<div class="container col-xs-12">
				<div class="panel-group">
					<div class="panel">
						<div class="panel-heading header_background"><span class="fa fa-book heading_icon"></span><b>Reservation Category</b></div>
						<div class="panel-body form_border">
							<form action="#">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group" ng-show="false">
											<label class=" control-label col-lg-2">ResCatID :</label>
											<div class="col-lg-1">
												<input type="text" class="form-control" ng-model="BasicReservCategory.ResCatID" id="ResCatID">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="Name">Name:</label>
											<input type="text" class="form-control" ng-model="BasicReservCategory.ResCatName" no-Special-Char id="ResCatName">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="ShortName">Short Name:</label>
											<input type="text" class="form-control" ng-model="BasicReservCategory.ResCatCode" no-Special-Char id="ResCatCode">
										</div>
									</div>
									<div class="col-md-4">
										<label for="sel1">Reservation Category Type :</label>
										<select class="form-control" id="sel1">
											<option>Reservation Category Type 1</option>
											<option>Reservation Category Type 1</option>
											<option>Reservation Category Type 1</option>
											<option>Reservation Category Type 1</option>
										</select>
									</div>
								</div>
								<div class="col-md-12">
									<center>
										<button type="button" class="btn form_btn_align save_btn" ng-click="SaveBasicReservCategory()">SUBMIT<span class="fa fa-save heading_icon btn_icons"></span></button>
										<button type="button" class="btn form_btn_align delete_btn" ng-click="DeleteBasicReservCategory()" >DELETE<span class="fa fa-trash heading_icon btn_icons"></span></button>
										<button type="reset" class="btn form_btn_align cancel_btn" ng-click="Exit()">CANCEL<span class="fa fa-remove heading_icon btn_icons"></span></button>
									</center>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
	</html>