<!DOCTYPE html>
<html>
<head>
    <title> Stream Grades </title>
</head>
<body>
    <div ng-controller="BasicCourseGradesController">
        <div class="container">
            <!-- New Style Start-->
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>Stream Grades</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>

                        <li>General</li>
                        <li>Stream Grades</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">
                <form action="#">
                    <div class="col-md-12">
                        <div class="form-group" ng-show="false">
                            <label>CoGradeID :</label>
                            <input type="text" class="form-control" ng-model="BasicCourseGrades.CoGradeID" id="CoGradeID">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="showhide">
                            <div style="margin-top:20px;" class="row">
                                <div class="col-md-3 col-md-offset-2">
                                    <div class="form-group">
                                        <label for="sel1">Stream :</label>
                                        <select class="form-control" ng-model="BasicCourseGrades.CourseID" id="CourseID">
                                            <option value="">--Select Stream --</option>
                                            <option ng-selected="BasicCourseGrades.CourseID == option.CourseID" ng-repeat="option in BasicCourseList" value="{{option.CourseID}}">{{option.CourseName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="sel1"> Grade :</label>
                                        <select class="form-control" ng-model="BasicCourseGrades.EvalGrdID" id="EvalGrdID">
                                            <option value="">--Select Grade --</option>
                                            <option ng-selected="BasicCourseGrades.EvalGrdID == option.EvalGrdID" ng-repeat="option in BasicEvalGradeList" value="{{option.EvalGrdID}}">{{option.EvalGrdName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="email"> Stream Grade  :</label>
                                        <input type="text" class="form-control" ng-model="BasicCourseGrades.GrdName" no-Special-Char id="GrdName" placeholder="Course Grade Name" ng-maxlength="20">
                                    </div>
                                </div>
                                <div class="col-md-2 col-md-offset-2">
                                    <div class="form-group">
                                        <label for="email">Maximum Mark's :</label>
                                        <input type="text" class="form-control" ng-model="BasicCourseGrades.MaxMarks" id="MaxMarks" input-Number-Only placeholder="Max. Mark's" ng-maxlength="5">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="email">Minimum Mark's :</label>
                                        <input type="text" class="form-control" ng-model="BasicCourseGrades.MinMarks" id="MinMarks" input-Number-Only placeholder="Min. Mark's" ng-maxlength="5">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="email">Remark :</label>
                                        <input type="text" class="form-control" ng-model="BasicCourseGrades.Remark" id="Remark" placeholder="Remark" ng-maxlength="40">
                                    </div>
                                </div>
                                <div style="margin-top: 22px;" class="col-md-3">
                                    <button type="button" ng-disabled="isupdatableDisable" class="btn btn-sm btn-detail" ng-click="SaveBasicCourseGrades()">Save</button>
                                    <button type="button" ng-disabled="isdeletableDisable" class="btn btn-sm btn-danger" ng-click="DeleteBasicCourseGrades()">Delete</button>
                                    <button type="reset" class="btn btn-sm btn-reset" ng-click="Exit()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- New Style End-->
        </div>





       <!-- <div class="container top_margin">
            <div class="container col-xs-12">
                <div class="panel-group">
                    <div class="panel">
                        <div class="panel-heading header_background"><span class="heading_icon"></span><b> Stream Grades </b></div>
                        <div class="panel-body form_border">
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" ng-show="false">
                                            <label class=" control-label col-lg-2">CoGradeID:</label>
                                            <div class="col-lg-1">
                                                <input type="text" class="form-control" ng-model="BasicCourseGrades.CoGradeID" id="CoGradeID">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="sel1">Stream :</label>
                                            <select class="form-control" ng-model="BasicCourseGrades.CourseID" id="CourseID">
                                                <option value="">--Select Stream --</option>
                                                <option ng-selected="BasicCourseGrades.CourseID == option.CourseID" ng-repeat="option in BasicCourseList" value="{{option.CourseID}}">{{option.CourseName}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="sel1"> Grade :</label>
                                            <select class="form-control" ng-model="BasicCourseGrades.EvalGrdID" id="EvalGrdID">
                                                <option value="">--Select Grade --</option>
                                                <option ng-selected="BasicCourseGrades.EvalGrdID == option.EvalGrdID" ng-repeat="option in BasicEvalGradeList" value="{{option.EvalGrdID}}">{{option.EvalGrdName}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="email"> Stream Grade  :</label>
                                                <input type="text" class="form-control" ng-model="BasicCourseGrades.GrdName" no-Special-Char id="GrdName" placeholder="Course Grade Name" ng-maxlength="20">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Maximum Mark's :</label>
                                            <input type="text" class="form-control" ng-model="BasicCourseGrades.MaxMarks" id="MaxMarks" input-Number-Only placeholder="Max. Mark's" ng-maxlength="5">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Minimum Mark's :</label>
                                            <input type="text" class="form-control" ng-model="BasicCourseGrades.MinMarks" id="MinMarks" input-Number-Only placeholder="Min. Mark's" ng-maxlength="5">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Remark :</label>
                                            <input type="text" class="form-control" ng-model="BasicCourseGrades.Remark" id="Remark" placeholder="Remark" ng-maxlength="40">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <center>
                                        <button ng-disabled="isupdatableDisable" type="button" class="btn form_btn_align save_btn" ng-click="SaveBasicCourseGrades()">SAVE<span class="fa fa-save heading_icon btn_icons"></span></button>
                                        <button ng-disabled="isdeletableDisable" type="button" class="btn form_btn_align delete_btn" ng-click="DeleteBasicCourseGrades()">DELETE<span class="fa fa-trash heading_icon btn_icons"></span></button>
                                        <button type="reset" class="btn form_btn_align cancel_btn" ng-click="Exit()">CANCEL<span class="fa fa-remove heading_icon btn_icons"></span></button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</body>
</html>