<!DOCTYPE html>
<html>
<head>
	<title> Packet </title>
</head>
<body>
    <div ng-controller="BasicPacketController">
        <div class="container">
            <!-- New Style Start-->
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>Packet</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>

                        <li>General</li>
                        <li>Packet</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">
                <form action="#">
                    <div class="col-md-12">
                        <div class="form-group" ng-show="false">
                            <label>PcktID :</label>
                            <input type="text" class="form-control" ng-model="BasicPacket.PcktID" id="PcktID">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="showhide">
                            <div style="margin-top:20px;" class="row">
                                <div class="col-md-2 col-md-offset-3">
                                    <div class="form-group">
                                        <label for="Name">Name:</label>
                                        <input type="text" class="form-control" ng-model="BasicPacket.PcktName" maxlength="20" no-Special-Char id="PcktName">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Size">Size:</label>
                                        <input type="text" class="form-control" ng-model="BasicPacket.PcktSize" input-Number-Only maxlength="4" no-Special-Char id="PcktSize">
                                    </div>
                                </div>
                                <div style="margin-top: 22px;" class="col-md-3">
                                    <button type="button" ng-disabled="isupdatableDisable" class="btn btn-sm btn-detail"  ng-click="SaveBasicPacket()">Save</button>
                                    <button type="button" ng-disabled="isdeletableDisable" class="btn btn-sm btn-danger"  ng-click="DeleteBasicPacket()">Delete</button>
                                    <button type="reset" class="btn btn-sm btn-reset" ng-click="Exit()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- New Style End-->
        </div>




       <!-- <div class="container top_margin">
            <div class="container col-xs-12">
                <div class="panel-group">
                    <div class="panel">
                        <div class="panel-heading header_background"><span class="fa fa-book heading_icon"></span><b>Packet</b></div>
                        <div class="panel-body form_border">
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" ng-show="false">
                                            <label class=" control-label col-lg-2">PcktID :</label>
                                            <div class="col-lg-1">
                                                <input type="text" class="form-control" ng-model="BasicPacket.PcktID" id="PcktID">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Name">Name:</label>
                                            <input type="text" class="form-control" ng-model="BasicPacket.PcktName" maxlength="20" no-Special-Char id="PcktName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Size">Size:</label>
                                            <input type="text" class="form-control" ng-model="BasicPacket.PcktSize" input-Number-Only maxlength="4" no-Special-Char id="PcktSize">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <center>
                                        <button type="button" ng-disabled="isupdatableDisable" class="btn form_btn_align save_btn" ng-click="SaveBasicPacket()">SUBMIT<span class="fa fa-save heading_icon btn_icons"></span></button>
                                        <button type="button" ng-disabled="isdeletableDisable" class="btn form_btn_align delete_btn" ng-click="DeleteBasicPacket()">DELETE<span class="fa fa-trash heading_icon btn_icons"></span></button>
                                        <button type="reset" class="btn form_btn_align cancel_btn" ng-click="Exit()">CANCEL<span class="fa fa-remove heading_icon btn_icons"></span></button>
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
	</body>
	</html>