<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="BasicCommunity">
	<title>Community</title>
</head>
<body>
	<div ng-controller="BasicCommunityController">
		<div>
			<div class="container col-xs-12">
				<div class="panel-group">
					<div class="panel">
						<div class="panel-heading header_background"><span class="heading_icon"></span><b>Community</b></div>
						<div class="panel-body form_border">
							<form action="#" name="BasicCommunity" novalidate>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group" ng-show="false">
											<label class=" control-label col-lg-2">CommunityID :</label>
											<div class="col-lg-1">
												<input type="text" class="form-control" ng-model="BasicCommunity.CommunityID" id="CommunityID">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="email">Name:</label>
											<input type="text" class="form-control" ng-model="BasicCommunity.CommName" no-Special-Char  id="CommName" required="" maxlength="40" placeholder="Community Name">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="email">Short-Name:</label>
											<input type="text" class="form-control" ng-model="BasicCommunity.CommCode" no-Special-Char  id="CommCode" required="" maxlength="2" placeholder="Community Short Name">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label for="sel1">Community Code :</label>
											<input type="text" class="form-control" ng-model="BasicCommunity.CommunityCode" no-Special-Char id="CommunityCode"  maxlength="10" required="" placeholder="Community Code">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<center>
										<button type="button"  ng-disabled="isupdatableDisable" class="btn form_btn_align save_btn" ng-click="SaveBasicCommunity()">SAVE<span class="fa fa-save heading_icon btn_icons"></span></button>
										<button type="button"  ng-disabled="isdeletableDisable" class="btn form_btn_align delete_btn" ng-click="DeleteBasicCommunity()">DELETE<span class="fa fa-trash heading_icon btn_icons"></span></button>
										<button type="reset" class="btn form_btn_align cancel_btn" ng-click="Exit()">CANCEL<span class="fa fa-remove heading_icon btn_icons"></span></button>
									</center>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
