<!DOCTYPE html>
<html>
<head>
	<title> State</title>
</head>
<body>
	<div ng-controller="BasicStateController">
		<div class="container top_margin">
			<div class="container col-xs-12">
				<div class="panel-group">
					<div class="panel">
						<div class="panel-heading header_background"><span class="heading_icon"></span><b> State</b></div>
						<div class="panel-body form_border">
							<form action="#">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group" ng-show="false">
											<label class=" control-label col-lg-2">StateID :</label>
											<div class="col-lg-1">
												<input type="text" class="form-control" ng-model="BasicState.StateID" id="StateID">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="email">Name:</label>
											<input type="text" class="form-control" ng-model="BasicState.StateName" no-Special-Char id="StateName" maxlength="40" placeholder="Enter Name">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="pwd">Code:</label>
											<input type="text" class="form-control" ng-model="BasicState.StateCode" no-Special-Char id="short-name" maxlength="2" placeholder="Short Name">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<center>
										<button type="button" ng-disabled="isupdatableDisable" class="btn form_btn_align save_btn" ng-click="SaveBasicState()">SAVE<span class="fa fa-save heading_icon btn_icons"></span></button>
										<button type="button" ng-disabled="isdeletableDisable" class="btn form_btn_align delete_btn" ng-click="DeleteBasicState()">DELETE<span class="fa fa-trash heading_icon btn_icons"></span></button>
										<button type="button" class="btn form_btn_align cancel_btn" ng-click="Exit()">CANCEL<span class="fa fa-remove heading_icon btn_icons"></span></button>
									</center>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>