<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Users">
    <title>Basic Subject  Packet</title>
</head>
<body>
    <div ng-controller="BasicSubPacktListController">
        <div class="container-fluid">
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>Basic Subject  Packet</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>Home</li>
                        <li>Acamidacs</li>
                        <li>Basic Subject  Packet</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">
                <div class="col-md-12">
                    <form action="#">
                        <div id="BasicSubPackt" ej-grid e-recorddoubleclick="doubleclick" e-allowgrouping="true" e-allowsorting="true" e-allowresizing="true"
                             e-datasource="BasicSubPacktList"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

