<!DOCTYPE html>
<html lang="en">
<head>
	<title> Management Type </title>
</head>
<body>
    <div ng-controller="BasicManagementTypeListController">
        <!-- New Style Start-->
        <div class="container">
            <div class="row ctitle">
                <div class="col-md-2">
                    <span><strong>Management Type</strong></span>
                </div>
                <div class="col-md-3">

                    <span class="filter-txt">Sort By:</span>
                    <select class="filter-box" ng-model="BasicDistricts.ActiveFlag" id="ActiveFlag" ng-change="FillDistrictList(BasicDistricts.ActiveFlag)">
                        <option value="">  All </option>
                        <option value="1"> Active </option>
                        <option value="0"> Inactive </option>
                    </select>

                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>General</li>
                        <li>Management Type</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">
                <div class="row">
                    <div class="col-md-12">
                        <form action="#">
                            <div id="BasicManagementType" ej-grid e-recorddoubleclick="doubleclick" e-allowgrouping="true" e-allowsorting="true" e-allowresizing="true"
                                 e-datasource="BasicManagementTypeList"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- New Style End-->
    </div>
</body>
</html>

