<!DOCTYPE html>
<html>
<head>
	<title>  Management Type </title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div ng-controller="BasicManagementTypeController">
		<div class="container top_margin">
			<div class="container col-xs-12">
				<div class="panel-group">
					<div class="panel">
						<div class="panel-heading header_background"><span class="fa fa-book heading_icon"></span><b> Management Type </b></div>
						<div class="panel-body form_border">
							<form action="#">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group" ng-show="false">
											<label class=" control-label col-lg-2">MngtTypID :</label>
											<div class="col-lg-1">
												<input type="text" class="form-control" ng-model="BasicManagementType.MngtTypID" no-Special-Char id="MngtTypID">
											</div>
										</div>
									</div>
									<div class="col-md-4 text-right">
										<div class="form-group">
											<label for="Name">Management Type:</label>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<input type="text" class="form-control" ng-model="BasicManagementType.MngtTypName" maxlength="100" id="MngtTypName" placeholder="Enter Management Type Name">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<center>
										<button type="button"  ng-disabled="isupdatableDisable" class="btn form_btn_align save_btn" ng-click="SaveBasicManagementType()">SUBMIT<span class="fa fa-save heading_icon btn_icons"></span></button>
										<button type="button"  ng-disabled="isdeletableDisable" class="btn form_btn_align delete_btn" ng-click="DeleteBasicManagementType()">DELETE<span class="fa fa-trash heading_icon btn_icons"></span></button>
										<button type="reset" class="btn form_btn_align cancel_btn" ng-click="Exit()">CANCEL<span class="fa fa-remove heading_icon btn_icons"></span></button>
									</center>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>