<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BasicReligion">
    <title>Religion</title>
</head>
<body>
    <div ng-controller="BasicReligionController">
        <section id="main-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel">
                        <div class="box-header">
                            <div class="box-name">
                                <i class="fa fa-search"></i>
                                <span>Religion</span>
                            </div>
                        </div>
                        <div class="box-content">
							<form class="form-horizontal" name="BasicReligion" novalidate>
								<div class="col-md-12">
									<div class="form-group" ng-show="false">
										<label class=" control-label col-lg-2">ReligionID :</label>
										<div class="col-lg-1">
											<input type="text" class="form-control" ng-model="BasicReligion.ReligionID" id="ReligionID">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-lg-2">Name :</label>
										<div class="col-lg-3">
											<input type="text" class="form-control" ng-model="BasicReligion.RelgName" no-Special-Char  id="RelgName" maxlength="60">
										</div>
									</div>
								</div>
									<div class="Bottom-HozLine"></div>
									<div class="form-group">
										<div class="col-lg-offset-2 col-lg-12">
											<button ng-disabled="isupdatableDisable" type="button" class="btn btn-primary" ng-click="SaveBasicReligion()">Save</button>
											<button ng-disabled="isdeletableDisable" type="button" class="btn btn-primary" ng-click="DeleteBasicReligion()">Delete</button>
											<button type="reset" class="btn btn-default" ng-click="Exit()">Exit</button>
										</div>
									</div>
							</form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
