<!DOCTYPE html>
<html lang="en">
<head>
    <title> Mark Entry Schedule  </title>
</head>
<body>
    <div ng-controller="BasicMarksEntrScheduleController">
        <div class="container">
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong> Other Mark Entry Schedule </strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>Masters</li>
                        <li>Schedule</li>
                        <li> Other Mark Entry Schedule</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">
                <div class="col-md-12">
                    <div class="form-group" ng-show="false">
                        <!--<label> :</label>-->
                        <input type="text" class="form-control" ng-model="BasicMarksEntrSchedule.MarkEntrSchID" id="MarkEntrSchID">
                    </div>
                </div>
                <div class="col-md-12 col-md-offset-1">
                    <div class="showhide">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1"> Stream :</label>
                                    <select class="form-control" ng-model="BasicMarksEntrSchedule.CourseID" id="CourseID" ng-change="GetExamList(BasicMarksEntrSchedule.CourseID)">
                                        <option value="">--Select Stream --</option>
                                        <option ng-selected="BasicMarksEntrSchedule.CourseID == option.CourseID" ng-repeat="option in BasicCourseList" value="{{option.CourseID}}">{{option.CourseName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="SelectExam"> Year :</label>
                                    <select class="form-control" ng-model="BasicMarksEntrSchedule.ExamID" id="ExamID" ng-change="GetOtherExamSubjectList(BasicMarksEntrSchedule.ExamID)">
                                        <option value="">--Select--</option>
                                        <option ng-selected="BasicMarksEntrSchedule.ExamID == option.ExamID" ng-repeat="option in BasicExamList" value="{{option.ExamID}}">{{option.ExmName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="SelectExam"> Subject :</label>
                                    <select class="form-control" ng-model="BasicMarksEntrSchedule.ExmSubID" id="ExmSubID" ng-disabled="isExamSubjectDisable">
                                        <option value="">-- Select --</option>
                                        <option ng-selected="BasicMarksEntrSchedule.ExmSubID == option.ExmSubID" ng-repeat="option in BasicExamSubjectList" value="{{option.ExmSubID}}">{{option.ExmSubName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1">District :</label>
                                    <select class="form-control" ng-model="BasicMarksEntrSchedule.DistrictID" id="DistrictID" ng-change="GetBasicCollegeList(BasicMarksEntrSchedule.DistrictID)" ng-disabled="isDistrictDisable">
                                        <option value=""> -- ALL -- </option>
                                        <option ng-selected="BasicMarksEntrSchedule.DistrictID == option.DistrictID" ng-repeat="option in BasicDistrictList" value="{{option.DistrictID}}">{{option.DistName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1">College :</label>
                                    <select class="form-control" ng-model="BasicMarksEntrSchedule.CollegeID" id="CollegeID" ng-disabled="isCollegeDisable" >
                                        <option value="">--All --</option>
                                        <option ng-selected="BasicMarksEntrSchedule.CollegeID == option.CollegeID" ng-repeat="option in BasicCollegeList" value="{{option.CollegeID}}">{{option.ColName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--  </div>-->
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1">Start Date :</label>
                                    <input type="text" datepicker class="form-control" ng-model="BasicMarksEntrSchedule.StartDate" id="StartDate" required="">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1">End Date :</label>
                                    <input type="text" datepicker class="form-control" ng-model="BasicMarksEntrSchedule.EndDate" id="EndDate" required="">
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1"> Start Time : </label>
                                    <sa-time ng-model="BasicMarksEntrSchedule.StartTime" object="BasicMarksEntrSchedule.StartTime" objectname="StartTime" ispascal="true" compulsory="true"> </sa-time>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="sel1"> End Time : </label>
                                    <sa-time ng-model="BasicMarksEntrSchedule.EndTime" object="BasicMarksEntrSchedule.EndTime" objectname="EndTime" ispascal="true" compulsory="true"> </sa-time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"><hr></div>
                </div>
                <div class="row">
                    <div style="margin-bottom:20px;" class="col-md-12 text-center">
                        <button type="button" ng-disabled="isupdatableDisable" class="btn btn-sm btn-detail" ng-click="SaveBasicMarksEntrSchedule()">Save</button>
                        <button type="button" ng-disabled="isdeleteDisable" class="btn btn-sm btn-detail" ng-click="DeleteBasicMarksEntrSchedule()">Delete</button>
                        <button type="reset" class="btn btn-danger btn-sm" ng-click="Exit()">Exit</button>
                    </div>
                </div>
            </div>
            <!--<br />
            <div style="width:100%;text-align:center;">
                <img id="LoadImg" src="" ng-show="LoadImg" width="100" />
            </div><br /><br />-->

        </div>
    </div>
</body>
</html>
