<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="BasicAreas">
    <title>Vocational Bridge Practical Mark Entry Schedule</title>
</head>

<body>
    <div ng-controller="VocBridgePracticalExamScheduleListController">
        <!-- New Style Start-->
        <div class="container">
            <div class="row ctitle">
                <div class="col-md-2">
                    <span><strong>Vocational Bridge Practical Mark Entry Schedule</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>Schedule</li>
                        <li>Vocational Bridge Practical Mark Entry Schedule</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">
                <div class="row">
                    <div class="col-md-12">
                        <form action="#">
                            <div id="BasicMarksEntrSchedule" ej-grid e-recorddoubleclick="doubleclick" e-allowgrouping="true" e-allowsorting="true" e-allowresizing="true"
                                 e-datasource="BasicMarksEntrScheduleList"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

