<!DOCTYPE html>
<html lang="en">
<head>
    <title>Center Practical Batch Creation Vocational</title>
</head>
<body>
    <div ng-controller="CenterPracticalBatchCreationVocController">
        <div class="container">
            <div class="row ctitle">
                <div class="col-md-5">
                    <span><strong>Center Practical Batch Creation Vocational</strong></span>
                </div>
                <div class="col-md-7 text-right">
                    <ol class="breadcrumb">
                        <li>You are in </li>
                        <li>Home</li>
                        <li>Center Management</li>
                        <li>Center Practical Batch Creation Vocational<</li>
                    </ol>
                </div>
            </div>
            <div class="row base-row">

                <div class="showhide">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-2">
                            <div class="form-group">
                                <label for="sel1">District :</label>
                                <select class="form-control" ng-model="CenterPracticalBatchCreationVoc.DistrictID" id="DistrictID" ng-change="GetOtherCenterNewCode(CenterPracticalBatchCreationVoc.DistrictID)">
                                    <option value="">--Select District --</option>
                                    <option ng-selected="CenterPracticalBatchCreationVoc.DistrictID == option.DistrictID" ng-repeat="option in BasicDistrictList" value="{{option.DistrictID}}">{{option.DistName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="sel1"> Stream :</label>
                                <select class="form-control" ng-model="CenterPracticalBatchCreationVoc.CourseID" id="CourseID" ng-change="GetExamList(CenterPracticalBatchCreationVoc.CourseID)" ng-disabled="true">
                                    <option value="">--Select Stream --</option>
                                    <option ng-selected="CenterPracticalBatchCreationVoc.CourseID == option.CourseID" ng-repeat="option in BasicCourseList" value="{{option.CourseID}}">{{option.CourseName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="SelectExam"> Year :</label>
                                <select class="form-control" ng-model="CenterPracticalBatchCreationVoc.ExamID" id="ExamID">
                                    <option value="">--Select--</option>
                                    <option ng-selected="CenterPracticalBatchCreationVoc.ExamID == option.ExamID" ng-repeat="option in BasicExamList" value="{{option.ExamID}}">{{option.ExmName}}</option>
                                </select>
                            </div>
                        </div>
                        <div style="margin-top:20px;" class="col-md-4">
                            <button type="button" ng-disabled="isupdatableDisable" class="btn btn-sm btn-detail" ng-click="CenterPracticalBatchCreationVocProcess()">Process</button>
                            <button type="reset" class="btn btn-danger btn-sm" ng-click="Exit()">Exit</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12"><hr></div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
