/*================================ 
    #RESPONSIVE CSS 
====================================*/


/* Tablet Layout: 768px.*/

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Custom Device */

@media only screen and (min-width: 850px) and (max-width: 991px) {}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.time {
		display: none;
	}
}


/* Max Wide Mobile Layout: 480px. */

@media only screen and (min-width: 600px) and (max-width: 800px) {}


/* Small Mobile Layout: 480px. */

@media only screen and (max-width: 480px) {
	.time {
		display: none;
	}
	.info-menus ul {
		text-align: left;
	}
	.info-menus ul li {
		border-right: none;
		line-height: 20px;
	}
	.info-menus ul li a {
		font-size: 12px;
	}
	.collegeLogin a {
		background: none;
		color: #96a2b8;
		padding: 0px;
	}
	.site-name h2 {
		font-size: 15px;
		color: #0844a4;
		font-weight: 800;
		margin-top: -95px;
		margin-left: 110px;
	}


    button.navbar-toggler {
    float: right;
    width: 100%;
    text-align:right;
}
    .navbar-light .navbar-toggler:focus{
        outline:none;
    }

    .navbar-light .navbar-toggler{
        border:none;
    }
    .banner{
      height:180px;

    }
    .carousel-control-next, .carousel-control-prev {
        top:30%;
        width:30px;
        height:30px;
    }
    #myCarousel h4{
        font-size:25px;
        padding:30px 0px 0px 0px;
        text-align:center;
    }
        #myCarousel p{
            font-size:14px;
                 text-align:center;
        }

        #myCarousel .carousel-item a{
            padding:5px 10px;
            font-size:14px;
                 text-align:center;
                 margin:auto;
        }
        .carousel-inner {
    text-align: center;
}
	.banner-img {
		display: block;
	}
    .bgc-white ,.white{
        padding:5px;
    }
    .logo-c img {
        display: none !important;
    }

}